﻿<section class="section-bg paper-after-grey" style="background-image: url('/img/bgs/2.jpg');" ng-init="init()">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">Jugadores</h1>
                <a href="javascript:void(0);" class="btn btn-lightblue btn-small pull-right open-search"><i class="icon-search"></i> Buscar</a>
                <div class="clearfix"></div>

                <div class="panel panel-buscar clearfix">
                    <div class="col-md-12">
                        <h2>Buscar jugadores</h2>
                    </div>
                    <form class="form-default">
                        <div class="col-md-4">
                            <input id="buscar-nombre" ng-model="filter.nombre_completo"
                                   type="text" placeholder="Buscar jugadores por nombre">
                        </div>

                        <div class="col-md-3">
                            <select name="buscar-tipo-jugador" id="buscar-tipo-jugador" ng-model="filter.cod_tipo_jugador"
                                    ng-options="tipo.cod_tipo_jugador as tipo.txt_desc for tipo in tiposJugador | orderBy:'cod_tipo_jugador'" class="select2-basic">
                                <option value="0" selected>Buscar por tipo de jugador</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <select name="buscar-club" id="buscar-club" ng-model="filter.cod_club"
                                    ng-options="club.cod_club as club.txt_desc for club in clubes | orderBy:'cod_club'" class="select2-basic">
                                <option value="" selected>Buscar por club</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <input id="buscar-hand" ng-model="filter.nro_hand" type="number" min="0" max="10" placeholder="Buscar por número de handicap" oninput="validity.valid||(value='');">
                        </div>

                        <div class="col-md-2">
                            <button type="button" class="btn btn-lightblue btn-full" ng-click="filtrarJugadores((page = 1))"><i class="icon-search"></i> Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<section class="clearfix p-b-50 p-t-50">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12" ng-class="{'loading-main': isLoading}" style="min-height:250px">
                <h2 class="page-title m-t-40">Jugadores destacados</h2>

                <ul class="listado-torneos row clearfix">
                    <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="jugador in jugadores | limitTo:'12'">
                        <div class="item-jugador">
                            <div ng-if="jugador.txt_imagen == undefined" class="user-pic" style="background-image: url('../img/avatars/avatar-user1.png')"></div>
                            <div ng-if="jugador.txt_imagen != undefined" class="user-pic" style="background-image: url('{{jugador.txt_imagen}}')"></div>
                            <h3>{{jugador.txt_nombre}} {{jugador.txt_apellido}}</h3>
                            <ul class="item-jugador-datos">
                                <li title="Género"><i class="icon-user"></i> {{jugador.text_genero}}</li>
                                <li title="Ubicación"><i class="icon-star"></i> Handicap: {{jugador.nro_handicap}}</li>
                                <li title="Fecha de inicio"><i class="icon-calendar"></i> Fecha de nacimiento: {{jugador.fec_nacimiento | date:'dd/MM/yyyy'}}</li>
                                <li title="Fecha de finalización"><i class="icon-flag"></i> Nacionalidad: {{jugador.txt_nacionalidad}}</li>
                            </ul>
                            <a href="/PerfilPublico/#/Jugador/{{jugador.cod_usuario}}" class="btn btn-outline-lightblue btn-small btn-full text-center">Visitar perfil</a>
                        </div>
                    </li>


                </ul>
                <div class="col-md-12" ng-show="pagesJugadores > 0">
                    <div class="pull-right m-t-20 m-b-20">
                        <button type="button" ng-click="beforePage()" ng-if="page > 1" class="btn btn-lightblue btn-small">Anterior</button>
                        <input type="number" min="1" ng-model="page" ng-change="paginate(page)" value="1" ng-model-options="{debounce: 600}">
                        <button type="button" ng-click="nextPage()" class="btn btn-lightblue btn-small" ng-if="page<pages">Siguiente</button>
                        <label> Cantidad de páginas: {{pages}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>