﻿<section class="clearfix" ng-init="init()">
    <div class="panel-header-jugador p-t-100 p-b-100">
        <div class="container-fluid">
            <div class="col-md-12 flex">
                <div class="user-profile-pic">
                    <div class="user-pic user-pic-public" style="background-image: url('/img/avatars/avatar-user1.png')"></div>
                </div>

                <hgroup class="user-profile-title">
                    <h1>{{jugador.txt_nombre}} {{jugador.txt_apellido}}</h1>
                    <h4>Club: <a href="/PerfilPublico/#/Club/{{jugador.club_principal.tclub.cod_club}}"><strong>{{jugador.club_principal.tclub.txt_desc}}</strong></a></h4>
                </hgroup>

                <ul class="featured-values">
                    <li class="featured-main">
                        <i class="icon-star"></i>
                        <h4>{{jugador.handicap.nro_handicap}}</h4>
                        <span>Handicap</span>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: -20px;">
        <div class="col-md-3">
            <div class="data-card">
                <h5>Género</h5>
                <h3>{{jugador.tgenero.txt_desc}}</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="data-card">
                <h5>Nacionalidad</h5>
                <h3>{{jugador.tpais.txt_desc}}</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="data-card">
                <h5>Tipo y categoría handicap</h5>
                <h3 ng-show="jugador.isPago">{{jugador.handicap.thandicap.txt_desc}} - {{jugador.handicap.thandicap.tcategoria_handicap.txt_desc}}</h3>
                <h3 ng-show="!jugador.isPago">No Habilitado</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="data-card">
                <h5>Fecha de nacimiento</h5>
                <h3>{{jugador.fec_nacimiento | date:'dd/MM/yyyy'}}</h3>
            </div>
        </div>

        <div class="col-md-12" ng-if="jugador.handicap.thandicap_usuario_historico.length > 0">
            <h3 class="inner-title m-t-80">Historial</h3>

            <ul class="tabs-default m-t-40">
                @*<li class="current"><a href="javascript:void(0);" onclick="clickTab(this)" data-tab="torneos">Torneos</a></li>*@
                @*<li ><a href="javascript:void(0);" onclick="clickTab(this)" data-tab="galardones">Galardones</a></li>*@
                <li class="current"><a href="javascript:void(0);" onclick="clickTab(this)" ng-if="jugador.handicap.thandicap_usuario_historico.length > 0" data-tab="handicap">Handicap</a></li>
            </ul>


            <div class="panel tab-contents clearfix" ng-if="jugador.handicap.thandicap_usuario_historico.length > 0">
                <div class="tab-content" id="handicap" style="display: block;">
                    <table class="table-default">
                        <thead>
                            <tr>
                                <th>Handicap</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="handicap in jugador.handicap.thandicap_usuario_historico | unique :'nro_handicap'">
                                <td data-label="Handicap">
                                    <i class="icon-arrow-thin-up color-green"
                                       ng-show="((jugador.handicap.thandicap_usuario_historico | unique :'nro_handicap')[$index +1] == undefined) || (jugador.handicap.thandicap_usuario_historico | unique :'nro_handicap')[$index +1].nro_handicap <
                                       handicap.nro_handicap"></i>
                                    <i ng-show="((jugador.handicap.thandicap_usuario_historico | unique :'nro_handicap')[$index +1] != undefined ) && (jugador.handicap.thandicap_usuario_historico | unique :'nro_handicap')[$index +1].nro_handicap >
                                       handicap.nro_handicap" class="icon-arrow-thin-down color-red"></i>
                                    {{handicap.nro_handicap}}

                                </td>
                                <td data-label="Fecha">{{handicap.fec_ult_modificacion | date : 'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 m-t-40" ng-show="(jugador.txt_facebook == null || jugador.txt_facebook == undefined)
             && (jugador.txt_twitter == null || jugador.txt_twitter == undefined) && (jugador.txt_instagram == null || jugador.txt_instagram == undefined)">
            <h3 class="inner-title">Redes sociales</h3>
        </div>

        <div class="col-md-4" ng-show="jugador.txt_facebook != null && jugador.txt_facebook != undefined">
            <a href="http://www.facebook.com/{{jugador.txt_facebook}}" target="_blank" class="btn btn-social btn-fb"><img src="../img/icon-fb.png" alt=""> Facebook</a>
        </div>

        <div class="col-md-4" ng-show="jugador.txt_twitter != null && jugador.txt_twitter != undefined">
            <a href="http://twitter.com/{{jugador.txt_twitter}}" target="_blank" class="btn btn-social btn-tw"><img src="../img/icon-tw.png" alt=""> Twitter</a>
        </div>

        <div class="col-md-4" ng-show="jugador.txt_instagram != null && jugador.txt_instagram != undefined">
            <a href="http://www.instagram.com/{{jugador.txt_instagram}}" target="_blank" class="btn btn-social btn-in"><img src="../img/icon-in.png" alt=""> Instagram</a>
        </div>

        @*<div class="col-md-12 m-t-40">
                <h3 class="inner-title">Galería</h3>
                <ul class="gallery clearfix">
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x450&text=foto"><img src="http://placehold.it/900x450&text=foto"></a></li>
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x1200&text=foto"><img src="http://placehold.it/900x1200&text=foto"></a></li>
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x900&text=foto"><img src="http://placehold.it/900x900&text=foto"></a></li>
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x1200&text=foto"><img src="http://placehold.it/900x1200&text=foto"></a></li>
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x900&text=foto"><img src="http://placehold.it/900x900&text=foto"></a></li>
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x900&text=foto"><img src="http://placehold.it/900x900&text=foto"></a></li>
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x450&text=foto"><img src="http://placehold.it/900x450&text=foto"></a></li>
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x1200&text=foto"><img src="http://placehold.it/900x1200&text=foto"></a></li>
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x1200&text=foto"><img src="http://placehold.it/900x1200&text=foto"></a></li>
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x900&text=foto"><img src="http://placehold.it/900x900&text=foto"></a></li>
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x900&text=foto"><img src="http://placehold.it/900x900&text=foto"></a></li>
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x450&text=foto"><img src="http://placehold.it/900x450&text=foto"></a></li>
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x1200&text=foto"><img src="http://placehold.it/900x1200&text=foto"></a></li>
                    <li><a data-fancybox="gallery" href="http://placehold.it/900x450&text=foto"><img src="http://placehold.it/900x450&text=foto"></a></li>
                </ul>
            </div>*@
    </div>
</section>
