﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div id="PerfilMiembro" ng-app="PerfilMiembro" style="height:100%;">
    @RenderPage(Url.Content("~/Views/PerfilMiembro/Bundle.cshtml"))
    <div ng-view style="height:100%;" autoscroll="true"></div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/PerfilMiembro/perfilMiembroModule.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/PerfilMiembro/perfilMiembroListCtrl.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/Services/perfilMiembroService.js")"></script>