﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12" ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Crear notificación</h1>
                <a href="javascript:void(0);" class="btn btn-lightblue pull-right m-t-0" data-modal="confirmarSalir" onclick="clickModal('confirmarSalir')">
                    <i class="icon-arrow-thin-left"></i> Volver al listado
                </a>

                <div class="clearfix"></div>

                <form name="notificacionForm" class="form-default">
                    <div class="row clearfix">

                        <div class="col-md-12">
                            <h3>Programación del envío</h3>
                        </div>

                        <div class="col-md-6">
                            <label for="fecha">Fecha de envío</label>
                            <input type="text" ng-model="notificacion.fec_enviado" ng-value="notificacion.fec_enviado | date:'dd/MM/yyyy'" name="fecha" id="fecha" class="datepicker" required>
                        </div>

                        @*<div class="col-md-6">
                                <label for="hora">Hora de envío</label>
                                <input type="time" ng-model="hora_inicio" name="hora" id="hora">
                            </div>*@

                        <div class="col-md-12">
                            <h3>Destinatarios</h3>
                        </div>

                        <div class="col-md-6">
                            <label for="roles">
                                Roles
                                <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará a todos los roles"></i>
                            </label>
                            <select name="roles" ng-model="notificacion.roles" class="select2-basic" multiple id="roles"
                                    ng-options="rol.cod_rol as rol.txt_desc for rol in roles">
                                <option value="" disabled>Seleccione un rol</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="tipo">
                                Tipo de jugador
                                <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará a todos los tipos"></i>
                            </label>
                            <select name="tipo" ng-model="notificacion.tipos" class="select2-basic"
                                    ng-options="jugador.cod_tipo_jugador as jugador.txt_desc for jugador in tipoJugadores" multiple id="tipo">
                                <option value="" disabled>Seleccione un tipo de jugador</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="categoria">
                                Categoría de handicap
                                <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará a todas las categorías"></i>
                            </label>
                            <select name="categoria" ng-model="notificacion.categorias" class="select2-basic"
                                    ng-options="categoria.cod_categoria_handicap as categoria.txt_desc for categoria in categorias
                                    | filter :{cod_categoria_handicap : '!' + 3}" multiple id="categoria">
                                <option value="" disabled>Seleccione una categoría de handicap</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label for="categoria">Handicap desde <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará sin mínimo de handicap"></i></label>
                            <input type="number" name="handicap-desde" ng-model="notificacion.nro_handicap_minimo" id="handicap-desde">
                        </div>

                        <div class="col-md-3">
                            <label for="categoria">Handicap hasta <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará sin máximo de handicap"></i></label>
                            <input type="number" name="handicap-hasta" ng-model="notificacion.nro_handicap_maximo" id="handicap-hasta">
                        </div>

                        <div class="col-md-12">
                            <h3>Contenido</h3>
                        </div>

                        <div class="col-md-12">
                            <label for="titulo">Título de la notificación</label>
                            <input type="text" name="titulo" ng-model="notificacion.txt_asunto" id="titulo" required>
                        </div>

                        <div class="col-md-12">
                            <label for="texto">Texto de la notificación</label>
                            <textarea name="texto" id="texto" ng-model="notificacion.txt_desc" style="height: 150px;" required></textarea>
                        </div>

                        <div class="col-md-4 col-md-offset-8">
                            <button class="btn btn-xl btn-full btn-lightblue text-left m-t-20" data-modal="exito" ng-class="{'disabled' : notificacionForm.$invalid}"
                                    ng-disabled="notificacionForm.$invalid" ng-click="saveNotificacion()">
                                Guardar
                                <i class="icon-arrow-thin-right pull-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmarSalir">
    <div class="modal-overlay" data-dismiss="confirmarSalir"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="&#xe063;">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="confirmarSalir"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Si abandonás esta página ahora, perderás los cambios que no hayas guardado. ¿Estás seguro de que querés salir?</p>

                    <div class="modal-opciones text-right">
                        <a href="/PanelControl/#/Notificaciones" class="btn btn-red m-t-0" data-dismiss="confirmarSalir">Salir y descartar cambios</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" onclick="closeModal()" data-dismiss="confirmarSalir">Continuar editando</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="exito">
    <div class="modal-overlay" data-dismiss="exito"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="&#xe04e;">¡Creación exitosa!</h2>
                <i class="icon-cross" data-dismiss="exito"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Has creado una nueva notificación exitosamente. Recordá que puedes editarlo más tarde desde el panel de administración.</p>

                    <div class="modal-opciones text-right">
                        <a href="/PanelControl/#/Notificaciones" class="btn btn-red m-t-0" data-dismiss="exito">Volver al listado</a>
                        <a href="/PanelControl/#/Notificacion" class="btn btn-lightblue m-t-0" data-dismiss="exito">Crear otra notificación</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
