﻿<div class="admin-container" ng-init="init();">
    <div class="col-md-12" ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Notificaciones</h1>
                <a href="/PanelControl/#/Notificacion" class="btn btn-lightblue pull-right m-t-0"><i class="icon-plus"></i> Crear notificación</a>

                <div class="clearfix"></div>

                <ul class="tabs-default m-t-40">
                    <li class="current"><a href="javascript:void(0);" data-tab="pendientes">Notificaciones pendientes</a></li>
                    <li><a href="javascript:void(0);" data-tab="emitidas">Notificaciones emitidas</a></li>
                    <li><a href="javascript:void(0);" data-tab="recibidos">Mensajes recibidos</a></li>
                </ul>

                <div class="tab-contentes">
                    <div class="tab-content" id="pendientes" style="display: block;">
                        <table class="table-default table-admin">
                            <thead>
                                <tr>
                                    <th>Fecha de envío</th>
                                    <th>Hora de envío</th>
                                    <th>Título</th>
                                    <th>Destinatarios</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="notificacion in notificacionesPendientes">
                                    <td data-label="Fecha de envío">{{notificacion.fec_enviado | date: 'dd/MM/yyyy'}}</td>
                                    <td data-label="Hora de envío">{{notificacion.fec_enviado | date: 'HH:mm'}}hs</td>
                                    <td data-label="Título"><strong>{{notificacion.txt_asunto}}</strong></td>
                                    <td data-label="Destinatarios">
                                        <span>
                                            {{notificacion.txt_roles}}

                                        </span>
                                        <br />
                                        <span>
                                            {{notificacion.txt_tipos_jugadores}}
                                        </span>
                                        <br />
                                        <span ng-show="notificacion.nro_handicap_minimo != 0 || notificacion.nro_handicap_maximo != 0">
                                            Handicap mayor a {{notificacion.nro_handicap_minimo}}
                                        </span>
                                        <br />
                                        <span ng-show="notificacion.nro_handicap_maximo != 0">
                                            Handicap menor a {{notificacion.nro_handicap_maximo}}
                                        </span>
                                    </td>
                                    <td data-label="Editar" class="text-right">
                                        <a href="/PanelControl/#/Notificacion/{{notificacion.cod_notificacion}}" class="btn btn-lightblue btn-small">Editar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-content" id="emitidas">
                        <table class="table-default table-admin">
                            <thead>
                                <tr>
                                    <th>Fecha de envío</th>
                                    <th>Hora de envío</th>
                                    <th>Título</th>
                                    <th>Destinatarios</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="notificacion in notificacionesEmitidas">
                                    <td data-label="Fecha de envío">{{notificacion.fec_enviado | date: 'dd/MM/yyyy'}}</td>
                                    <td data-label="Hora de envío">{{notificacion.fec_enviado | date: 'HH:mm'}}hs</td>
                                    <td data-label="Título"><strong>{{notificacion.txt_asunto}}</strong></td>
                                    <td data-label="Destinatarios">
                                        <span>
                                            {{notificacion.txt_roles}}

                                        </span>
                                        <br />
                                        <span>
                                            {{notificacion.txt_tipos_jugadores}}
                                        </span>
                                        <br />
                                        <span ng-show="notificacion.nro_handicap_minimo != 0 || notificacion.nro_handicap_maximo != 0">
                                            Handicap mayor a {{notificacion.nro_handicap_minimo}}
                                        </span>
                                        <br />
                                        <span ng-show="notificacion.nro_handicap_maximo != 0">
                                            Handicap menor a {{notificacion.nro_handicap_maximo}}
                                        </span>
                                    </td>
                                    <td data-label="Editar" class="text-right">
                                        <a href="/PanelControl/#/Notificacion/{{notificacion.cod_notificacion}}" class="btn btn-lightblue btn-small">Editar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-content" id="recibidos">
                        <table class="table-default table-admin">
                            <thead>
                                <tr>
                                    <th>Fecha y hora</th>
                                    <th>Enviado por</th>
                                    <th>Asunto</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="respuesta in respuestas">
                                    <td data-label="Fecha de envío">{{respuesta.fec_enviado | date:'dd/MM/yyyy HH:mm'}}</td>
                                    <td data-label="Enviado por">{{respuesta.usuarioEnvio}}</td>
                                    <td data-label="Asunto"><strong>{{respuesta.txt_asunto}}</strong></td>
                                    <td data-label="Editar" class="text-right">
                                        <a href="/PanelControl/#/Respuesta/{{respuesta.cod_respuesta}}" class="btn btn-lightblue btn-small">Leer / responder</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

