﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12" ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Responder mensaje</h1>
                <a href="javascript:void(0);" class="btn btn-lightblue pull-right m-t-0" data-modal="confirmarSalir"><i class="icon-arrow-thin-left"></i> Volver al listado</a>

                <div class="clearfix"></div>

                <form name="respuestaForm" class="form-default">
                    <div class="row clearfix">

                        <div class="col-md-6">
                            <h3>Mensaje recibido</h3>

                            <div class="inbox-content-header clearfix m-t-30">
                                <div class="inbox-profile-pic">
                                    <div class="user-pic" style="background-image: url('../img/avatars/avatar-user1.png')"></div>
                                </div>

                                <hgroup class="inbox-sender">
                                    <h2>{{respuesta.usuarioEnvio}}</h2>
                                    <h4>{{respuesta.fec_enviado | date:'dd/MM/yyyy HH:mm'}}</h4>
                                </hgroup>
                            </div>

                            <div class="inbox-content-body m-t-10" style="border-top: none;">
                                <h1>{{respuesta.txt_asunto}}</h1>
                                <p>{{respuesta.txt_desc}}</p>
                            </div>

                            <div class="inbox-content-footer">
                                <ul class="inbox-attachments row">
                                    <li class="col-md-4" ng-repeat="adjunto in respuesta.trespuesta_adjunto">
                                        <a href="{{adjunto.txt_url_image}}" download="">
                                            <i class="icon-download"></i>
                                            <span class="attachment-data">
                                                <span class="attach-name">Descargar aqui</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h3>Emitir respuesta</h3>

                            <label for="respuesta" class="m-t-30">Respuesta</label>
                            <textarea name="respuesta" id="respuesta" ng-model="nuevaRespuesta.txt_desc"
                                      required style="height: 250px;"></textarea>

                            <label for="adjuntos">Adjuntar archivos</label>
                            <input type="file" ng-model="nuevaRespuesta.adjunto"  ngf-max-total-size="10MB" ngf-select="uploadNotificacion($file)">


                            <div class="row">
                                <div class="col-md-6 col-md-offset-6">
                                    <button ng-disabled="respuestaForm.$invalid" ng-class="{'disabled': respuestaForm.$invalid}" 
                                            class="btn btn-xl btn-full btn-lightblue text-left m-t-20" ng-click="sendRespuesta()">
                                        Enviar <i class="icon-arrow-thin-right pull-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmarSalir">
    <div class="modal-overlay" data-dismiss="confirmarSalir"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe063;">¿Estás seguro?</h2>
            <i class="icon-cross" data-dismiss="confirmarSalir"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p>Si abandonás esta página ahora, perderás los cambios que no hayas guardado. ¿Estás seguro de que querés salir?</p>

                <div class="modal-opciones text-right">
                    <a href="/PanelControl/#/Notificaciones" class="btn btn-red m-t-0" data-dismiss="confirmarSalir">Salir y descartar cambios</a>
                    <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarSalir">Continuar editando</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="exito">
    <div class="modal-overlay" data-dismiss="exito"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe04e;">¡Creación exitosa!</h2>
            <i class="icon-cross" data-dismiss="exito"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p>Has creado una nueva notificación exitosamente. Recordá que puedes editarlo más tarde desde el panel de administración.</p>

                <div class="modal-opciones text-right">
                    <a href="/PanelControl/#/Notificaciones" class="btn btn-red m-t-0" data-dismiss="exito">Volver al listado</a>
                    <a href="notificaciones-editar.html" class="btn btn-lightblue m-t-0" data-dismiss="exito">Crear otra notificación</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="respuesta-exito">
    <div class="modal-overlay" data-dismiss="respuesta-exito"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe04e;">Respuesta enviada</h2>
            <i class="icon-cross" data-dismiss="respuesta-exito"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p>El mensaje ha sido respondido exitosamente.</p>

                <div class="modal-opciones text-right">
                    <a href="/PanelControl/#/Notificaciones" class="btn btn-red m-t-0" data-dismiss="respuesta-exito">Volver al listado</a>
                    <a href="responder-mensaje.html" class="btn btn-lightblue m-t-0" data-dismiss="respuesta-exito">Responder otra vez</a>
                </div>
            </div>
        </div>
    </div>
</div>
