﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12" ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Crear evento </h1>
                <a href="javascript:void(0)" class="btn btn-lightblue pull-right m-t-0" onclick="clickModal('confirmarSalir')"><i class="icon-arrow-thin-left"></i> Volver al listado</a>

                <div class="clearfix"></div>

                <form class="form-default" name="formEvento">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <h3>Información general</h3>
                        </div>

                        <div class="col-md-4">
                            <label for="nombre">Nombre del evento</label>
                            <input type="text" name="nombre" ng-model="evento.txt_desc" id="nombre" required>
                        </div>

                        <div class="col-md-4">
                            <label for="tipo">Tipo de evento</label>
                            <select ng-model="evento.cod_tipo_evento" name="tipo2" id="tipo2" class="select2-basic"
                                    ng-options="tipo.cod_tipo_evento as tipo.txt_desc for tipo in tipos" required>
                                <option value="" selected>Seleccioná un tipo de evento</option>
                            </select>

                        </div>

                        <div class="col-md-4">
                            <label for="tipo">Asociar torneo</label>
                            <select ng-model="evento.cod_torneo" name="tipoTorneo" id="tipoTorneo" class="select2-basic"
                                    ng-options="torneo.cod_torneo as torneo.txt_desc for torneo in torneos">
                                <option value="" selected>No asociar</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="inicio">Fecha de inicio</label>
                            <input type="text" name="inicio" id="inicio" class="datepicker" ng-model="evento.fec_comienzo"
                                   ng-value="evento.fec_comienzo | date:'dd/MM/yyyy'" required>
                        </div>

                        <div class="col-md-4">
                            <label for="horario">Horario</label>
                            <input type="time" name="horario" id="horario" ng-model="evento.horario" ng-value="evento.horario | date: 'HH:mm'">
                        </div>

                        @*<input name="archivo" type="file" ng-model="fileLoad" class="hide" id="fileLoad"
                            ngf-max-total-size="10MB" ngf-select="upload($file)" ngf-pattern="'image/*'"
                            accept="image/*" />*@

                        @*<div class="col-md-12">
                                <label for="descripcion">Descripción</label>
                                <textarea name="descripcion" id="descripcion" style="height: 200px;" ng-model="evento.txt_desc_larga" required></textarea>
                            </div>*@

                        <div class="col-md-4 col-md-offset-8">
                            <button class="btn btn-xl btn-full btn-lightblue text-left m-t-20" ng-class="{'disabled': saved}"
                                    data-modal="finInscripcion" ng-click="crearEvento(formEvento)" ng-disabled="saved">
                                Guardar cambios
                                <i class="icon-arrow-thin-right pull-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="confirmarSalir">
    <div class="modal-overlay" data-dismiss="confirmarSalir"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="&#xe063;">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="confirmarSalir"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Si abandonás esta página ahora, perderás los cambios que no hayas guardado. ¿Estás seguro de que querés salir?</p>

                    <div class="modal-opciones text-right">
                        <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="confirmarSalir" ng-click="volverAlListado()">Salir y descartar cambios</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarSalir" onclick="closeModal()">Continuar editando</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmarExitoSalir">
    <div class="modal-overlay" data-dismiss="confirmarExitoSalir"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="S">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="confirmarExitoSalir"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Se han aplicado los cambios correctamente.</p>

                    <div class="modal-opciones text-right">
                        <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="confirmarExitoSalir" ng-click="volverAlListado()">Salir</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarExitoSalir" onclick="closeModal()">Continuar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
