﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12"  ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Eventos</h1>
                <a href="/PanelControl/#/Evento" class="btn btn-lightblue pull-right m-t-0"><i class="icon-plus"></i> Crear evento</a>

                <div class="clearfix"></div>

                <table class="table-default table-admin">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo de torneo</th>
                            <th>Fecha de inicio</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="evento in eventos">
                            <td data-label="Nombre"><a href="/PanelControl/#/Evento/{{evento.cod_evento}}">{{evento.txt_desc}}</a></td>
                            <td data-label="Tipo de evento">{{evento.ttipo_evento.txt_desc}}</td>
                            <td data-label="Fecha de inicio">{{evento.fec_comienzo | date:'dd/MM/yyyy'}}</td>
                            <td data-label="Activo">
                                <div class="toggle" ng-class="{'toggle-active': evento.bool_activo}" onclick="toggle(this)" ng-click="deleteEvento(evento.cod_evento)">
                                    <div class="toggle-inner"></div>
                                </div>
                            </td>
                            <td data-label="Editar perfil" class="text-right"><a href="/PanelControl/#/Evento/{{evento.cod_evento}}" class="btn btn-lightblue btn-small">Editar evento</a></td>
                        </tr>

                    </tbody>
                </table>

                @*<ul class="pagination" ng-repeat="page in pages">
                        <li class="current"><a href="javascript:void(0)" ng-click="paginate($index)">{{$index + 1}}</a></li>
                    </ul>*@
            </div>
        </div>
    </div>
</div>