﻿
<nav class="profile-nav">
    <a href="javascript:void(0);" class="show-profile-nav show-mobile">Navegación <i class="icon-chevron-down">	</i></a>
    <ul>
        <li ng-class="{'current': (accion == 'Default')}">
            <a href="javascript:void(0)" ng-click="elegirMenu('Default')"
               translate="MYPROFILE" translate-language="{{idiomaElegido}}"><i class="icon-user"></i>Mi perfil</a>
        </li>
        <li ng-if="perfil.handicap.thandicap_usuario_historico.length > 0"
            ng-class="{'current': (accion == 'Historial')}">
            <a href="javascript:void(0)" ng-click="elegirMenu('Historial')"
               translate="MYRECORD" translate-language="{{idiomaElegido}}"><i class="icon-hourglass"></i>Mi historial</a>
        </li>
        <li ng-class="{'current': (accion == 'Pagos')}">
            <a href="javascript:void(0)" ng-click="elegirMenu('Pagos')" translate="MYPAYMENTS" translate-language="{{idiomaElegido}}">
                <i class="icon-wallet"></i>Mis pagos
                <span ng-show="!isAlDia && finalizoCargaPagos" class="noti-count">1</span>
            </a>
        </li>
        <li ng-class="{'current': (accion == 'Torneos')}">
            <a href="javascript:void(0)" ng-click="elegirMenu('Torneos')"
               translate="MYTOURNAMENTS" translate-language="{{idiomaElegido}}"><i class="icon-trophy"></i>Mis torneos</a>
        </li>
        @*<li ng-class="{'current': (accion == 'Inbox')}">
                <a href="javascript:void(0)" ng-click="elegirMenu('Inbox')"
                   translate="INBOX" translate-language="{{idiomaElegido}}"><i class="icon-trophy"></i>Inbox</a>
            </li>*@
        <li ng-class="{'current': (accion == 'Calendario')}">
            <a href="javascript:void(0)" ng-click="elegirMenu('Calendario')"
               translate="SCHEDULE" translate-language="{{idiomaElegido}}"><i class="icon-calendar"></i>Calendario</a>
        </li>
        <li ng-class="{'current': (accion == 'PoloCommunity')}" ng-show="isMember"><a href="javascript:void(0)" ng-click="elegirMenu('PoloCommunity')"><i class="icon-user"></i>Polo Community</a></li>
        <li class="link-admin-club" ng-if="perfil.clubPrincipal.tclub.cod_admin_club == perfil.cod_usuario">
            <a href="/PerfilClub/#/{{perfil.clubPrincipal.cod_club}}" ng-click="goPerfilClub()" translate="MANAGMENTCLUB" translate-language="{{idiomaElegido}}">
                <i class="icon-flag"></i>
            </a>
        </li>
    </ul>
</nav>




<ul class="videotutoriales">
    <span class="hideTutoriales show-mobile"><i class="icon-chevron-down"></i></span>
    <li>
        <a href="javascript:void(0);" class="tutorial-tarjeta" data-modal="cargar-tarjeta"
           onclick="clickModal('cargar-tarjeta')">
            <i class="icon-card"></i> <span>
                <strong translate="REQUESTREFUND" translate-language="{{idiomaElegido}}">Cargá tu tarjeta</strong>
            </span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" data-modal="tutorial-torneos" onclick="clickModal('tutorial-torneos')">
            <i class="icon-trophy"></i>
            <span>
                <span translate="PAYTOURNAMENT" translate-language="{{idiomaElegido}}">
                    ¿Cómo inscribirme a
                </span> <strong translate="TOURNAMENTS" translate-language="{{idiomaElegido}}">torneos</strong><span ng-show="idiomaElegido == 'es'">?</span>
            </span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" data-modal="tutorial-handicap" onclick="clickModal('tutorial-handicap')">
            <i class="icon-wallet"></i>
            <span>
                <span translate="HOWTOPAY" translate-language="{{idiomaElegido}}">¿Cómo pagar mi </span> <strong translate="HANDICAP" translate-language="{{idiomaElegido}}">handicap</strong><span ng-show="idiomaElegido == 'es'">?</span>
            </span>
        </a>
    </li>
    <li>
        <a href="/PerfilPublico/#/Noticia/2131">
            <i class="icon-card"></i>
            <span translate="HANDICAPAFILIACION" translate-language="{{idiomaElegido}}">
                Conocé los Handicaps y Afiliaciones 2019
            </span>
        </a>
    </li>
</ul>
<a href="javascript:void(0);" class="cargarTarjeta" onclick="clickModal('cargar-tarjeta')" data-modal="cargar-tarjeta">
    <i class="icon-card"></i>
    <span translate="REQUESTREFUND" translate-language="{{idiomaElegido}}">SOLICITÁ LA DEVOLUCIÓN DE TU CRÉDITO</span>
</a>


<div class="modal" id="tutorial-torneos">
    <div class="modal-overlay" data-dismiss="tutorial-torneos" onclick="closeModal()"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo">
            <div class="modal-header">
                <h2><i class="icon-trophy"></i> ¿Cómo inscribirme a <strong>torneos</strong>?</h2>
                <i class="icon-cross" data-dismiss="tutorial-torneos" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido modal-contenido-video clearfix">
                <video class="videoModal" controls="">
                    <source src="../video/inscripcionatorneo.mp4.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="tutorial-handicap">
    <div class="modal-overlay" data-dismiss="tutorial-handicap" onclick="closeModal()"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo">
            <div class="modal-header">
                <h2><i class="icon-wallet"></i> ¿Cómo pagar mi <strong>handicap</strong>?</h2>
                <i class="icon-cross" data-dismiss="tutorial-handicap" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido modal-contenido-video clearfix">
                <video class="videoModal" controls="">
                    <source src="../video/pagodehandicap.mp4.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cargar-tarjeta">
    <div class="modal-overlay" data-dismiss="cargar-tarjeta" onclick="closeModal()"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2><i class="icon-card"></i> Solicitá la devolución de tu crédito</h2>
                <i class="icon-cross" data-dismiss="cargar-tarjeta" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12">
                    <a href="https://ego.easygoband.com/#/app/cf9503e7-a261-49b0-bff8-340f42979bb1/signup" target="_blank" class="btn btn-lightblue btn-full">Solicitar devolución</a>
                </div>
                <div class="col-md-12 text-center" data-dismiss="cargar-tarjeta">
                    <p><a href="javascript:void(0);" data-modal="terminos-tarjeta" onclick="clickModal('terminos-tarjeta')">Ver términos y condiciones</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="terminos-tarjeta">
    <div class="modal-overlay" data-dismiss="terminos-tarjeta" onclick="closeModal()"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo">
            <div class="modal-header">
                <h2><i class="icon-card"></i> Términos y condiciones "cashless"</h2>
                <i class="icon-cross" data-dismiss="terminos-tarjeta" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12">
                    <h2>SISTEMA “CASHLESS”</h2>
                    <h3>TÉRMINOS Y CONDICIONES DE USO</h3>
                    <h5>En el Campeonato Argentino Abierto de Polo (<strong>“CAAP”</strong>) y en otros eventos que la Asociación Argentina de Polo (<strong>“AAP”</strong>) incorpore al Sistema Cashless</h5>

                    <p>Sugerimos leer detenidamente los siguientes términos y condiciones de uso (<strong>“Términos y Condiciones”</strong>).</p>
                    <p>En el momento de recibir la tarjeta Cashless (<strong>“Tarjeta”</strong>) usted está aceptando estos Términos y Condiciones.</p>
                    <p><strong>1.</strong> Descripción del sistema Cashless</p>
                    <p>El sistema Cashless (en inglés, “sin uso de dinero en efectivo”) tiene por objeto eliminar la necesidad de pagar con dinero en efectivo los bienes que se ofrezcan durante el desarrollo del CAAP o en otros eventos que organice la AAP y en los que ésta decidiere usar el sistema Cashless en el futuro (<strong>“Eventos AAP”</strong>).</p>
                    <p>La Tarjeta se entregará sin costo.</p>
                    <p>La Tarjeta tendrá dos (2) modalidades denominadas de la siguiente forma:</p>
                    <p><strong>a)</strong> “Polo Members”: Destinadas al público en general.</p>
                    <p><strong>b)</strong> “Polo Players”: Destinadas a jugadores de polo que hayan pagado el importe de su hándicap anual a la AAP.</p>
                    <p>Ambos tipos de Tarjeta se entregarán en las cajas habilitadas a dicho fin durante el desarrollo del CAAP o, en su caso, de los Eventos AAP que AAP comunicare oportunamente.</p>
                    <p>Los adquirentes de la Tarjeta podrán usarla para comprar bienes o adquirir servicios durante el desarrollo del CAAP o de otros Eventos AAP que AAP comunicare oportunamente.</p>
                    <p><strong>2.</strong> Forma de operar con la Tarjeta</p>
                    <p><strong>2.1.</strong> Carga y recarga</p>
                    <p>La Tarjeta puede “cargarse” o “recargarse” con dinero mediante las siguientes formas:</p>
                    <p><strong>(i)</strong> Usar el código “QR” de la Tarjeta y cargarla –o recargarla usando las aplicaciones de Mercado Pago o Mercado Libre (disponibles para IOS y Android).</p>
                    <p><strong>(ii)</strong> A través del sitio <a href="http://www.aapolo.com">www.aapolo.com</a></p>
                    <p><strong>(iii)</strong> Personalmente –mediante tarjetas de crédito o débito o dinero en efectivo en las cajas ubicadas en el Campo Argentino de Polo durante el CAAP y los restantes Eventos AAP.</p>
                    <p>Te sugerimos usar preferentemente los métodos de carga y recarga electrónica citados en los puntos (i) y (ii) a fin de que optimices el uso de tu tiempo y minimices tener que realizar eventuales filas para cargar o recargar tu tarjeta en efectivo los días en que se desarrollen el CAAP o los Eventos AAP.</p>
                    <p><strong>2.2.</strong> Uso</p>
                    <p>Los operadores gastronómicos y los relacionados con otros bienes y servicios dispondrán de una terminal (punto de venta o “POS” por su sigla en inglés) a fin de que puedas adquirir bienes y servicios mediante el uso de tu Tarjeta ya cargada o, en su caso, recargada.</p>
                    <p>Los adquirentes de Tarjetas recibirán un comprobante fiscal al momento de cargar o recargar la Tarjeta y no recibirán comprobante alguno al momento de adquirir algún bien o servicio en el punto de venta.</p>
                    <p><strong>2.3.</strong> Imposibilidad de adquirir bienes o servicios con dinero en efectivo</p>
                    <p>No se admitirá el uso de dinero en efectivo en modo alguno durante el desarrollo del CAAP o los Eventos AAP para adquirir bienes o servicios excepto, únicamente, para que uses el dinero en efectivo para cargar o recargar tu tarjeta en las cajas especialmente destinadas a dicho fin.</p>
                    <p><strong>3.</strong> Extravío, hurto o robo de la Tarjeta</p>
                    <p>La AAP no será responsable en caso de robo, extravío o uso indebido de la Tarjeta.</p>
                    <p>En caso de que algún tercero encontrare Tarjetas extraviadas solicitamos: (i) Enviar la Tarjeta a las oficinas comerciales de la AAP, situadas en Arévalo 3065 de la ciudad de o (ii) Llamar al siguiente número telefónico 4777-6444, a fin de coordinar la devolución de la Tarjeta.</p>
                    <p><strong>4.</strong> Términos y Condiciones. Modificaciones</p>
                    <p>Los Términos y Condiciones están sujetos a revisión razonable y periódica por la AAP.</p>
                    <p>La AAP podrá modificar o actualizar los Términos y Condiciones sin necesidad de avisar previamente y sin que ello genere derecho a efectuar reclamo alguno a favor del titular de la Tarjeta.</p>
                    <p>Sugerimos que revises el sitio <a href="http://www.aapolo.com">www.aapolo.com</a> con regularidad para conocer las eventuales actualizaciones o modificaciones que pudieren producirse en los Términos y Condiciones. El uso continuado de la Tarjeta configurará la aceptación de los Términos y Condiciones.</p>
                    <p><strong>5.</strong> Usos prohibidos</p>
                    <p>El titular de la Tarjeta se obliga a abstenerse de utilizarla con fines ilícitos, lesivos de los derechos e intereses de AAP o de terceros o usos que de cualquier forma puedan dañar, inutilizar, sobrecargar o deteriorar el sistema Cashless o impedir la normal utilización de la Tarjeta por parte de sus titulares.</p>
                    <p>El usuario acepta y se compromete a no usar la Tarjeta y y/o el Sistema Cashless para violar leyes locales, nacionales o internacionales, derechos de terceros o estos Términos y Condiciones o cualquier otra norma aplicable.</p>
                    <p><strong>6.</strong> Derechos de Autor y Marcas comerciales.</p>
                    <p>Los diseños de la Tarjeta, incluyendo, sin limitación, el logotipo, íconos y otras marcas comerciales, son propiedad de la AAP y están protegidos por derechos de autor y de marca.</p>
                    <p><strong>7.</strong> Defensa del consumidor en la ciudad de Buenos Aires</p>
                    <p>De acuerdo a lo que establece la Ley N° 2.244 de la ciudad de Buenos Aires, por operar comercialmente en el ámbito de la Ciudad Autónoma de Buenos Aires y poseer un sitio Web, ponemos a tu conocimiento los enlaces a la Dirección General de Defensa y Protección al Consumidor del Gobierno de la Ciudad de Buenos Aires. Para consultas y/o denuncias: <a href="http://www.buenosaires.gob.ar/defensaconsumidor/" target="_blank">www.buenosaires.gob.ar/defensaconsumidor</a></p>
                    <p><strong>8.</strong> Cancelación de la Tarjeta</p>
                    <p>AAP tiene derecho a discontinuar la operación del sistema Cashless sin necesidad de alegar causa alguna, por cualquier plazo temporario o definitivamente sin comunicación previa al poseedor de la Tarjeta, sin que ello genere derecho a efectuar reclamo alguno contra AAP, Cashless o cualquier tercero.</p>
                    <p>En dicho supuesto AAP reintegrará a los titulares de las Tarjetas el saldo de carga que tuviere la Tarjeta mediante las formas que AAP comunicará oportunamente a los titulares de la Tarjeta.</p>
                    <p><strong>9.</strong> Saldos pendientes no usados por el titular de la Tarjeta</p>
                    <p>El Titular es responsable de definir la cantidad de dinero a cargar  o, en su caso, recargar  en la Tarjeta y de realizar los consumos que libremente defina durante el CAAP y los Eventos AAP.</p>
                    <p>Según el método de carga que eligiere el adquirente de la Tarjeta AAP restituirá el saldo no usado de crédito según las siguientes condiciones:</p>
                    <p><strong>10.1.</strong> Si la carga o recarga hubiera sido realizada mediante las aplicaciones de Mercado Pago o Mercado Libre (disponibles para IOS y Android) o a través del sitio <a href="http://www.aapolo.com">www.aapolo.com</a>, la AAP restituirá el saldo remanente a través del sitio <a href="http://www.aapolo.com">www.aapolo.com</a> (en este sitio habrá instrucciones para solicitar la devolución). Luego de que el titular de la Tarjeta solicitare la devolución en el sitio <a href="http://www.aapolo.com">www.aapolo.com</a>, el plazo y las condiciones para que el adquirente de la Tarjeta reciba la respectiva acreditación de fondos será responsabilidad del sistema de tarjeta de crédito contratado a su criterio y bajo su responsabilidad por cada adquirente de la Tarjeta. El plazo para que el adquirente de la Tarjeta mediante las aplicaciones de Mercado Pago o Mercado Libre notifique a AAP su intención de solicitar el reintegro, en el sitio <a href="http://www.aapolo.com">www.aapolo.com</a> expirará indefectiblemente el 15 de febrero de 2019. Se aclara que por motivos técnicos el sistema de devolución de saldos no funcionará en las fechas en que se disputaren partidos del CAAP.</p>
                    <p><strong>10.2.</strong> Si la carga o recarga hubiera sido realizada en las caja dispuestas a dicho fin en el CAP, el adquirente de la carga deberá concurrir a dichas cajas y solicitar el reintegro del saldo remanente durante las fechas en que se disputare el CAAP, entre las 16.00 horas y la hora de cierre de las cajas. En este caso el plazo para solicitar el reintegro de saldos remanentes expirará indefectiblemente el 15 de diciembre de 2018 (fecha prevista para la final del CAAP 2018) o, si dicha fecha se pospusiere, en la fecha efectiva en que se desarrolle el partido final del CAAP 2018.</p>
                    <p><strong>10.</strong> Ley aplicable. Jurisdicción</p>
                    <p>La relación entre el titular de la Tarjeta y AAP se regirá por las leyes de la República Argentina.</p>
                    <p>Cualquier controversia que se suscitare por el uso de la Tarjeta será sometida a los tribunales ordinarios en lo comercial con sede en la Ciudad de Buenos Aires.</p>
                </div>
            </div>
        </div>
    </div>
</div>
