﻿<div class="panel panel-profile">
    <div class="panel-header">
        <hgroup class="user-profile-title">
            <h1 translate="MYPAYMENTS" translate-language="{{idiomaElegido}}">Mis pagos</h1>
        </hgroup>
        <div class="pull-right">
            <a href="javascript:void(0)" ng-click="limpiarModalPago('pagarHandicap');" class="btn btn-lightblue btn-outline btn-small  m-r-20"
               translate="PAYHANDICAP" translate-language="{{idiomaElegido}}">Pagar handicap</a>
            <a href="javascript:void(0)" onclick="clickModal('avisoHandicap');" class="btn btn-lightblue btn-outline btn-small"
               translate="UPGRADEHANDICAP" translate-language="{{idiomaElegido}}">Pase de categoría</a>
        </div>
    </div>
    <div class="panel-body">
        <ul class="tabs-default">
            <li class="current"><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="historial" translate="PAYMENTRECORD" translate-language="{{idiomaElegido}}">Historial de pagos</a></li>
            <li>
                <a href="javascript:void(0)" class="tabLink" onclick="clickTab(this)" data-tab="pendientes">
                    <span translate="PENDINGPAYMENTS" translate-language="{{idiomaElegido}}">Pagos pendientes</span>
                    <span ng-show="!isAlDia && finalizoCargaPagos"
                          class="noti-count">1</span>
                </a>
            </li>
        </ul>
        <div class="tab-contents">
            <div class="tab-content" id="historial" style="display: block;">
                <table class="table-default">
                    <thead>
                        <tr>
                            <th translate="PAYMENTTYPE" translate-language="{{idiomaElegido}}">Tipo de pago</th>
                            <th translate="DETAIL" translate-language="{{idiomaElegido}}">Detalle</th>
                            <th translate="AMOUNT" translate-language="{{idiomaElegido}}">Importe</th>
                            <th translate="DATE" translate-language="{{idiomaElegido}}">Fecha</th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pago in perfil.thistorial_pagos | unique: '[cod_mercado_pago, txt_desc]'">
                            <td data-label="Tipo de pago">{{pago.ttipo_pago.txt_desc}}</td>
                            <td data-label="Detalle">
                                <span ng-show="pago.cod_usuario">
                                    {{pago.txt_desc}}
                                </span>
                            </td>
                            <td data-label="Importe">${{pago.nro_importe}}<sup>00</sup></td>
                            <td data-label="Fecha">{{pago.fec_alta | date:'dd/MM/yyyy HH:mm'}}</td>
                            @*<td class="text-right"><a href="#" class="btn btn-lightblue btn-small">Descargar comprobante</a></td>*@
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-content" id="pendientes" ng-if="finalizoCargaPagos">
                <div ng-show="!isAlDia && finalizoCargaPagos">
                    <h3 translate="HANDICAPFEE" translate-language="{{idiomaElegido}}">Pago de cuota de asociación</h3>
                    <p translate="FEETEXT" translate-language="{{idiomaElegido}}">Tu cuota de asociación del club a la AAP está próxima a vencer.</p>
                    <p>
                        <span translate="RECOMMENDPART1" translate-language="{{idiomaElegido}}">Te recomendamos abonarla  </span><strong>
                            <span translate="RECOMMENDPART2" translate-language="{{idiomaElegido}}">antes del día </span> {{fec_vencimiento | date:'dd/MM/yyyy'}}
                        </strong>
                        <span translate="RECOMMENDPART3" translate-language="{{idiomaElegido}}"> para poder seguir disfrutando los beneficios de la asociación.</span>
                    </p>
                    <a ng-click="limpiarModalPago('pagarHandicap');" class="btn btn-lightblue btn-large"
                       href="javascript:void(0)" translate="PAYNOW" translate-language="{{idiomaElegido}}">Pagar ahora</a>
                </div>
                <div class="cuota-al-dia" ng-show="isAlDia">
                    <h3 translate="HANDICAPFEE" translate-language="{{idiomaElegido}}">Pago de cuota de asociación</h3>
                    <p translate="YOURFEE" translate-language="{{idiomaElegido}}">Tu cuota de asociación del club a la AAP está al día. Puedes pagar handicap de otros jugadores desde esta sección</p>
                </div>
            </div>
        </div>
    </div>
</div>