﻿<div class="panel panel-profile">
    <div class="panel-header">
        <hgroup class="user-profile-title">
            <h1>Disciplina</h1>
        </hgroup>
    </div>
    <div class="panel-body">
        <ul class="tabs-default">
            <li class="current"><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="vigentes">Sanciones vigentes</a></li>
            <li><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="cumplidas">Sanciones cumplidas</a></li>
        </ul>
        <div class="tab-contents">
            <div class="tab-content" id="vigentes" style="display: block;">
                <ul class="sanciones">
                    <li ng-repeat="infraccion in infraccionesVigentes">
                        <p><strong>Fecha de la infracción:</strong> {{infraccion.fec_infraccion | date:'dd/MM/yyyy'}}</p>
                        <p><strong>Infracción:</strong> {{infraccion.ttipo_infraccion.txt_desc}}</p>
                        <p><strong>Partido:</strong> {{infraccion.tpartido.tequipo.txt_desc}} vs. {{infraccion.tpartido.tequipo1.txt_desc}}, {{infraccion.tpartido.ttorneo.txt_desc}}.</p>
                        <p><strong>Sanción:</strong>{{infraccion.txt_desc}}</p>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="cumplidas">
                <ul class="sanciones">
                    <li ng-repeat="infraccion in infraccionesCumplidas">
                        <p><strong>Fecha de la infracción:</strong> {{infraccion.fec_infraccion}}</p>
                        <p><strong>Infracción:</strong> {{infraccion.ttipo_infraccion.txt_desc}}</p>
                        <p><strong>Partido:</strong> {{infraccion.tpartido.tequipo.txt_desc}} vs. {{infraccion.tpartido.tequipo1.txt_desc}}, {{infraccion.tpartido.ttorneo.txt_desc}}.</p>
                        <p><strong>Sanción:</strong>{{infraccion.txt_desc}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>