﻿<div class="panel panel-profile">
    <div class="panel-header">
        <div class="user-profile-pic">
            <input name="archivo" type="file" ng-model="fileLoad" class="hide" id="fileLoad" style="display:none;"
                   ngf-max-total-size="10MB" ngf-select="upload($file)" required ng-accept="'.jpg, .png, .gif'" />
            <div class="user-pic" ng-if="perfil.txt_imagen == undefined || perfil.txt_imagen == null || perfil == 'No Tiene'"
                 style="background-image: url('/img/avatars/avatar-user1.png')"></div>
            <div class="user-pic" ng-if="perfil.txt_imagen != undefined && perfil.txt_imagen != null && perfil != 'No Tiene'"
                 style="background-image: url('{{perfil.txt_imagen}}')"></div>
            <a href="javascript:void(0)" ng-click="subirImagen()" class="edit-info has-tooltip" title="Cambiar imagen de perfil"><i class="icon-pencil"></i></a>
        </div>
        <hgroup class="user-profile-title">
            <h1>{{perfil.txt_nombre}} {{perfil.txt_apellido}}</h1>
            <h3 ng-show="perfil.txt_tarjeta != null && perfil.txt_tarjeta != undefined">N· Polo Community {{perfil.txt_tarjeta}}</h3>
            <h4>Club: <strong>{{perfil.clubPrincipal.tclub.txt_desc}}</strong></h4>
        </hgroup>
        <ul class="featured-values">
            @*<li>
                <h4>13</h4>
                <span>Torneos</span>
            </li>*@
            <li class="featured-main">
                <h4>{{perfil.handicap.nro_handicap}}</h4>
                <span translate="HANDICAP" translate-language="{{idiomaElegido}}">Handicap</span>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <dl class="user-data">
            <div class="row clearfix">
                <div class="col-md-6">
                    <div class="user-data-item">
                        <dt translate="NAME" translate-language="{{idiomaElegido}}">Nombre</dt>
                        <dd>{{perfil.txt_nombre}}</dd>
                    </div>
                    <div class="user-data-item">
                        <dt translate="SURNAME" translate-language="{{idiomaElegido}}">Apellido</dt>
                        <dd>{{perfil.txt_apellido}}</dd>
                    </div>
                    <div class="user-data-item">
                        <dt translate="GENRE" translate-language="{{idiomaElegido}}">Género</dt>
                        <dd>{{perfil.tgenero.txt_desc}}</dd>
                    </div>
                    <div class="user-data-item">
                        <dt translate="COUNTRY" translate-language="{{idiomaElegido}}">Nacionalidad</dt>
                        <dd>{{perfil.tpais.txt_desc}}</dd>
                    </div>
                    <div class="user-data-item">
                        <dt translate="HANDICAPCATEGORY" translate-language="{{idiomaElegido}}">Categoría handicap</dt>
                        <dd>{{perfil.handicap.thandicap.tcategoria_handicap.txt_desc}}</dd>
                    </div>
                    <div class="user-data-item">
                        <dt>Tipo de handicap</dt>
                        <dd>{{perfil.handicap.thandicap.txt_desc}}</dd>
                    </div>
                    <div class="user-data-item">
                        <dt translate="BIRTHDATE" translate-language="{{idiomaElegido}}">Fecha de nacimiento</dt>
                        <dd>{{perfil.fec_nacimiento | date: 'dd/MM/yyyy'}}</dd>
                    </div>
                    <div class="user-data-item">
                        <dt translate="ID" translate-language="{{idiomaElegido}}">Documento</dt>
                        <dd>{{perfil.nro_doc}}</dd>
                    </div>
                    <div class="user-data-item">
                        <dt> <span translate="CLUBPREFERENCE" translate-language="{{idiomaElegido}}">Club principal </span><br />  <i class="icon-question has-tooltip" title="Es aquel al que diriges tu handicap"></i> </dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.clubPrincipal.tclub.txt_desc}}</span>
                                @*<a href="javascript:void(0)" class="edit-info has-tooltip change-data" title="Editar"
                    ng-show="perfil.clubPrincipal.tclub.isEditable" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>*@
                            </div>
                            <div class="info-editar">
                                <select name="club_principal" ng-model="perfil.cod_club_principal" ng-options="club.cod_club as club.txt_desc for club in clubesAll" required
                                        class="select2-basic" id="club-principal">
                                    <option value="" selected translate="CHOOSECLUB" translate-language="{{idiomaElegido}}">Seleccioná un club</option>
                                </select>
                                <a href="javascript:void(0)" ng-click="guardarJugador()" class="edit-info has-tooltip background-green change-accept"
                                   onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void(0)" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt> <span translate="REPUBLICCLUB" translate-language="{{idiomaElegido}}">Club República </span><br />  <i class="icon-question has-tooltip" title="Es el que representarás en la Copa República"></i> </dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.clubRepublica.tclub.txt_desc}}</span>
                                <a href="javascript:void(0)" class="edit-info has-tooltip change-data" title="Editar"
                                   ng-show="perfil.clubRepublica.tclub.isEditable" onclick="clickEditable(this);"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <select name="club_principal" ng-model="perfil.cod_club_republica" ng-options="club.cod_club as club.txt_desc for club in clubesAll" required
                                        class="select2-basic" id="club-principal">
                                    <option value="" selected translate="CHOOSECLUB" translate-language="{{idiomaElegido}}">Seleccioná un club</option>
                                </select>
                                <a href="javascript:void(0)" onclick="clickModal('advertenciaModificacion')" class="edit-info has-tooltip background-green change-accept"
                                   onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void(0)" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt><span translate="MEMBERSHIPCLUBS" translate-language="{{idiomaElegido}}"> Clubes pertenencia </span> <br /> <i class="icon-question has-tooltip" title="Son los otros clubes a los que perteneces"></i><dt>
<dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.club_secundarios.length}} <span translate="CLUBS" translate-language="{{idiomaElegido}}">clubes</span></span>
                                <a href="javascript:void(0)" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
								<input style="display:none" type="text" value="{{perfil.club_secundarios.length}} clubes"/>
                                <select name="clubes-secundarios" ng-model="perfil.club_secundarios" ng-options="club.cod_club as club.txt_desc for club in clubesAll
                                    | filter:{ cod_club: '!' + perfil.cod_club_principal}" class="select2-basic" multiple id="clubes-secundarios">
                                    <option value="" translate="CHOOSECLUBMULTI" translate-language="{{idiomaElegido}}">Seleccioná uno o más clubes</option>
                                </select>
                                <a href="javascript:void(0)" ng-click="guardarJugador()" class="edit-info has-tooltip background-green change-accept"
                                   onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void(0)" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="user-data-item">
                        <dt translate="MAIL" translate-language="{{idiomaElegido}}">Email</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.txt_mail}}</span>
                                <a href="javascript:void(0)" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="text" ng-model="perfil.txt_mail">
                                <a href="javascript:void(0)" ng-click="guardarJugador()" class="edit-info has-tooltip background-green change-accept"
                                   onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void(0)" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt translate="PHONE" translate-language="{{idiomaElegido}}">Teléfono</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.nro_telefono}}</span>
                                <a href="javascript:void(0)" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="text" ng-model="perfil.nro_telefono">
                                <a href="javascript:void(0)" class="edit-info has-tooltip background-green change-accept"
                                   ng-click="guardarJugador()" onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void(0)" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt translate="ADDRESS" translate-language="{{idiomaElegido}}">Dirección</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.tdomicilio.txt_domicilio}}</span>
                                <a href="javascript:void(0)" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="text" ng-model="perfil.tdomicilio.txt_domicilio">
                                <a href="javascript:void(0)" class="edit-info has-tooltip background-green change-accept"
                                   ng-click="guardarJugador()" onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void(0)" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt translate="ADDRESSNUMBER" translate-language="{{idiomaElegido}}">Número</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.tdomicilio.nro_domicilio}}</span>
                                <a href="javascript:void(0)" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="text" ng-model="perfil.tdomicilio.nro_domicilio">
                                <a href="javascript:void(0)" class="edit-info has-tooltip background-green change-accept"
                                   ng-click="guardarJugador()" onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void(0)" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt translate="FLOOR" translate-language="{{idiomaElegido}}">Piso</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.tdomicilio.nro_piso}}</span>
                                <a href="javascript:void(0)" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="number" min="0" ng-model="perfil.tdomicilio.nro_piso">
                                <a href="javascript:void(0)" class="edit-info has-tooltip background-green change-accept"
                                   ng-click="guardarJugador()" onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void(0)" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt translate="DEPARTMENT" translate-language="{{idiomaElegido}}">Departamento</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.tdomicilio.txt_departamento}}</span>
                                <a href="javascript:void(0)" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="text" ng-model="perfil.tdomicilio.txt_departamento">
                                <a href="javascript:void(0)" class="edit-info has-tooltip background-green change-accept"
                                   ng-click="guardarJugador()" onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void(0)" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt translate="POSTALCODE" translate-language="{{idiomaElegido}}">Código postal</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.tdomicilio.nro_cod_postal}}</span>
                                <a href="javascript:void(0)" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="number" min="0" ng-model="perfil.tdomicilio.nro_cod_postal">
                                <a href="javascript:void(0)" class="edit-info has-tooltip background-green change-accept"
                                   ng-click="guardarJugador()" onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void(0)" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt translate="MEDICALCERTIFICATION" translate-language="{{idiomaElegido}}">Certificado médico</dt>
                        <dd>
                            <span class="color-red has-tooltip" title="Carga un certificado médico vigente o no podrás participar en los partidos de la asociación.">
                                <i class="icon-warning"></i> ¡Tu certificado ha expirado!
                            </span>
                            <a href="javascript:void(0)" class="edit-info has-tooltip" title="Subir certificado"><i class="icon-upload"></i></a>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt>Facebook.com/</dt>
                        <dd>
                            <a href="http://www.facebook.com/{{perfil.txt_facebook}}" target="_blank">
                                <div class="info-editable">
                                    <span class="info-actual">
                                        {{perfil.txt_facebook}}
                                    </span>

                                    <a href="javascript:void(0)" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                                </div>
                            </a>
                            <div class="info-editar">
                                <input type="text" ng-model="perfil.txt_facebook">
                                <a href="javascript:void(0)" class="edit-info has-tooltip background-green change-accept" onclick="clickAcceptEdit(this)"
                                   ng-click="guardarJugador()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void(0)" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>

                    <div class="user-data-item">
                        <dt>Twitter.com/</dt>
                        <dd>
                            <a href="http://twitter.com/{{perfil.txt_twitter}}" target="_blank">
                                <div class="info-editable">
                                    <span class="info-actual">{{perfil.txt_twitter}}</span>
                                    <a href="javascript:void(0)" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                                </div>
                            </a>
                            <div class="info-editar">
                                <input type="text" ng-model="perfil.txt_twitter">
                                <a href="javascript:void(0)" class="edit-info has-tooltip background-green change-accept" onclick="clickAcceptEdit(this)"
                                   ng-click="guardarJugador()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void(0)" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>

                    <div class="user-data-item">
                        <dt>Instagram.com/</dt>
                        <dd>
                            <a href="http://instagram.com/{{perfil.txt_instagram}}" target="_blank">
                                <div class="info-editable">
                                    <span class="info-actual">{{perfil.txt_instagram}}</span>
                                    <a href="javascript:void(0)" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                                </div>
                            </a>
                            <div class="info-editar">
                                <input type="text" ng-model="perfil.txt_instagram">
                                <a href="javascript:void(0)" class="edit-info has-tooltip background-green change-accept" onclick="clickAcceptEdit(this)"
                                   ng-click="guardarJugador()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void(0)" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                </div>
            </div>
        </dl>
    </div>
</div>



<div class="modal" id="advertenciaModificacion">
    <div class="modal-overlay"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="&#xe063;">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="advertenciaModificacion" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Recuerde que el Club República tiene vigencia de 1 año y no podrás modificarlo hasta entonces</p>

                    <div class="modal-opciones text-right">
                        <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="advertenciaModificacion" ng-click="guardarJugador()">Continuar</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="advertenciaModificacion" onclick="closeModal()">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>