﻿<div class="panel panel-profile" ng-init="renderCalendar()">
    <div class="panel-header">
        <hgroup class="user-profile-title">
            <h1>Polo Community</h1>
        </hgroup>
    </div>
    <div class="panel-body">
        <p class="inscripcion-disclaimer">Próximamente podrás disfrutar de los beneficios.</p>
    </div>
</div>