﻿<div class="panel panel-profile">
    <div class="panel-body panel-inbox clearfix">
        <div class="col-md-3 inbox-list">
            <ul class="tabs-inbox">
                <li class="current"><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="recibidos">Recibidos</a></li>
                <li><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="enviados">Enviados</a></li>
            </ul>
            <div class="tab-contents">
                <div class="tab-content" id="recibidos" style="display: block;">
                    <ul class="inbox-mails">
                        <li class="current" ng-repeat="notificacion in notificacionesDeAAP" ng-click="populateNotificacion(notificacion);"
                            ng-class="{'current': (notificacion.cod_notificacion == notificacionElegida.cod_notificacion)}">
                            <a href="javascript:void(0)">
                                <div class="inbox-list-header clearfix">
                                   <i class="icon-paperclip has-tooltip" ng-show="notificacion.tnotificacion_adjunto.length > 0" title="Tiene adjuntos"></i>
                                    <i class="icon-star has-tooltip" title="Mensaje destacado"></i>
                                    <span class="inbox-date">{{notificacion.fec_enviado | date:'dd/MM/yyyy'}}</span>
                                </div>
                                <h3>{{notificacion.txt_asunto}}</h3>
                                <p>{{notificacion.txt_desc}}</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="enviados">
                    <ul class="inbox-mails">
                        <li class="current" ng-repeat="notificacion in notificacionesEnviadasPorMi">
                            <a href="javascript:void(0)" ng-click="populateNotificacion(notificacion);">
                                <div class="inbox-list-header clearfix">
                                    <i class="icon-paperclip has-tooltip" ng-show="notificacion.tnotificacion_adjunto.length > 0" title="Tiene adjuntos"></i>
                                    <span class="inbox-date">{{notificacion.fec_enviado | date:'dd/MM/yyyy'}}</span>
                                </div>
                                <h3>RE:{{notificacion.tnotificacion.txt_asunto}}</h3>
                                <p>{{notificacion.txt_desc}}</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 inbox-content">
            <div class="inbox-content-header clearfix">
                <div class="inbox-profile-pic">
                    <div class="user-pic" style="background-image: url('img/avatars/avatar-user1.png')"></div>
                </div>
                <hgroup class="inbox-sender">
                    <h2>Asociación Argentina de Polo</h2>
                    <h4>{{notificacionElegida.fec_enviado | date: "dd 'de' MMMM 'de' yyyy"}}</h4>
                </hgroup>
                <ul class="inbox-actions">
                    <li><a href="javascript:void(0);" class="has-tooltip inbox-responder" title="Responder"><i class="icon-reply"></i></a></li>
                </ul>
            </div>
            <div class="inbox-content-body">
                <h1>{{notificacionElegida.txt_asunto}}</h1>
                <p>
                    {{notificacionElegida.txt_desc}}
                </p>
            </div>
            @*<div class="inbox-content-footer">
            <ul class="inbox-attachments row">
                <li class="col-md-4">
                    <a href="#">
                        <i class="icon-download"></i>
                        <span class="attachment-data">
                            <span class="attach-name">Nombre de adjunto</span>
                            <span class="attach-weight">726kb</span>
                        </span>
                    </a>
                </li>
                <li class="col-md-4">
                    <a href="#">
                        <i class="icon-download"></i>
                        <span class="attachment-data">
                            <span class="attach-name">Nombre de adjunto</span>
                            <span class="attach-weight">726kb</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>*@

            <div class="inbox-reply">
                <form name="formRespuesta" class="form-default">
                    <a href="javascript:void(0);" class="close-reply"><i class="icon-cross"></i></a>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Responder</h2>
                            <textarea style="height: 300px;" ng-model="respuesta.txt_desc"></textarea>
                        </div>

                        <div class="col-md-9">
                            <label for="adjuntos">Adjuntar archivo</label>
                            <input type="file" name="adjuntos" id="adjuntos" ng-model="respuesta.adjunto" ngf-max-total-size="10MB" ngf-select="uploadNotificacion($file)">
                        </div>

                        <div class="col-md-3">
                            <button class="btn btn-lightblue btn-full" style="margin-top: 35px;" ng-click="enviarRespuesta()">Enviar <i class="icon-direction"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
