﻿<div class="panel panel-profile">
    <div class="panel-header">
        <hgroup class="user-profile-title">
            <h1 translate="MYRECORD" translate-language="{{idiomaElegido}}">Mi Historial</h1>
        </hgroup>
    </div>
    <div class="panel-body">
        <ul class="tabs-default">
            <li class="current"><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="torneos" translate="HANDICAP" translate-language="{{idiomaElegido}}">Handicap</a></li>
            @*<li><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="galardones">Galardones</a></li>
                <li><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="ranking">Ranking</a></li>*@
        </ul>
        <div class="tab-contents clearfix">
            <div class="tab-content" id="handicap" style="display: block;">
                <div class="col-md-6">
                    <h3 translate="HISTORYOFHANDICAP" translate-language="{{idiomaElegido}}">Handicap histórico</h3>

                    <table class="table-default">
                        <thead>
                            <tr>
                                <th translate="HANDICAP" translate-language="{{idiomaElegido}}">Handicap</th>
                                <th translate="DATE" translate-language="{{idiomaElegido}}">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="handicap in perfil.handicap.thandicap_usuario_historico | unique :'nro_handicap'">
                                <td data-label="Handicap">
                                    <i class="icon-arrow-thin-up color-green"
                                       ng-show="((perfil.handicap.thandicap_usuario_historico | unique :'nro_handicap')[$index +1] == undefined) || (perfil.handicap.thandicap_usuario_historico | unique :'nro_handicap')[$index +1].nro_handicap <
                                       handicap.nro_handicap"></i>
                                    <i ng-show="((perfil.handicap.thandicap_usuario_historico | unique :'nro_handicap')[$index +1] != undefined ) && (perfil.handicap.thandicap_usuario_historico | unique :'nro_handicap')[$index +1].nro_handicap >
                                       handicap.nro_handicap" class="icon-arrow-thin-down color-red"></i>
                                    {{handicap.nro_handicap}}

                                </td>
                                <td data-label="Fecha">{{handicap.fec_ult_modificacion | date : 'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6" ng-show="perfil.handicapFemenino != undefined">
                    <h3>Handicap femenino histórico</h3>

                    <table class="table-default">
                        <thead>
                            <tr>
                                <th translate="HANDICAP" translate-language="{{idiomaElegido}}">Handicap</th>
                                <th translate="DATE" translate-language="{{idiomaElegido}}">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="handicap in perfil.handicapFemenino.thandicap_usuario_historico | unique :'nro_handicap'">
                                <td data-label="Handicap">
                                    <i class="icon-arrow-thin-up color-green"
                                       ng-show="((perfil.handicapFemenino.thandicap_usuario_historico| unique :'nro_handicap')[$index +1 ] == undefined) || (perfil.handicapFemenino.thandicap_usuario_historico| unique :'nro_handicap')[$index +1 ].nro_handicap <
                                       handicap.nro_handicap"></i>
                                    <i ng-show="((perfil.handicapFemenino.thandicap_usuario_historico | unique :'nro_handicap')[$index +1] != undefined) && (perfil.handicapFemenino.thandicap_usuario_historico| unique :'nro_handicap')[$index +1].nro_handicap >
                                       handicap.nro_handicap" class="icon-arrow-thin-down color-red"></i>
                                    {{handicap.nro_handicap}} 
                                </td>
                                <td data-label="Fecha">{{handicap.fec_ult_modificacion | date : 'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-content" id="galardones">
                <table class="table-default">
                    <thead>
                        <tr>
                            <th>Reconocimiento</th>
                            <th>Club</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reconocimiento in reconocimientos">
                            <td>{{reconocimiento.txt_desc}}</td>
                            <td>{{reconocimiento.txt_club}}</td>
                            <td>{{reconocimiento.fec_reconocimiento}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-content" id="ranking">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Ranking histórico</h3>
                        <table class="table-default">
                            <thead>
                                <tr>
                                    <th>Puesto</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ranking in rankings" class="highlight">
                                    <td>{{ranking.txt_desc}}</td>
                                    <td>{{ranking.fec_ranking}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3>Ranking actual</h3>
                        <table class="table-default">
                            <thead>
                                <tr>
                                    <th>Puesto</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ranking in rankingHistorico" class="highlight">
                                    <td>{{ranking.txt_desc}}</td>
                                    <td>{{ranking.fec_ranking}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>