﻿<div class="panel panel-profile" ng-init="renderSelect()">
    <div class="panel-header">
        <hgroup class="user-profile-title">
            <h1 translate="MYTOURNAMENTS" translate-language="{{idiomaElegido}}">Mis torneos</h1>
        </hgroup>
    </div>
    <div class="panel-body">
        <ul class="tabs-default">
            <li class="current"><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="inscribir" translate="SIGNUPTEAM" translate-language="{{idiomaElegido}}">>Inscripción por equipo</a></li>
            <li><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="inscribirmeTorneo" translate="SIGNUP" translate-language="{{idiomaElegido}}">>Inscripción individual</a></li>
            <li><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="inscripciones" translate="MYTOURNAMENTS" translate-language="{{idiomaElegido}}">>Inscripciones realizadas</a></li>
        </ul>
        <div class="tab-contents">
            <div class="tab-content" id="inscribir" style="display: block;">
                <form class="form-default" name="inscripcionTorneoForm">
                    <h3 translate="SELECTTOURNAMENT" translate-language="{{idiomaElegido}}">Seleccioná el torneo en el que vas a participar</h3>
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-6">
                            <select ng-model="torneoCod" ng-change="perfil.torneo = torneoCod; actualizarCategoria();" name="torneo" id="torneo" class="select2-basic"
                                    ng-options="torneo as torneo.txt_desc for torneo in torneos | filter: {bool_inscripcion: true}" required>
                                <option value="" translate="SELECTONETOURNAMENT" translate-language="{{idiomaElegido}}">Seleccioná un torneo</option>
                            </select>
                            <div ng-messages="inscripcionTorneoForm.torneo.$error" ng-if="submitted && torneoCod == undefined"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe seleccionar un torneo para participar</div>
                            </div>
                        </div>
                        <div class="col-md-6 categoriaSelect">
                            <select ng-model="perfil.torneo.cod_categoria_handicap" name="torneo-categoria" id="torneo-categoria" class="select2-basic"
                                    ng-options="categoria.cod_categoria_handicap as categoria.txt_desc for categoria in categoriasHandicap" disabled>
                                <option value="" translate="CATEGORY" translate-language="{{idiomaElegido}}">Categoría</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select ng-model="tequipo.cod_club" name="torneo_club" id="torneo_club" class="select2-basic"
                                    ng-options="club.cod_club as club.txt_desc for club in clubes" required>
                                <option value="" translate="SELECTCLUB" translate-language="{{idiomaElegido}}">Seleccioná un club</option>
                            </select>
                            <div ng-messages="inscripcionTorneoForm.torneo_club.$error" ng-if="submitted && tequipo.cod_club == undefined"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe seleccionar un club a representar</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="text" ng-model="tequipo.txt_desc" placeholder="">
                        </div>
                    </div>
                    <h3 translate="SELECTTEAMMATES" translate-language="{{idiomaElegido}}">Formá tu equipo</h3>
                    <div class="row clearfix">

                        <div class="col-lg-3 col-sm-6">
                            <div class="torneo-jugador-outer">
                                <div class="torneo-jugador jugador-agregado">
                                    <div class="torneo-jugador-inner">
                                        <span class="torneo-jugador-capitan" style="display:block">Capitán</span>
                                        <div class="user-pic" style="background-image: url('{{perfil.txt_imagen}}')"></div>
                                        <h5> {{perfil.txt_apellido}}, {{perfil.txt_nombre}}</h5>
                                        <p>
                                            Handicap: {{perfil.handicap.nro_handicap}}
                                        </p>
                                        <p>
                                            {{perfil.handicap.thandicap.txt_desc}}
                                            {{perfil.handicap.thandicap.tcategoria_handicap.txt_desc}}
                                        </p>
                                        <p>DNI: {{perfil.nro_doc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="torneo-jugador-outer" id="jugador_2">
                                <div class="torneo-jugador-agregar">
                                    <div class="torneo-jugador-inner">
                                        <i class="icon-plus agregar-jugador has-tooltip" title="Agregar jugador"></i>
                                    </div>
                                </div>

                                <div class="torneo-jugador-buscar">
                                    <div class="jugador-buscar">
                                        <input type="text" class="jugadorInputUno" ng-model="searchFilterUno" placeholder="Buscá nombre o DNI">
                                        <a href="javascript:void(0);" ng-click="filterJugadoresUno(searchFilterUno)"><i class="icon-search"></i></a>
                                    </div>

                                    <ul class="torneo-jugador-resultados" ng-class="{'loading': isLoading}">
                                        <li class="has-tooltip" data-placement="left" title="Agregar al equipo"
                                            ng-repeat="jugador in jugadoresUno | filter: myFilterByUno" ng-click="selectJugadoresUno(jugador);">
                                            {{jugador.txt_nombre}} {{jugador.txt_apellido}}<br><small> {{jugador.nro_doc}}</small>
                                        </li>
                                    </ul>
                                </div>

                                <div class="torneo-jugador" ng-class="{'jugador-agregado' : (perfilSeleccionadoUno != undefined)}">
                                    <div class="torneo-jugador-inner">
                                        <a href="javascript:void(0)" class="eliminar-jugador has-tooltip"
                                           ng-click="deleteSelected(perfilSeleccionadoUno);" title="Eliminar jugador"><i class="icon-trash"></i></a>
                                        <div class="user-pic" style="background-image: url('{{perfilSeleccionadoUno.txt_imagen}}')"></div>
                                        <h5> {{perfilSeleccionadoUno.txt_apellido}}, {{perfilSeleccionadoUno.txt_nombre}}</h5>
                                        <p>
                                            Handicap: {{perfilSeleccionadoUno.handicap.nro_handicap}}
                                        </p>
                                        <p>
                                            {{perfilSeleccionadoUno.handicap.thandicap.txt_desc}}
                                            {{perfilSeleccionadoUno.handicap.thandicap.tcategoria_handicap.txt_desc}}
                                        </p>
                                        <p>DNI: {{perfilSeleccionadoUno.nro_doc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="torneo-jugador-outer" id="jugador_3">
                                <div class="torneo-jugador-agregar">
                                    <div class="torneo-jugador-inner">
                                        <i class="icon-plus agregar-jugador has-tooltip" title="Agregar jugador"></i>
                                    </div>
                                </div>

                                <div class="torneo-jugador-buscar">
                                    <div class="jugador-buscar">
                                        <input type="text" class="jugadorInputUno" ng-model="searchFilterDos" placeholder="Buscá nombre o DNI">
                                        <a href="javascript:void(0);" ng-click="filterJugadoresDos(searchFilterDos)"><i class="icon-search"></i></a>
                                    </div>

                                    <ul class="torneo-jugador-resultados" ng-class="{'loading': isLoading}">
                                        <li class="has-tooltip" data-placement="left" title="Agregar al equipo"
                                            ng-repeat="jugador in jugadoresDos | filter: myFilterByDos" ng-click="selectJugadoresDos(jugador);">
                                            {{jugador.txt_nombre}} {{jugador.txt_apellido}}<br><small> {{jugador.nro_doc}}</small>
                                        </li>
                                    </ul>
                                </div>

                                <div class="torneo-jugador" ng-class="{'jugador-agregado' : (perfilSeleccionadoDos != undefined)}">
                                    <div class="torneo-jugador-inner">
                                        <a href="javascript:void(0)" ng-click="deleteSelected(perfilSeleccionadoDos);" class="eliminar-jugador has-tooltip"
                                           title="Eliminar jugador"><i class="icon-trash"></i></a>
                                        <div class="user-pic" style="background-image: url('{{perfilSeleccionadoDos.txt_imagen}}')"></div>
                                        <h5> {{perfilSeleccionadoDos.txt_apellido}}, {{perfilSeleccionadoDos.txt_nombre}}</h5>
                                        <p>
                                            Handicap: {{perfilSeleccionadoDos.handicap.nro_handicap}}
                                        </p>
                                        <p>
                                            {{perfilSeleccionadoDos.handicap.thandicap.txt_desc}}
                                            {{perfilSeleccionadoDos.handicap.thandicap.tcategoria_handicap.txt_desc}}
                                        </p>
                                        <p>DNI: {{perfilSeleccionadoDos.nro_doc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="torneo-jugador-outer" id="jugador_4">
                                <div class="torneo-jugador-agregar">
                                    <div class="torneo-jugador-inner">
                                        <i class="icon-plus agregar-jugador has-tooltip" title="Agregar jugador"></i>
                                    </div>
                                </div>

                                <div class="torneo-jugador-buscar">
                                    <div class="jugador-buscar">
                                        <input type="text" class="jugadorInputUno" ng-model="searchFilterTres" placeholder="Buscá nombre o DNI">
                                        <a href="javascript:void(0);" ng-click="filterJugadoresTres(searchFilterTres)"><i class="icon-search"></i></a>
                                    </div>

                                    <ul class="torneo-jugador-resultados" ng-class="{'loading': isLoading}">
                                        <li class="has-tooltip" data-placement="left" title="Agregar al equipo"
                                            ng-repeat="jugador in jugadoresTres| filter: myFilterByTres" ng-click="selectJugadoresTres(jugador);">
                                            {{jugador.txt_nombre}} {{jugador.txt_apellido}}<br><small> {{jugador.nro_doc}}</small>
                                        </li>
                                    </ul>
                                </div>

                                <div class="torneo-jugador" ng-class="{'jugador-agregado' : (perfilSeleccionadoTres != undefined)}">
                                    <div class="torneo-jugador-inner">
                                        <a href="javascript:void(0)" class="eliminar-jugador has-tooltip" ng-click="deleteSelected(perfilSeleccionadoTres)"
                                           title="Eliminar jugador"><i class="icon-trash"></i></a>
                                        <div class="user-pic" style="background-image: url('{{perfilSeleccionadoTres.txt_imagen}}')"></div>
                                        <h5> {{perfilSeleccionadoTres.txt_apellido}}, {{perfilSeleccionadoTres.txt_nombre}}</h5>
                                        <p>
                                            Handicap: {{perfilSeleccionadoTres.handicap.nro_handicap}}
                                        </p>
                                        <p>
                                            {{perfilSeleccionadoTres.handicap.thandicap.txt_desc}}
                                            {{perfilSeleccionadoTres.handicap.thandicap.tcategoria_handicap.txt_desc}}
                                        </p>
                                        <p>DNI: {{perfilSeleccionadoTres.nro_doc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-12" id="errorAlertas">
                            <div class="messageValidation validationGeneral" ng-if="thereIsError">
                                <div ng-repeat="message in messageError">{{message}}</div>
                            </div>
                            <div class="messageValidation validationGeneral messageWarning" ng-if="thereIsWarning">
                                <div ng-repeat="message in messageWarning">{{message}}</div>
                            </div>
                        </div>
                    </div>


                    <h3 translate="SUBSTITUTES" translate-language="{{idiomaElegido}}">Suplentes <em>(opcional)</em></h3>

                    <div class="row clearfix">

                        <div class="col-lg-3 col-sm-6">
                            <div class="torneo-jugador-outer" id="jugador_5">
                                <div class="torneo-jugador-agregar">
                                    <div class="torneo-jugador-inner">
                                        <i class="icon-plus agregar-jugador has-tooltip" ng-click="clearJugadorCuatro();" title="Agregar jugador"></i>
                                    </div>
                                </div>

                                <div class="torneo-jugador-buscar">
                                    <div class="jugador-buscar">
                                        <input type="text" class="jugadorInputUno" ng-model="searchFilterCuatro" placeholder="Buscá nombre o DNI">
                                        <a href="javascript:void(0);" ng-click="filterJugadoresCuatro(searchFilterCuatro)"><i class="icon-search"></i></a>
                                    </div>

                                    <ul class="torneo-jugador-resultados" ng-class="{'loading': isLoading}">
                                        <li class="has-tooltip" data-placement="left" title="Agregar al equipo"
                                            ng-repeat="jugador in jugadoresCuatro| filter: myFilterByCuatro" ng-click="selectJugadoresCuatro(jugador);">
                                            {{jugador.txt_nombre}} {{jugador.txt_apellido}}<br><small> {{jugador.nro_doc}}</small>
                                        </li>
                                    </ul>
                                </div>

                                <div class="torneo-jugador" ng-class="{'jugador-agregado' : (perfilSeleccionadoCuatro != undefined)}">
                                    <div class="torneo-jugador-inner">
                                        <span class="torneo-jugador-capitan" style="display:block">Suplente</span>
                                        <a href="javascript:void(0)" class="eliminar-jugador has-tooltip" ng-click="deleteSelected(perfilSeleccionadoCuatro);"
                                           title="Eliminar jugador"><i class="icon-trash"></i></a>
                                        <div class="user-pic" style="background-image: url('{{perfilSeleccionadoCuatro.txt_imagen}}')"></div>
                                        <h5> {{perfilSeleccionadoCuatro.txt_apellido}}, {{perfilSeleccionadoCuatro.txt_nombre}}</h5>
                                        <p>
                                            Handicap: {{perfilSeleccionadoCuatro.handicap.nro_handicap}}
                                        </p>
                                        <p>
                                            {{perfilSeleccionadoCuatro.handicap.thandicap.txt_desc}}
                                            {{perfilSeleccionadoCuatro.handicap.thandicap.tcategoria_handicap.txt_desc}}
                                        </p>
                                        <p>DNI: {{perfilSeleccionadoCuatro.nro_doc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="torneo-jugador-outer" id="jugador_5">
                                <div class="torneo-jugador-agregar">
                                    <div class="torneo-jugador-inner">
                                        <i class="icon-plus agregar-jugador has-tooltip" title="Agregar jugador"></i>
                                    </div>
                                </div>

                                <div class="torneo-jugador-buscar">
                                    <div class="jugador-buscar">
                                        <input type="text" class="jugadorInputUno" ng-model="searchFilterCinco" placeholder="Buscá nombre o DNI">
                                        <a href="javascript:void(0);" ng-click="filterJugadoresCinco(searchFilterCinco)"><i class="icon-search"></i></a>
                                    </div>

                                    <ul class="torneo-jugador-resultados" ng-class="{'loading': isLoading}">
                                        <li class="has-tooltip" data-placement="left" title="Agregar al equipo"
                                            ng-repeat="jugador in jugadoresCinco| filter: myFilterByCinco" ng-click="selectJugadoresCinco(jugador);">
                                            {{jugador.txt_nombre}} {{jugador.txt_apellido}}<br><small> {{jugador.nro_doc}}</small>
                                        </li>
                                    </ul>
                                </div>

                                <div class="torneo-jugador" ng-class="{'jugador-agregado' : (perfilSeleccionadoCinco != undefined)}">
                                    <div class="torneo-jugador-inner">
                                        <span class="torneo-jugador-capitan" style="display:block">Suplente</span>
                                        <a href="javascript:void(0)" class="eliminar-jugador has-tooltip" ng-click="deleteSelected(perfilSeleccionadoCinco);"
                                           title="Eliminar jugador"><i class="icon-trash"></i></a>
                                        <div class="user-pic" style="background-image: url('{{perfilSeleccionadoCinco.txt_imagen}}')"></div>
                                        <h5> {{perfilSeleccionadoCinco.txt_apellido}}, {{perfilSeleccionadoCinco.txt_nombre}}</h5>
                                        <p>
                                            Handicap: {{perfilSeleccionadoCinco.handicap.nro_handicap}}
                                        </p>
                                        <p>
                                            {{perfilSeleccionadoCinco.handicap.thandicap.txt_desc}}
                                            {{perfilSeleccionadoCinco.handicap.thandicap.tcategoria_handicap.txt_desc}}
                                        </p>
                                        <p>DNI: {{perfilSeleccionadoCinco.nro_doc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 translate="ENDREGISTRATION" translate-language="{{idiomaElegido}}">Finalizar inscripción</h3>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <p class="total-pago">
                                <span translate="FINALAMOUNT" translate-language="{{idiomaElegido}}">Monto total a abonar:</span> <strong>
                                    $
                                    <span>{{torneoCod.nro_precio_inscripcion}}</span>
                                    <span ng-if="torneoCod.nro_precio_inscripcion == undefined">0</span>
                                </strong>
                            </p>
                        </div>
                        <div class="col-md-6 p-t-10">
                            @*<input type="checkbox" name="torneo_terminos" ng-click="checkTerminosYCondiciones()" ng-model="terminosYCondiciones" id="torneo_terminos" required>
        <div ng-messages="inscripcionTorneoForm.torneo_terminos.$error" ng-if="submitted"
             class="messageValidation" style="color:maroon" role="alert">
            <div ng-message-default>Debe aceptar los términos y condiciones</div>
        </div>
        <label>
                He leído y acepto las <a href="javascript:void();" onclick="clickModal('condicionesTorneo')"
                                         data-modal="condicionesTorneo">condiciones de participación del torneo</a>.
            </label>*@
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-full btn-lightblue text-left" ng-disabled="isClicked"
                                    ng-click="finalizarPreInscripcion(perfilSeleccionadoUno, perfilSeleccionadoDos, perfilSeleccionadoTres, perfilSeleccionadoCuatro, perfilSeleccionadoCinco, torneoCod)"
                                    translate="SENDREGISTRATION" translate-language="{{idiomaElegido}}">
                                Enviar preinscripción <i class="icon-arrow-thin-right pull-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="inscripcion-disclaimer" translate="SHIPRECEIVED" translate-language="{{idiomaElegido}}">La inscripción se concretará cuando el pago de la tarifa de participación sea recibido.</p>
            </div>


            <div class="tab-content" id="inscribirmeTorneo">
                <h3>Seleccioná el torneo en el que vas a participar</h3>

                <form class="form-default" name="inscribirmeTorneoForm">
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-6">
                            <select ng-model="torneoCodInscribirme" ng-change="perfil.torneo = torneoCodInscribirme; actualizarCategoria();" name="torneoME" id="torneoME" class="select2-basic"
                                    ng-options="torneo as torneo.txt_desc for torneo in torneosIndividual | filter: {bool_inscripcion: true}" required>
                                <option value="">Seleccioná un torneo</option>
                            </select>
                            <div ng-messages="inscribirmeTorneoForm.torneoME.$error" ng-if="submitted && torneoCodInscribirme == undefined"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe seleccionar un torneo para participar</div>
                            </div>
                        </div>
                        <div class="col-md-6 categoriaSelect">
                            <select ng-model="perfil.torneo.cod_categoria_handicap" name="torneo-categoriaMe" id="torneo-categoriaMe" class="select2-basic"
                                    ng-options="categoria.cod_categoria_handicap as categoria.txt_desc for categoria in categoriasHandicap" disabled>
                                <option value="">Categoría</option>
                            </select>
                        </div>

                        <div class="col-md-12" id="errorAlertas">
                            <div class="messageValidation validationGeneral" ng-if="thereIsErrorMe">
                                <div ng-repeat="message in messageErrorMe">{{message}}</div>
                            </div>
                            <div class="messageValidation validationGeneral messageWarning" ng-if="thereIsWarningMe">
                                <div ng-repeat="message in messageWarningMe">{{message}}</div>
                            </div>
                        </div>
                    </div>

                    <h3>Finalizar inscripción</h3>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <p class="total-pago">
                                Monto total a abonar: <strong>
                                    $
                                    <span>{{torneoCodInscribirme.nro_precio_inscripcion}}</span>
                                    <span ng-if="torneoCodInscribirme.nro_precio_inscripcion == undefined">0</span>
                                </strong>
                            </p>
                        </div>
                        <div class="col-md-6 p-t-10">
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-full btn-lightblue text-left" ng-disabled="isClicked"
                                    ng-click="finalizarInscripcionPropia(torneoCodInscribirme)">
                                Enviar preinscripción <i class="icon-arrow-thin-right pull-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="inscripcion-disclaimer">La inscripción se concretará cuando el pago de la tarifa de participación sea recibido.</p>
            </div>

            <div class="tab-content" id="inscripciones">
                <div class="row clearfix">
                    <div class="col-md-4" ng-repeat="equipo in equipos">
                        <div class="torneo-inscripto">
                            <h3>{{getNombreTorneo(equipo.cod_torneo)}}</h3>
                            <dl>
                                <dt>Fecha</dt>
                                <dd>{{getFechaTorneo(equipo.cod_torneo) | date:'dd/MM/yyyy'}}</dd>
                                <dt>Equipo: <b>{{equipo.txt_desc}}</b></dt>
                                <dt>Club: <b>{{equipo.tclub.txt_desc}}</b></dt>
                                <dd>
                                    <span ng-repeat="usuarioEquipo in equipo.tequipo_user">
                                        {{usuarioEquipo.users.txt_nombre}} {{usuarioEquipo.users.txt_apellido}}
                                        <span ng-show="usuarioEquipo.bool_capitan">(capitán)</span>
                                        <span ng-show="usuarioEquipo.bool_suplente">(suplente)</span> <br>
                                    </span>
                                </dd>
                            </dl>
                            <button class="btn btn-full btn-lightblue text-left" ng-show="equipo.tequipo_user[0].cod_estado !=1" ng-click="reintentarPreInscripcion(equipo)">
                                Pagar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="condicionesTorneo">
    <div class="modal-overlay" data-dismiss="condicionesTorneo" onclick="closeModal()"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="(">Condiciones de participación de torneo</h2>
                <i class="icon-cross" data-dismiss="condicionesTorneo" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>
            </div>
        </div>
    </div>
</div>
