﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12" ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Crear torneo</h1>
                <a href="javascript:void(0)" class="btn btn-lightblue pull-right m-t-0" onclick="clickModal('confirmarSalir')"><i class="icon-arrow-thin-left"></i> Volver al listado</a>
                <div class="clearfix"></div>
                <form class="form-default" name="formTorneo">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <h3>Información general</h3>
                        </div>
                        <div class="col-md-4">
                            <label for="nombre">Nombre del torneo</label>
                            <input type="text" ng-model="torneo.txt_desc" name="nombre" id="nombre" required>
                            <div ng-messages="formTorneo.nombre.$error" ng-if="submitted || formTorneo.nombre.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="tipo">Tipo de torneo</label>
                            <select name="tipo" ng-model="torneo.cod_categoria_torneo"
                                    ng-options="categoria.cod_categoria_torneo as categoria.txt_desc for categoria in categoriasTorneo" id="tipo" class="select2-basic" required>
                                <option value="" selected disabled></option>
                            </select>
                            <div ng-messages="formTorneo.tipo.$error" ng-if="submitted || formTorneo.tipo.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="inicio">Fecha de inicio</label>
                            <input type="text" ng-model="torneo.fec_comienzo" name="inicio" id="inicio" class="datepicker" required ng-change="actualizarCalendar()">
                            <div ng-messages="formTorneo.inicio.$error" ng-if="submitted || formTorneo.inicio.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="categoria">Categoría de torneo</label>
                            <select name="categoria" ng-model="torneo.cod_categoria_handicap"
                                    ng-options="categoria.cod_categoria_handicap as categoria.txt_desc for categoria in categoriasHandicap | filter: {txt_desc: '!' + 'M'}" id="categoria" class="select2-basic" required>
                                <option value="" selected disabled></option>
                            </select>
                            <div ng-messages="formTorneo.categoria.$error" ng-if="submitted || formTorneo.categoria.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="imagen">Imagen <i class="icon-question has-tooltip" title="Debe pesar menos de 10 MB"></i></label>
                            @*<input type="file" name="imagen" id="imagen">*@
                            <input name="archivo" type="file" ng-model="fileLoad" id="fileLoad"
                                   ngf-max-total-size="10MB" ngf-select="upload($file)" ng-accept="'.jpg, .png, .gif'" @*ng-required="torneo.cod_torneo == undefined"*@ />
                            @*<div ng-messages="formTorneo.archivo.$error" ng-if="submitted || formTorneo.archivo.$dirty"
                 class="messageValidation" style="color:maroon" role="alert">
                <div ng-message="required">Debe completar un valor</div>
                <div ng-message-default>Este campo tiene un error</div>
            </div>*@
                        </div>

                        <div class="col-md-12">
                            <label for="descripcion">Descripción</label>
                            <textarea name="descripcion" ng-model="torneo.txt_desc_larga" id="descripcion" style="height: 200px;"></textarea>
                        </div>

                        <div class="col-md-12">
                            <h3>Handicap y condiciones</h3>
                        </div>

                        <div class="col-md-4">
                            <label for="handicap-maximo-equipo">Máximo por equipo</label>
                            <input type="number" name="handicapmaximoequipo" ng-model="torneo.nro_handicap_equipo_maximo" id="handicapmaximoequipo"
                                   min="{{torneo.nro_handicap_equipo_minimo}}" max="40" />
                            <div ng-messages="formTorneo.handicapmaximoequipo.$error" ng-show="formTorneo.handicapmaximoequipo.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message-default>Debe ser mayor a el mínimo por equipo</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="handicap-minimo-equipo">Mínimo por equipo</label>
                            <input type="number" name="handicap-minimo-equipo" ng-model="torneo.nro_handicap_equipo_minimo" id="handicap-minimo-equipo"
                                   value="0" min="0" max="40" />
                        </div>

                        <div class="col-md-4">
                            <label for="handicap-maximo-jugador">Máximo por jugador</label>
                            <input type="number" name="handicap-maximo-jugador" ng-model="torneo.nro_handicap_jugador_maximo" id="handicap-maximo-jugador"
                                   value="0" min="{{torneo.nro_handicap_jugador_minimo}}" max="10" />
                        </div>

                        <div class="col-md-4">
                            <label for="handicap-minimo-jugador">Mínimo por jugador</label>
                            <input type="number" name="handicap-minimo-jugador" ng-model="torneo.nro_handicap_jugador_minimo" id="handicap-minimo-jugador"
                                   value="0" min="0" max="10" />
                        </div>

                        <div class="col-md-4">
                            <label for="jugador-minimo">Jugador mínimo <i class="icon-question has-tooltip" title="Un jugador con N o menos (opcional)"></i></label>
                            <input type="number" name="handicap-especifico" value="0" min="0" max="10"
                                   ng-model="torneo.nro_handicap_especifico" id="handicap-especifico" />
                        </div>

                        <div class="col-md-4">
                            <label for="inscripcion">Inscripción</label>
                            <select class="select2-basic" ng-model="torneo.bool_inscripcion" name="inscripcion" id="inscripcion" required>
                                <option value="" selected disabled></option>
                                <option value="true" ng-selected="torneo.bool_inscripcion == true">Abierta</option>
                                <option value="false" ng-selected="torneo.bool_inscripcion == false">Cerrada</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="inscripcion">Inscripción individual</label>
                            <select class="select2-basic" ng-model="torneo.bool_inscripcion_individual" name="inscripcion" id="inscripcion" required>
                                <option value="">Seleccione una opción</option>
                                <option value="false">No</option>
                                <option value="true">Si</option>
                            </select>
                            <div ng-messages="formTorneo.inscripcion.$error" ng-if="submitted || formTorneo.precio.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe seleccionar una opción</div>
                            </div>
                        </div>

                        <div class="col-md-4" ng-show="torneo.cod_categoria_torneo == 18">
                            <label for="inscripcion">Acepta menores</label>
                            <select class="select2-basic" ng-model="torneo.bool_menores" name="aceptaMenores" id="aceptaMenores" ng-required="torneo.cod_categoria_torneo == 18">
                                <option value="">Seleccione una opción</option>
                                <option value="false">No</option>
                                <option value="true">Si</option>
                            </select>
                            <div ng-messages="formTorneo.aceptaMenores.$error" ng-if="submitted || formTorneo.aceptaMenores.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe seleccionar una opción</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h3>Precio de inscripción</h3>
                        </div>
                        <div class="col-md-4">
                            <label for="email">Precio</label>
                            <input type="number" ng-model="torneo.nro_precio_inscripcion" name="precio" id="precio" min="1" required>
                            <div ng-messages="formTorneo.precio.$error" ng-if="submitted || formTorneo.precio.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar el precio</div>
                                <div ng-message-default>Debe ser mayor a $1</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h1 class="title-admin m-t-40">Partidos</h1>
                        </div>

                        <div class="abm-partidos">
                            <div class="row m-r-0 m-l-0 abm-cancha clearfix" style="display: block;" ng-repeat="partido in torneo.tpartido">
                                <div class="col-md-12">
                                    <h3>Partido {{$index + 1}}</h3>
                                </div>

                                <div class="col-md-4">
                                    <label for="p-fecha-1">Fecha</label>
                                    <input type="text" ng-model="partido.fec_partido" ng-value="partido.fec_partido | date:'dd/MM/yyyy'"
                                           name="p-fecha-1" id="p-fecha-{{$index}}" class="datepickerPartido">
                                </div>

                                <div class="col-md-4">
                                    <label for="p-hora-1">Horario</label>
                                    <input type="time" ng-model="partido.horario" name="p-hora-1" id="p-hora-{{$index}}">
                                </div>

                                <div class="col-md-4">
                                    <label for="p-instancia-1">Instancia</label>
                                    <select name="p-instancia-1" ng-model="partido.cod_instancia" id="p-instancia-{{$index}}" class="select2-basic"
                                            ng-options="instancia.cod_instancia as instancia.txt_instancia for instancia in instancias" required>
                                        <option value="" selected disabled></option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label for="p-referee-1">Referee</label>
                                    <select name="p-referee-1" id="p-referee-{{$index}}" ng-model="partido.cod_referee" class="select2-basic"
                                            ng-options="referee.cod_referee as
                                            ( referee.users.txt_nombre + ' ' + referee.users.txt_apellido + ' (' + referee.users.nro_doc + ')')
                                            for referee in referees">
                                        <option value="" selected disabled>Buscá nombre o DNI</option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label for="p-veedor-1">Veedor</label>
                                    <select name="p-veedor-1" ng-model="partido.cod_veedor" id="p-veedor-{{$index}}" class="select2-basic"
                                            ng-options="veedor.cod_usuario as ( veedor.txt_nombre + ' ' + veedor.txt_apellido + ' (' + veedor.nro_doc + ')')
                                            for veedor in veedores">
                                        <option value="" selected disabled>Buscá nombre o DNI</option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label for="p-local-1">Local</label>
                                    <select name="p-local-1" ng-model="partido.cod_equipo_local" id="p-local-{{$index}}" class="select2-basic"
                                            ng-options="equipo.cod_equipo as equipo.txt_desc for equipo in equipos" required>
                                        <option value="" selected disabled></option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label for="p-visitante-1">Visitante</label>
                                    <select name="p-visitante-1" ng-model="partido.cod_equipo_visitante" id="p-visitante-{{$index}}" class="select2-basic"
                                            ng-options="equipo.cod_equipo as equipo.txt_desc for equipo in equipos | filter : {cod_equipo : '!' + partido.cod_equipo_local}" required>
                                        <option value="" selected disabled></option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label>Desactivar / Activar</label>
                                    <div class="toggle" ng-class="{'toggle-active': partido.bool_activo}"
                                         title="Activo" data-on="Activo" data-off="Inactivo" onclick="toggle(this)" ng-click="partido.bool_activo = !partido.bool_activo">
                                        <div class="toggle-inner"></div>
                                    </div>
                                </div>

                                <div class="col-md-2 pull-right">
                                    <label>&nbsp;</label>
                                    <a href="javascript:void(0);" ng-click="borrarPartido($index)" class="btn btn-red pull-right eliminar-partido"><i class="icon-trash"></i> Eliminar</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 pull-right">
                            <a href="javascript:void(0);" ng-click="agregarPartido()" class="btn btn-lightblue-outline pull-right"><i class="icon-plus"></i> Agregar partido</a>
                        </div>


                        <div class="col-md-4 col-md-offset-8">
                            <button class="btn btn-xl btn-full btn-lightblue text-left m-t-20" ng-disabled="saved"
                                    ng-click="guardarTorneo(formTorneo)" data-modal="finInscripcion" ng-class="{'disabled': saved}">
                                Guardar cambios <i class="icon-arrow-thin-right pull-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="confirmarSalir">
    <div class="modal-overlay" data-dismiss="confirmarSalir"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="S;">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="confirmarSalir"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Si abandonás esta página ahora, perderás los cambios que no hayas guardado. ¿Estás seguro de que querés salir?</p>

                    <div class="modal-opciones text-right">
                        <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="confirmarSalir" ng-click="volverAlListado()">Salir y descartar cambios</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarSalir" onclick="closeModal()">Continuar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmarExitoSalir">
    <div class="modal-overlay" data-dismiss="confirmarExitoSalir"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="&#xe063;">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="confirmarExitoSalir"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Se han aplicado los cambios correctamente.</p>

                    <div class="modal-opciones text-right">
                        <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="confirmarExitoSalir" ng-click="volverAlListado()">Salir</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarExitoSalir" onclick="closeModal()">Continuar editando</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
