﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12"  ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Torneos</h1>
                <a href="/PanelControl/#/Torneo" class="btn btn-lightblue pull-right m-t-0"><i class="icon-plus"></i> Crear torneo</a>
                <div class="clearfix"></div>
                <table class="table-default table-admin">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo de torneo</th>
                            <th>Fecha de inicio</th>
                            <th>Inscripción</th>
                            <th></th>
                            <th>Ver Inscripciones</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="torneo in torneos">
                            <td data-label="Nombre"><a href="/PanelControl/#/Torneo/{{torneo.cod_torneo}}">{{torneo.txt_desc}}</a></td>
                            <td data-label="Tipo de torneo">{{torneo.tcategoria_torneo.txt_desc}}</td>
                            <td data-label="Fecha de inicio">{{torneo.fec_comienzo | date: 'dd/MM/yyyy'}}</td>
                            <td data-label="Inscripción">
                                <span ng-show="torneo.bool_inscripcion == true">Abierta</span>
                                <span ng-show="torneo.bool_inscripcion != true">Cerrada</span>
                            </td>
                            <td data-label="Activo">
                                <div class="toggle" ng-class="{'toggle-active': torneo.bool_activo}" onclick="toggle(this)" ng-click="deleteTorneo(torneo.cod_torneo)">
                                    <div class="toggle-inner"></div>
                                </div>
                            </td>
                            <td data-label="Ver Inscripciones">
                                <a href="/PanelControl/#/Torneos/Reporte/{{torneo.cod_torneo}}"
                                   class="btn btn-lightblue btn-small">Ver Inscripciones</a>
                            </td>
                            <td data-label="Editar perfil" class="text-right">
                                <a href="/PanelControl/#/Torneo/{{torneo.cod_torneo}}"
                                   class="btn btn-lightblue btn-small">Editar torneo</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                @*<ul class="pagination" ng-repeat="page in pages">
                    <li class="current"><a href="javascript:void(0)" ng-click="paginate($index)">{{$index + 1}}</a></li>
                </ul>*@
            </div>
        </div>
    </div>
</div>