﻿@*<aside class="admin-nav">
        <ul>
            <li><a href="/panelControl/#/Jugadores/reporte"><i class="icon-user"></i> Jugadores</a></li>
            <li class="current"><a href="javascript:void(0)"><i class="icon-flag"></i> Clubes</a></li>
        </ul>
    </aside>*@

<div class="admin-container" ng-init="init()" ng-class="{'loading': isLoading}">
    <div class="col-md-3">
        <div class="cuenta-card">
            <i class="icon-flag"></i>
            <h3>Cantidad total de torneos</h3>
            <h5>{{cant_torneos}}</h5>
        </div>
    </div>
    <div class="col-md-3">
        <div class="cuenta-card">
            <i class="icon-flag"></i>
            <h3>Cantidad total de equípos</h3>
            <h5>{{cant_equipos}}</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="cuenta-card">
            <i class="icon-checkmark"></i>
            <h3>Abonaron inscripción del torneo</h3>
            <h5>{{cant_abonaron}}</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="cuenta-card">
            <i class="icon-cross"></i>
            <h3>Adeudan inscripción del torneo</h3>
            <h5>{{cant_no_abonaron}}</h5>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Reporte Torneos</h1>
                <a href="/PanelControl/GetExcelReporteEquipos" target="_blank" class="btn btn-lightblue pull-right m-t-0"><i class="icon-download"></i> Descargar en Excel</a>

                <div class="clearfix"></div>

                <table class="table-default table-admin">
                    <thead>
                        <tr>
                            <th>Torneo</th>
                            <th>Equípo</th>
                            <th>Club</th>
                            <th>Capitán</th>
                            <th>Estado de cuenta</th>
                            <th>Fecha de último pago</th>
                            <th>Monto</th>
                            <th>Cod. Jugador</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="equipo in lstEquipos">
                            <td data-label="Torneo"><a href="/PanelControl/#/Torneo/{{equipo.cod_torneo}}"><strong>{{equipo.Torneo}}</strong></a></td>
                            <td data-label="Equipo">{{equipo.Equipo}}</td>
                            <td data-label="Club"><a href="/PanelControl/#/Club/{{equipo.cod_club}}"><strong>{{equipo.Club}}</strong></a></td>
                            <td data-label="Capitán"><a href="/PanelControl/#/Jugador/{{equipo.cod_usuario}}">{{equipo.NombreJugador}} {{equipo.ApellidoJugador}}</a></td>
                            <td data-label="Estado cuenta" ng-if="equipo.sn_pago != 0"><i class="icon-checkmark color-green"></i>Pagó</td>
                            <td data-label="Estado cuenta" ng-if="equipo.sn_pago == 0"><i class="icon-cross color-red"></i>No pagó</td>
                            <td data-label="Fecha de último pago">{{equipo.fec_ult_pago | date:'dd/MM/yyyy'}}</td>
                            <td data-label="Monto" ng-if="equipo.sn_pago != 0">${{equipo.importe}}</td>
                            <td data-label="Monto" ng-if="equipo.sn_pago == 0"></td>
                            <td data-label="Cod Jugador">{{equipo.JugadorID}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
