﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-3 col-sm-6">
        <div class="cuenta-card">
            <i class="icon-flag"></i>
            <h3>Clubes participando</h3>
            <h5>{{cant_clubes}}</h5>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="cuenta-card">
            <i class="icon-user-group"></i>
            <h3>Equipos inscriptos</h3>
            <h5>{{cant_equipos}}</h5>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="cuenta-card">
            <i class="icon-checkmark"></i>
            <h3>Abonaron la inscripción</h3>
            <h5>{{cant_abonaron}}</h5>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="cuenta-card">
            <i class="icon-cross"></i>
            <h3>Adeudan la inscripción </h3>
            <h5>{{cant_no_abonaron}}</h5>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left"><small>Inscriptos al torneo</small><a href="/PanelControl/#/Torneo/{{DatosTorneo.cod_torneo}}">{{DatosTorneo.txt_desc}}</a></h1>
                <a href="/PanelControl/#/Torneos" class="btn btn-lightblue pull-right m-t-0"><i class="icon-arrow-thin-left"></i> Volver a torneos</a>
                <a href="/PanelControl/GetExcelReporteEquiposIndividuales?id={{DatosTorneo.cod_torneo}}" ng-show="torneo.bool_inscripcion_individual"
                   ng-click="getReporteTorneosIndividual();" class="btn btn-lightblue pull-right m-t-0 m-r-20">
                    <i class="icon-download"></i> Descargar excel
                </a>
                <a href="/PanelControl/GetExcelReporteTorneos?id={{DatosTorneo.cod_torneo}}" ng-show="!torneo.bool_inscripcion_individual"
                   class="btn btn-lightblue pull-right m-t-0 m-r-20">
                    <i class="icon-download"></i> Descargar excel
                </a>

                <div class="clearfix"></div>

                <table class="table-default table-admin">
                    <thead>
                        <tr>
                            <th>Club</th>
                            <th>Equipo</th>
                            <th>Jugadores</th>
                            <th>Estado del pago</th>
                            @*<th>Zona</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="equipo in lstEquipos">
                            <td data-label="Club" ng-if="equipo.Club.cod_club != 0"><a href="/PanelControl/#/Club/{{equipo.Club.cod_club}}" target="_blank" class="has-tooltip" title="Visitar perfil">{{equipo.Club.txt_desc}}</a></td>
                            <td data-label="Club" ng-if="equipo.Club.cod_club == 0"><a href="javascript:void(0)">{{equipo.Club.txt_desc}}</a></td>
                            <td data-label="Equipo">{{equipo.Equipo.txt_desc}}</td>
                            <td data-label="Jugadores">
                                <a href="/PanelControl/#/Jugador/{{jugador.cod_usuario}}" target="_blank" class="has-tooltip"
                                   title="Visitar perfil" ng-repeat="jugador in equipo.Usuarios">
                                    {{jugador.txt_nombre}} {{jugador.txt_apellido}}<br>
                                </a>
                            </td>
                            <td data-label="Estado del pago" ng-if="equipo.sn_pago != 0"><i class="icon-checkmark color-green"></i>Abonado</td>
                            <td data-label="Estado del pago" ng-if="equipo.sn_pago == 0"><i class="icon-cross color-red"></i>Pendiente</td>

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
