﻿
<link rel="stylesheet" href="~/Content/jquery.fancybox.min.css">
<link rel="stylesheet" href="~/Content/jquery.fullpage.css">
<link rel="stylesheet" href="~/Content/polo-community.css">

<div id="fullpage">
    <div class="section section-inicio" id="section1">
        <div class="container"></div>
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="text-center">
                    <img src="../img/community-tar.png" alt="">
                    <h1>Polo Community</h1>
                    <h4 data-icon="T">Deslizá para comenzar a formar parte de la Polo Community</h4>
                </div>

            </div>
        </div>
    </div>

    <div class="section section-que-es" id="section2">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="text-center">
                    <h1>¿Qué es Polo Community?</h1>
                    <h3>Es un programa exclusivo que tiene como objetivo unir y conectar a la comunidad del polo.</h3>

                </div>
            </div>
            <div class="col-md-12 items-center">
                <div class="col-md-4">
                    <div class="tarjeta-community">
                        <h4 class="bg-color-1">Polo Players (Premium)</h4>
                        <p>Jugadores con hándicap pago.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tarjeta-community ">
                        <h4 class="bg-color-2">Polo Members</h4>
                        <p>Espectadores y público en general.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-como" id="section3">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="text-center">
                    <h1>¿Cómo formar parte de la Polo Community?</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="tarjeta-community-pasos">
                        <div class="community-pasos" data-icon="("></div>
                        <h3>Cargá tu datos en el<br>formulario.</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tarjeta-community-pasos">
                        <div class="community-pasos" data-icon="S"></div>

                        <h3>Aceptá los términos<br>y condiciones.</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tarjeta-community-pasos">
                        <div class="community-pasos" data-icon=""></div>
                        <h3>Formá parte del exclusivo<br>programa de beneficios.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-registro" id="section4">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="text-center">
                    <h1>¡Viví la experiencia Polo Community!</h1>
                    <h3>Registrate y forma parte de la casa del mejor polo del mundo.</h3>
                </div>
            </div>
            <div class="col-md-12 items-center">
                <div class="col-md-5">
                    <div class="tarjeta-community-in text-center">
                        <img src="../img/community-tar1.png" alt="">
                        <h3>Polo Players</h3>
                        <p>Si ya sos jugador validá tus datos y disfruta de los beneficios.</p>
                        <a href="javascript:void(0)" onclick="redirectToRegister()" class="btn  text-center">Accede a Polo Community</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="tarjeta-community-in text-center">
                        <img src="../img/community-tar2.png" alt="">
                        <h3>Polo Members</h3>
                        <p>Espectadores y público en general.</p>
                        <a href="/Miembro/#/PoloCommunity" class="btn  text-center">Accede a Polo Community</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function redirectToRegister() {
        var id = localStorage.getItem("id");
        if (id == undefined || id == "undefined") {
            clickModal('iniciarSesion');
            localStorage.setItem("redirectLanding", true);
        } else {
            location.href = "/Miembro/#/PoloCommunity";
        }
    }
</script>