/*      LANDING POLO COMMUNITY   */

.section-inicio {
	background: url(../img/community-pic-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    background-position: center center; 
}

.section-inicio:before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: rgba(32, 101, 165, .85);
}

.section-que-es:before, .section-como:before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
	background: url(../img/color-pic-bg.png) 0 0 no-repeat;
    background-position: center center; 
	background-size: cover;
}

.section-inicio img {
    max-width: 350px;
}

.section-que-es {
	
	background: -webkit-linear-gradient(bottom left, rgba(20, 101, 177, 1), rgba(236,0,140,.8));
    background: -o-linear-gradient(bottom left, rgba(20, 101, 177, 1), rgba(236,0,140,.8));
    background: linear-gradient(to top right, rgba(20, 101, 177, 1), rgba(236,0,140,.8));
}

.section-como {
	background: #00af8a;
	background: -webkit-linear-gradient(bottom left, rgba(32, 101, 165, 1), rgba(236,0,140,.8));
    background: -o-linear-gradient(bottom left, rgba(32, 101, 165, 1), rgba(236,0,140,.8));
    background: linear-gradient(to top right, rgba(0, 156, 223, 1), rgba(117, 235, 191,.8));
}

.section-inicio h1 {
	font-size: 46px;
    color: #fff;   
}

.tarjeta-community {
	background: #fff;
    padding: 20px 20px 10px;
    box-shadow: rgba(0,0,0,.05) 0 20px 10px -10px;
    margin: 15px 0;
    border-radius: 10px;
    overflow: hidden;
}

.items-center {
	display: flex;
	justify-content: center;
}

.tarjeta-community h4 { 
    padding: 20px;
    text-align: center;
    margin: -20px -20px 30px;
    font-size: 18px;
    color: #fff;
}

.bg-color-1 {
	background-color: #ec008c
}

.bg-color-2 {
	background-color: #5ccbca
}

.tarjeta-community p {
	margin: 20px 0;
	font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.section-que-es h1, .section-como h1, .section-registro h1 {
	font-size: 28px;
    font-weight: 600;
    color: #fff;
}

.tarjeta-community-pasos {
	margin-top: 60px;
}

.community-pasos {
	width: 100px;
    height: 100px;
    border-radius: 50px;
    display: block;
    float: none;
    margin: -50px auto 10px;
    background-color: #ec008c
}

.community-pasos:before {
	position: relative;
    top: 30px;
    left: 30px;
    color: #fff;
    font-size: 38px;
}

.section-que-es h1:after, .section-como h1:after, .section-registro h1:after {
	content: '';
    display: block;
    margin: 15px auto 30px;
    width: 100px;
    height: 4px;
    border-radius: 10px;
    background: #ec008c;
}

.section-inicio h3, .section-que-es h3, .section-como h3, .section-registro h3 {
	font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.section-inicio h4, .section-registro p {
	color: #fff;
    font-size: 18px;
    position: relative;
    font-weight: 300;
}

.section-registro p {
	font-size: 16px;
	margin-top: -20px;
}

.section-inicio h4:before {
	position: absolute;
    top: 50px;
    left: 46%;
    margin: 0 auto;
    color: #fff;
    font-size: 30px;
}

.section-que-es h3 span {
	font-weight: 600;
}

.section-registro {
	background: #11497d;
}

.section-registro img {
    max-width: 250px;
    box-shadow: rgba(0,0,0,.05) 0 20px 10px -10px;
}

.tarjeta-community-in a {
	background: #ec008c;
}

.tarjeta-community-in {
	margin-top: 40px;
}

.tarjeta-community-in a:hover {
	background: #c70d7c;    
}

@media(max-width: 1024px) {
    .tarjeta-community-pasos {
        margin-top: 80px;
    }

    .community-pasos {
        width: 30px;
        height: 30px;
        border-radius: 15px;        
        margin: -50px auto -15px;
    }

    .community-pasos:before {
    position: relative;
    top: 7px;
    left: 8px;
    color: #fff;
    font-size: unset; 
    }
}

@media(max-width: 985px) {
    .section-registro img {
        max-width: 150px;        
    }

    .items-center {
        display: unset;    
    }

    .tarjeta-community-in {
        margin-top: 0;
        margin-bottom: 20px;
    }

}

@media(max-width: 800px) {

    .section-inicio h1 {
        font-size: 32px;
        margin-top: 0;    
    }

    .section-inicio img {
        max-width: 300px;
    }

    .section-que-es h1, .section-como h1, .section-registro h1 {
        font-size: 24px;
    }

    .section-inicio h3, .section-que-es h3, .section-como h3, .section-registro h3 {
        font-size: 16px;
    }

    .section-inicio h4, .section-registro p {    
        font-size: 14px;
    }

    .section-registro p {
        margin-top: -15px;
    }

    .tarjeta-community-in a {
        font-size: 12px !important;
    }

    .tarjeta-community {
        padding: 20px 20px 2px;
    }

    .tarjeta-community h4 {
        font-size: 14px;
        padding: 10px;
        margin: -20px -20px 15px;
    }

    .section-registro img {
        max-width: 120px;
    }
}

@media(max-width: 640px) {

    .section-inicio {
        background-position: right;
    }

    .section-que-es h1, .section-como h1, .section-registro h1 {
        margin: 0;
        line-height: 26px;
    }

    .section-inicio img {
    max-width: 200px;
    }

    .tarjeta-community-in a {
        font-size: 10px !important;
        margin: 0 !important;
    }

}