﻿<section class="section-bg paper-after-grey" ng-init="init()" style="background-image: url('../img/bgs/8.jpg');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">Calendario de eventos</h1>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<section class="clearfix p-t-50 p-b-50">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <div id="calendar" class="calendar-torneos"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>