﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Asociación Argentina de Polo</title>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- Seccion de Css -->
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W7WJ8TR');</script>
    <!-- End Google Tag Manager -->


    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/normalize.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/icons.css">
    <link rel="stylesheet" href="~/Content/select2.css">
    <link rel="stylesheet" href="~/Content/slick.css">
    <link rel="stylesheet" href="~/Content/slick-theme.css">
    <link rel="stylesheet" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/calendar.css">
    <style>
        .wow {
            visibility: hidden;
        }
    </style>

    <!-- Sección de scripts-->
    <script src="~/Scripts/vendor/modernizr-3.5.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="Scripts/vendor/jquery-3.2.1.min.js"><\/script>')</script>

    <script src="~/Scripts/Angular/angular.min.js"></script>
    <script src="~/Scripts/Angular/angular-route.js"></script>
    <script src="~/Scripts/Angular/angular-sanitize.min.js"></script>
    <script src="~/Scripts/Angular/angular-strap.min.js"></script>
    <script src="~/Scripts/Angular/angular-strap.tpl.min.js"></script>
    <script src="~/Scripts/Angular/angular-messages.min.js"></script>
    <script src="~/Scripts/Angular/angular-animate.min.js"></script>
    <script src="~/Scripts/Angular/angular-aria.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/Angular/angular-locale_es-ar.js"></script>
    <script src="~/Scripts/Angular-modules/Login/loginModule.js"></script>
    <script src="~/Scripts/Angular-modules/Services/loginService.js"></script>
    <script src="~/Scripts/Angular-modules/Login/loginCtrl.js"></script>
    <script src="~/Scripts/Angular-modules/Home/indexModule.js"></script>
    <script src="~/Scripts/Angular-modules/Home/indexCtrl.js"></script>
    <script src="~/Scripts/Angular/ng-file-upload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <script src="~/Scripts/Angular/ng-file-upload-shim.min.js"></script>
    <script src="~/Scripts/Angular/angular-translate.min.js?v1"></script>
    <script>
        //var Login = document.getElementById('Login');

        //angular.element(document).ready(function () {
        //    angular.bootstrap(Login, ['Login']);
        //});
        $(document).ready(function () {
            $(this).scrollTop(0);
        });

        var idioma = localStorage.getItem("idioma");
        if (idioma == 'undefined' || idioma == undefined || idioma == null || idioma == 'null') {
            localStorage.setItem("idioma", 'es');
        }

    </script>
    <script>
        function load_js() {
            var head = document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            script.src = '/Scripts/Angular/angular-translate.min.js?v1';
            head.appendChild(script);
        }
        load_js();
    </script>
</head>
<body onbeforeunload="ConfirmClose(event)">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7WJ8TR"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="overlay-nav"></div>
    <header id="Login" ng-controller="loginCtrl as ctrl" ng-class="{'header-home': verifyCurrent('Home')}">
        <a href="/Home/Index" class="logo"><img src="~/img/logo.png" alt="AAP"></a>
        <h3 class="title-admin-head" style="display:none">Panel de administración</h3>
        <nav class="main-nav">
            <div class="user-top show-mobile" ng-if="user != undefined" ng-class="{'user-top-abierto': isOpen}">
                <a href="javascript:void(0);" class="dropdown" ng-class="{'dropdown-abierto': isOpen}" ng-click="isOpen = !isOpen">
                    <div class="user-pic" ng-if="user.txt_imagen == 'No Tiene' || user.txt_imagen == undefined || user.txt_imagen == null"
                         style="background-image: url('../img/avatars/avatar-user1.png')"></div>
                    <div class="user-pic" ng-if="user.txt_imagen != 'No Tiene' && user.txt_imagen != undefined && user.txt_imagen != null"
                         style="background-image: url('{{user.txt_imagen}}"></div>
                    <h4 class="nameUser">{{user.txt_nombre}}</h4>
                </a>
                <ul ng-class="{'displayed': isOpen}">
                    <li><a href="javascript:void(0);" ng-click="goToPerfil()" data-icon="&#xe056;" translate="MYPROFILE" translate-language="{{idiomaElegido}}">Mi perfil</a></li>
                    <li><a href="javascript:void(0);" onclick="clickModal('cambiarPass')" data-icon="&#xe005;" translate="CHANGEPASSWORD" translate-language="{{idiomaElegido}}">Cambiar contraseña</a></li>
                    <li><a href="javascript:void(0)" data-icon="&#xe036;" ng-click="signOut()" translate="LOGOUT" translate-language="{{idiomaElegido}}">Cerrar sesión</a></li>
                </ul>
            </div>

            <ul ng-init="verifyCurrent()">
                <li ng-class="{'current': verifyCurrent('Home')}"><a href="/Home/Index" translate="HOME" translate-language="{{idiomaElegido}}">Inicio</a></li>
                <li ng-class="{'current': verifyCurrent('Jugadores')}"><a href="/PerfilPublico/#/Jugadores" translate="PLAYERS" translate-language="{{idiomaElegido}}">Jugadores</a></li>
                <li ng-class="{'current': verifyCurrent('Clubes')}"><a href="/PerfilPublico/#/Clubes" translate="CLUBS" translate-language="{{idiomaElegido}}">Clubes</a></li>
                <li ng-class="{'current': verifyCurrent('Torneos')}"><a href="/PerfilPublico/#/Torneos" translate="TOURNAMENTS" translate-language="{{idiomaElegido}}">Torneos</a></li>
                @*<li ng-class="{'current': verifyCurrent('Eventos')}"><a href="/PerfilPublico/#/Eventos">Eventos</a></li>*@
                <li ng-class="{'current': verifyCurrent('Noticias')}"><a href="/PerfilPublico/#/Noticias" translate="NEWS" translate-language="{{idiomaElegido}}">Noticias</a></li>
                <li ng-class="{'current': verifyCurrent('Asociacion')}"><a href="/Asociacion/Vision" translate="ABOUTAAP" translate-language="{{idiomaElegido}}">La Asociación</a></li>
                <li class="btn-abierto"><a href="http://palermo.aapolo.com" translate="PALERMOOPEN" translate-language="{{idiomaElegido}}">Abierto de Palermo</a></li>
                <li class="btn-community">
                    <a href="/PoloCommunity/Landing" translate="POLOCOMMUNITY" translate-language="{{idiomaElegido}}">Polo Community</a>
                    @*<li><a href="#">Contacto</a></li>*@
            </ul>
            <div class="user-top language-top show-mobile">
                <a href="javascript:void(0);" class="dropdown" translate="SELECTIDIOMA" translate-language="{{idiomaElegido}}">Idioma: Español</a>
                <ul class="chooseLanguage">
                    <li ng-class="{'current': idiomaElegido == 'es'}"><a href="javascript:void(0)" id="es-" ng-click="cambiarIdioma('es')" translate="CHOOSELANGUAGEESP" translate-language="{{idiomaElegido}}">Español</a></li>
                    <li ng-class="{'current': idiomaElegido == 'en'}"><a href="javascript:void(0)" id="en-" ng-click="cambiarIdioma('en')" translate="CHOOSELANGUAGEENG" translate-language="{{idiomaElegido}}">English</a></li>
                </ul>
            </div>
        </nav>
        <div class="header-right">
            <div class="user-top language-top">
                <a href="javascript:void(0);" class="dropdown" translate="SELECTIDIOMA" translate-language="{{idiomaElegido}}">Idioma: Español</a>
                <ul class="chooseLanguage">
                    <li ng-class="{'current': idiomaElegido == 'es'}">
                        <a href="javascript:void(0)" id="es-" ng-click="cambiarIdioma('es')" translate="CHOOSELANGUAGEESP" translate-language="{{idiomaElegido}}">Español</a>
                    </li>
                    <li ng-class="{'current': idiomaElegido == 'en'}"><a href="javascript:void(0)" id="en-" ng-click="cambiarIdioma('en')" translate="CHOOSELANGUAGEENG" translate-language="{{idiomaElegido}}">English</a></li>
                </ul>
            </div>
            <a href="/PoloCommunity/Landing" class="btn-login btn-community">Polo Community</a>
            <a href="javascript:void(0);" style="display:none;" class="btn-login hideIfLogin" data-modal="iniciarSesion"
               ng-class="{'user-top-abierto': isOpen, 'displayed' :( user == undefined)}" translate="LOGIN" translate-language="{{idiomaElegido}}">Iniciar sesión</a>
            <div class="user-top no-mobile" style="display:none;" ng-class="{'displayed' : (user != undefined)}">
                <a href="javascript:void(0);" class="dropdown" ng-class="{'dropdown-abierto': isOpen}" ng-click="isOpen = !isOpen">
                    <div class="user-pic" ng-if="user.txt_imagen == 'No Tiene' || user.txt_imagen == undefined || user.txt_imagen == null"
                         style="background-image: url('../img/avatars/avatar-user1.png')"></div>
                    <div class="user-pic" ng-if="user.txt_imagen != 'No Tiene' && user.txt_imagen != undefined && user.txt_imagen != null"
                         style="background-image: url('{{user.txt_imagen}}"></div>
                    <h4 class="adminLogin nameUser"></h4>
                </a>
                <ul ng-class="{'displayed': isOpen}">
                    <li><a href="javascript:void(0);" ng-click="goToPerfil()" data-icon="&#xe056;" translate="MYPROFILE" translate-language="{{idiomaElegido}}">Mi perfil</a></li>
                    @*<li><a href="soporte.html" data-icon="&#xe005;">Soporte</a></li>*@
                    <li><a href="javascript:void(0)" data-icon="&#xe036;" ng-click="signOut()" translate="LOGOUT" translate-language="{{idiomaElegido}}">Cerrar sesión</a></li>
                </ul>
            </div>
            @*<div class="noti-top" ng-show="user != undefined">
                    <a href="javascript:void(0);" data-icon="x">
                        <span class="noti-count">{{notificaciones.length}}</span>
                    </a>
                </div>*@

            @*<div class="notificaciones">
                    <ul class="notificaciones-listado">
                        <li ng-repeat="notificacion in notificaciones">
                            <a href="/PerfilJugador/#/{{loginId}}/Inbox/{{notificacion.cod_notificacion}}">
                                <p>{{notificacion.txt_asunto}}</p>
                                <span>{{notificacion.fec_enviado | date:'dd/MM/yyyy HH:mm'}}</span>
                            </a>
                        </li>
                    </ul>
                </div>*@

            @*
                Region Modal
            *@
            <div class="modal" id="iniciarSesion">
                <div class="modal-overlay" onclick="closeModal()"></div>
                <div class="modal-dialogo-holder">
                    <div class="modal-dialogo modal-dialogo-600" style="max-width: 400px;">
                        <div class="modal-header">
                            <h2 data-icon="&#xe014;" translate="LOGIN" translate-language="{{idiomaElegido}}">Iniciar sesión</h2>
                            <i class="icon-cross" onclick="closeModal()"></i>
                        </div>

                        <div class="modal-contenido clearfix">
                            <div class="col-md-12 clearfix">
                                <p class="inscripcion-disclaimer" translate="IFYOURFIRST" translate-language="{{idiomaElegido}}">Si sos jugador y es la primera vez que ingresás, tu usuario y contraseña es igual a tu documento.</p>
                                <form name="formLo" class="form-default">
                                    <span ng-show="idiomaElegido == 'es' || idiomaElegido == undefined">
                                        <input type="text" ng-model="credenciales.nro_doc" placeholder="DNI">
                                        <input type="password" ng-model="credenciales.txt_password" placeholder="Contraseña">
                                        <a href="javascript:void(0)" onclick="clickModal('olvideMiContrasena')" data-dismiss="iniciarSesion">¿Has olvidado la contraseña?</a>
                                        <div class="messageValidation" ng-if="thereIsError" style="color:maroon; font-size: 14px;" role="alert">
                                            <div>Usuario o contraseña incorrectas</div>
                                        </div>
                                    </span>
                                    <span ng-show="idiomaElegido == 'en'">
                                        <input type="text" ng-model="credenciales.nro_doc" placeholder="ID">
                                        <input type="password" ng-model="credenciales.txt_password" placeholder="Password">
                                        <a href="javascript:void(0)" onclick="clickModal('olvideMiContrasena')" data-dismiss="iniciarSesion">Forgot password?</a>
                                        <div class="messageValidation" ng-if="thereIsError" style="color:maroon; font-size: 14px;" role="alert">
                                            <div>User or password wrong</div>
                                        </div>
                                    </span>
                                </form>

                                <div class="pull-right">
                                    <a href="javascript:void(0);" class="btn btn-lightblue" ng-click="loginJugador(credenciales, formLo)" translate="LOGIN" translate-language="{{idiomaElegido}}">
                                        Ingresar
                                        <i class="icon-arrow-thin-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="olvideMiContrasena">
                <div class="modal-overlay" onclick="closeModal()"></div>
                <div class="modal-dialogo-holder">
                    <div class="modal-dialogo modal-dialogo-600" style="max-width: 400px;">
                        <div class="modal-header">
                            <h2 data-icon="&#xe014;">Enviar Mail</h2>
                            <i class="icon-cross" onclick="closeModal()"></i>
                        </div>

                        <div class="modal-contenido clearfix">
                            <div class="col-md-12 clearfix">
                                <p class="inscripcion-disclaimer">Por favor, ingresa su DNI para validar tu identidad.Recibiras un email para reestablecer tu contraseña.</p>
                                <form class="form-default">
                                    <input type="text" ng-model="nro_doc" placeholder="DNI">
                                </form>

                                <div class="pull-right">
                                    <a href="javascript:void(0);" class="btn btn-lightblue" ng-click="olvideMiContrasena()">
                                        Enviar mail
                                        <i class="icon-arrow-thin-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="cambiarPass">
                <div class="modal-overlay"></div>
                <div class="modal-dialogo-holder">
                    <div class="modal-dialogo modal-dialogo-600">
                        <div class="modal-header">
                            <h2 data-icon="&#xe013;">Cambiar contraseña</h2>
                        </div>

                        <div class="modal-contenido clearfix">
                            <div class="col-md-12 clearfix">
                                <p>Tu contraseña provisoria ha caducado. Para continuar, debés actualizar tu contraseña.</p>
                                <p>La misma debe tener desde 8 caracteres de largo y contener al menos una letra mayúscula, una letra minúscula, un número y un caracter especial.</p>


                                <form name="formLogin" class="form-default">
                                    <input type="text" ng-model="actualizaCredenciales.nro_doc" placeholder="Número de documento" class="nroDocumento">
                                    <input type="password" ng-model="actualizaCredenciales.txt_password" ng-pattern="regexPassword" placeholder="Nueva contraseña">
                                    <input type="password" ng-model="actualizaCredenciales.re_txt_password" placeholder="Repetir contraseña">
                                    <div ng-if="submitted" class="messageValidation validationGeneral" style="color:maroon" role="alert">
                                        <div ng-message="pattern" ng-show="formLogin.$invalid">La contraseña no tiene el formato adecuado.</div>
                                        <div ng-message-default ng-show="actualizaCredenciales.txt_password != actualizaCredenciales.re_txt_password">Las contraseñas no coinciden.</div>
                                    </div>

                                    <div class="pull-right">
                                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-30"
                                           ng-click="actualizarContrasena(actualizaCredenciales, formLogin)">Actualizar contraseña</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-abierto" id="comunicadoImagen">
                <div class="modal-overlay" data-dismiss="comunicadoImagen" onclick="closeModal();"></div>
                <div class="modal-dialogo-holder">
                    <div class="modal-dialogo modal-dialogo-800">
                        <div class="modal-header">
                            <h2><i class="icon-message"></i> {{comunicado.txt_desc}}</h2>
                            <i class="icon-cross" data-dismiss="comunicadoImagen" onclick="closeModal();"></i>
                        </div>

                        <div class="modal-contenido modal-contenido-video clearfix">
                            <div class="imagenModal" style="background-image: url('{{comunicado.txt_imagen}}')"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-abierto" id="comunicadoVideo">
                <div class="modal-overlay" data-dismiss="comunicadoVideo"></div>
                <div class="modal-dialogo-holder">
                    <div class="modal-dialogo">
                        <div class="modal-header">
                            <h2><i class="icon-message"></i> {{comunicado.txt_desc}}</h2>
                            <i class="icon-cross" data-dismiss="comunicadoVideo"></i>
                        </div>

                        <div class="modal-contenido modal-contenido-video clearfix">
                            <video class="videoModal" controls="">
                                <source src="{{comunicado.txt_video}}" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-abierto" id="condicionesUsuario">
                <div class="modal-overlay"></div>
                <div class="modal-dialogo-holder">
                    <div class="modal-dialogo modal-dialogo-800">
                        <div class="modal-header">
                            <h2 data-icon="(">Términos y condiciones de usuario</h2>
                        </div>

                        <div class="modal-contenido clearfix">
                            <div class="col-md-12 clearfix">
                                <p><strong>1. DECLARACIÓN SOBRE ESTATUTOS Y REGLAMENTOS</strong></p>
                                <p>Declaro que conozco y acepto los estatutos y reglamentos de la Asociación Argentina de Polo que se publican en este sitio oficial y me obligo a cumplirlos.</p>
                                <p><strong>2. RESPONSABILIDAD</strong></p>
                                <p>En caso de que participe en torneos, partidos y cualquier tipo de competencia o evento que organice la Asociación Argentina de Polo declaro que lo haré libre, voluntariamente y bajo mi propio y exclusivo riesgo.</p>
                                <p>Asumo que la práctica de polo es peligrosa y libero de toda responsabilidad  directa o indirecta y con tanta amplitud como lo permita la ley  a los demás jugadores, a los árbitros, a la Asociación Argentina de Polo, a los organizadores de los torneos y partidos, a los agentes y empleados de los organizadores, a los auspiciantes y prestadores de servicios  en forma onerosa o gratuita  a los propietarios y custodios del predio donde se desarrollen los torneos y partidos, por cualquier pérdida, daño, erogación, lesión y/o pérdida de la vida, afectación de la salud y bienes que pudiera sufrir o que pudieran sufrir las personas a mi cargo.</p>
                                <p>Renuncio a cualquier acción, derecho, demanda o reclamo que pueda tener contra AAP.</p>
                                <p>Esta liberación de responsabilidad abarca los hechos que ocurran antes, durante, entre o después de los torneos, partidos o eventos e incluye aquellos hechos derivados de la atención y traslado por los equipos de emergencia médica.</p>
                                <p>Renuncio, en los términos de los artículos 944 y concordantes del Código Civil y Comercial, a exigir reparación alguna a las personas nombradas precedentemente y a cualquier otro tercero por los daños a los que me expongo por la propia naturaleza del polo y que pudiera sufrir con motivo o en ocasión de los torneos, partidos y eventos de cualquier naturaleza.</p>
                                <p>He evaluado detenidamente mis actuales capacidades técnicas y físicas, la naturaleza del juego, las condiciones de los predios en los que se desarrollarán los torneos y, en general, la medida del riesgo que asumo a mi criterio y con pleno consentimiento.</p>
                                <p>La Asociación Argentina de Polo será responsable, en cada caso y según el torneo, de los daños que yo pudiera causar a terceros con motivo o en ocasión de mi participación en torneos específicamente organizados por la Asociación Argentina de Polo, sujeto a la condición de que yo causare dichos daños desempeñándome dentro del marco reglamentario del polo. Por el contrario, yo seré responsable si causare daños a terceros por actos ajenos al marco reglamentario de la actividad del polo y mantendré indemne a la Asociación Argentina de Polo si yo ocasionare daños por dichos actos.</p>
                                <p><strong>3. CESIÓN DE DERECHOS</strong></p>
                                <p>Cedo a la Asociación Argentina de Polo en forma plena todos los derechos de propiedad intelectual sobre mi imagen y sobre los sonidos producidos durante el desarrollo de los campeonatos y/o partidos y/o eventos organizados por la Asociación Argentina de Polo (tomados tanto durante los partidos en sí mismos como antes, durante y después de los partidos, incluyendo contenidos conocidos como “detrás de la escena”, premiaciones y, en general, todo contenido tomado con motivo o en ocasión del desarrollo de los torneos y partidos organizados por la Asociación Argentina de Polo en los que participe).</p>
                                <p>La Asociación Argentina de Polo podrá utilizar, editar, distribuir, difundir y disponer de los derechos cedidos –incluyendo el derecho de uso de las marcas de mi propiedad y las marcas cuyo derecho de uso nos hayan concedido terceros y aparecieren en nuestra vestimenta y equipamiento accesorio  por cualquier medio, en cualquier territorio y sin límite de plazo.</p>
                                <p>La Asociación Argentina de Polo solo podrá usar y explotar los derechos que le cedo en virtud de este punto en el marco de las actividades que integran su objeto. Por lo tanto la Asociación Argentina de Polo no podrá usar, explotar, ceder o licenciar los derechos recibidos para fines comerciales distintos de la difusión del polo en general y de los torneos organizados por la propia Asociación Argentina de Polo. La Asociación Argentina de Polo podrá ceder a terceros por cualquier título los derechos que le concedo en virtud de esta declaración. </p>
                                <p>Declaramos que nada tenemos que reclamar a la Asociación Argentina de Polo ni a tercero alguno con motivo de esta cesión de derechos.</p>
                                <p><strong>4. ARBITRAJE</strong></p>
                                <p>Las decisiones finales y acciones tomadas por los órganos de la Asociación Argentina de Polo relativas a cualquier conflicto emergente de la interpretación y aplicación del estatuto y de los reglamentos de la Asociación Argentina de Polo y cualquier otra norma aplicable a los campeonatos y partidos organizados por la Asociación Argentina de Polo en los que yo participe como así también a toda otra controversia derivada de su objeto o de hechos o actos vinculados al polo en los que debiere intervenir la Asociación Argentina de Polo con equipos y/o jugadores participantes y/o referees y/o que involucrara a cualquiera de los mencionados entre sí, no serán recurribles ante los tribunales ordinarios de justicia.</p>
                                <p>Eventualmente, y con carácter restrictivo, las decisiones de la Asociación Argentina de Polo con relación a cualquier controversia suscitada con motivo de mi condición de jugador de polo y me actuación en torneos, partidos o eventos organizados por la Asociación Argentina de Polo podrán ser sometidas a un tribunal arbitral designado al efecto por el Colegio de Abogados de la Ciudad de Buenos Aires. El Tribunal Arbitral establecerá sus normas de procedimiento y dictará su laudo de acuerdo con el Reglamento laudo que será vinculante, definitivo e inapelable. Reconocemos que los partidos, eventos y campeonatos mencionados en esta declaración no podrán ser paralizados ni demorados y por lo tanto renunciamos a interponer cualquier medida cautelar que persiguiere dichas suspensión, incluyendo, sin que signifique limitación, medidas de no innovar, autónomas o de cualquier naturaleza, solicitadas a los tribunales ordinarios.</p>
                                <p><strong>5. CONSENTIMIENTO</strong></p>
                                <p>Reconozco que al “cliquear” en el campo "Aceptar y continuar" expreso mi consentimiento con el mismo valor que el que tiene una firma manuscrita.</p>

                                <h3 class="inner-title m-t-60">Para continuar, complete los siguientes datos</h3>

                                <form class="row form-default" name="formActualizaTerminos">
                                    <div class="col-md-6">
                                        <label for="telefono">Teléfono</label>
                                        <input type="text" name="telefono" id="telefono"
                                               ng-model="jugador.contacto.txt_desc" required>
                                        <!-- Si ingresaron el dato al cargar el jugador desde AAP, viene el valor puesto en el campo pero se puede editar acá -->
                                    </div>

                                    <div class="col-md-6">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" ng-model="jugador.txt_mail" required>
                                        <!-- Si ingresaron el dato al cargar el jugador desde AAP, viene el valor puesto en el campo pero se puede editar acá -->
                                    </div>
                                    <!-- FIN DE DIV QUE SE MUESTRA SÓLO CUANDO EL USUARIO ES MENOR DE EDAD -->

                                    <div class="col-md-12 text-center">
                                        <div class="flex m-t-40">
                                            <div class="toggle toggle-regular" data-enable="aceptarTerminos" ng-click="boolActive();">
                                                <div class="toggle-inner"></div>
                                            </div>

                                            <label class="m-l-10 m-t-0 m-b-0" style="display: inline-block;">He leído y acepto los términos y condiciones</label>
                                        </div>

                                        <button id="aceptarTerminos" class="btn btn-lightblue m-t-30" ng-class="{'disabled': (formActualizaTerminos.$invalid || !aceptaTerminos)}" data-modal="cambiarPass"
                                                data-dismiss="condicionesUsuario" ng-click="aceptarTerminos(jugador.cod_usuario)" ng-disabled="(formActualizaTerminos.$invalid || !aceptaTerminos)">
                                            Aceptar y continuar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="burger open-nav pull-right">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="container-fluid">
            <div class="wrapper clearfix">
                <div class="col-md-12">
                    <img src="../img/logo-footer.png" alt="Asociación Argentina de Polo" class="logo-footer">
                    <div class="info-footer">
                        <ul class="social-links clearfix">
                            <li><a href="https://www.facebook.com/asociaciondepolo/" target="_blank" class="has-tooltip" title="Facebook"><img src="@Url.Content("~/img/icon-fb.png")" alt=""></a></li>
                            <li><a href="https://twitter.com/asocdepolo?lang=es" target="_blank" class="has-tooltip" title="Twitter"><img src="@Url.Content("~/img/icon-tw.png")" alt=""></a></li>
                            <li><a href="https://www.instagram.com/asocdepolo/?hl=es-la" target="_blank" class="has-tooltip" title="Instagram"><img src="@Url.Content("~/img/icon-in.png")" alt=""></a></li>
                            @*<li><a href="javascript:void(0);" class="has-tooltip" title="YouTube"><img src="../img/icon-yt.png" alt=""></a></li>
                                <li><a href="javascript:void(0);" class="has-tooltip" title="Trip Advisor"><img src="../img/icon-ta.png" alt=""></a></li>*@
                        </ul>
                        <p>Copyright 2018 AAPOLO<span class="hide-mobile"> |</span><br class="show-mobile">Asociación Argentina de Polo</p>
                        <p><i class="icon-mail"></i><a href="mailto:info@aapolo.com" target="_blank">info@aapolo.com</a></p>
                        <p><i class="icon-phone"></i><a href="tel:(5411) 4777-6444" target="_blank">(5411) 4777-6444</a></p>
                    </div>
                    <img src="../img/support.png" class="pull-right" style="height:160px;" />
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/select2.full.min.js"></script>
    <script src="~/Scripts/vivus.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/scrolloverflow.min.js"></script>
    <script src="~/Scripts/jquery.fullpage.min.js"></script>
    <script src="~/Scripts/jquery.fullpage.extensions.min.js"></script>
    <script src="~/Scripts/tooltip.js"></script>
    <script src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/picker.js"></script>
    <script src="~/Scripts/picker.date.js"></script>
    <script src="~/Scripts/masonry.pkgd.min.js"></script>
    <script src="~/Scripts/jquery.fancybox.min.js"></script>
    <script src="~/Scripts/main.js"></script>

    <script>
        $('body, html').removeClass('overflow-hidden');
        window.onload = function () {
            $('body, html').removeClass('overflow-hidden');
        }

        $(document).ready(function () {
            var id = localStorage.getItem("id");


            if (id != "undefined" && id != undefined && id != null) {
                var displayName = localStorage.getItem("displayItem");
                $(".nameUser").text("" + localStorage.getItem('displayName'));
                $(".hideIfLogin").remove();
            } else {
            }

            $(".homeLi").addClass("current");
            var Login = document.getElementById('Login');

            angular.element(document).ready(function () {
                angular.bootstrap(Login, ['Login']);
            });

            $('.leermas').click(function () {
                $(this).find('span').toggle();
            });


            $('#calendar').fullCalendar({
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {
                        title: "Evento",
                        start: "2018-07-04",
                        end: "2018-07-04",
                        url: "#",
                        editable: false,
                        allDay: true,
                        className: "calendar-pago"
                    },
                    {
                        title: "Evento",
                        start: "2018-07-07",
                        end: "2018-07-07",
                        url: "#",
                        editable: false,
                        allDay: true,
                        className: "calendar-partido"
                    },
                    {
                        title: "Evento",
                        start: "2018-07-20",
                        end: "2018-07-20",
                        url: "#",
                        editable: false,
                        allDay: true,
                        className: "calendar-otro"
                    }
                ],
                displayEventTime: false,
                timeFormat: ' '
            });

            $('.slider-perfil').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                arrows: true,
                dots: true,
            });

            $('.gallery').masonry({
                // set itemSelector so .grid-sizer is not used in layout
                itemSelector: 'li',
                // use element for option
                columnWidth: 'li',
                percentPosition: true
            })

            $('#fullpage').fullpage({
                'anchors': ['inicio', 'que-es', 'como-formar-parte', 'registro', 'footer'],
                'navigation': true,
                'navigationPosition': 'right',
                'navigationTooltips': ['Inicio', '¿Qué es?', '¿Cómo formar parte?', 'Registro', 'Footer'],
                'scrollBar': true,
                'paddingTop': '50px',
                'responsiveWidth': 1280,
                'responsiveHeight': 768,
                'scrolloverflow': true
            });

            $('.tarjetas-fondos').slick({
                infinite: true,
                slidesToShow: 1,
                dots: true,
                nav: true,
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
            });
        });
    </script>
</body>

</html>
