﻿<section class="section-bg paper-after-grey gradient-before-blue" style="background-image: url('../img/color-pic-bg.jpg');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">La Asociación</h1>
            </div>
        </div>
    </div>
</section>

<section class="clearfix p-t-50 p-b-50">
    <div class="container-fluid">
        <div class="col-md-3">
            <ul class="sidenav">
                <li><a href="/Asociacion/Vision"><i class="icon-preview"></i> Visión</a></li>
                <li><a href="/Asociacion/Historia"><i class="icon-hourglass"></i> Historia</a></li>
                <li><a href="/Asociacion/Sedes"><i class="icon-location"></i> Sedes</a></li>
                <li><a href="/Asociacion/Consejo"><i class="icon-user-id"></i> Consejo directivo</a></li>
                <li><a href="/Asociacion/Subcomision"><i class="icon-network-3"></i> Subcomisiones</a></li>
                <li><a href="/Asociacion/Staff"><i class="icon-user-group"></i> Staff</a></li>
                <li class="current"><a href="/Asociacion/Estatutos"><i class="icon-blog"></i> Estatutos y reglamentos</a></li>
                <li><a href="/Asociacion/RSE"><i class="icon-brightness-max"></i> RSE</a></li>
            </ul>
        </div>

        <div class="col-md-9 contenido-asociacion">
            <h2 class="page-title m-t-20">
                Estatutos y reglamentos
                <div class="burger open-sidenav pull-right">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </h2>

            <p class="quote">El contenido del presente refleja los textos de cada uno de los reglamentos enunciados a continuación.</p>

            <div class="row">
                <div class="col-md-6">
                    <a href="../doc/AAP%20-%20Estatutos.pdf" class="download-doc" target="_blank"><i class="icon-document"></i> Estatutos</a>
                </div>

                <div class="col-md-6">
                    <a href="../doc/AAP%20-%20Reglamento general.pdf" class="download-doc" target="_blank"><i class="icon-document"></i> Reglamento general</a>
                </div>

                <div class="col-md-6">
                    <a href="../doc/AAP%20-%20Reglamentos%20tecnicos.pdf" class="download-doc" target="_blank"><i class="icon-document"></i> Reglamentos técnicos</a>
                </div>

                <div class="col-md-6">
                    <a href="../doc/AAP%20-%20Reglas%20de%20juego.pdf" class="download-doc" target="_blank"><i class="icon-document"></i> Reglas de juego y código de faltas</a>
                </div>

                <div class="col-md-12">
                    <h3 class="inner-title">Torneos - Reglamentos específicos</h3>
                </div>

                <div class="col-md-12">
                    <a href="../doc/AAP%20-%20Reglamento%20para%20los%20torneos.pdf" class="download-doc" target="_blank"><i class="icon-document"></i> Reglamento para los torneos de Alto, Bajo y Mediano handicap organizados por la AAP, excluyendo los Torneos Abierto, la Copa Cámara de Diputados y la Copa República Argentina</a>
                </div>

                <div class="col-md-6">
                    <a href="../doc/AAP - Reglamento del CAIH.doc" class="download-doc" target="_blank"><i class="icon-document"></i> Campeonato Argentino del Interior con Handicap</a>
                </div>

                <div class="col-md-6">
                    <a href="../doc/AAP - Reglamento Copa Repuìblica Circuitos 2019.docx" class="download-doc" target="_blank"><i class="icon-document"></i> Copa República Argentina</a>
                </div>
            </div>
        </div>
    </div>
</section>