﻿<section class="section-bg paper-after-grey gradient-before-blue" style="background-image: url('../img/color-pic-bg.jpg');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">La Asociación</h1>
            </div>
        </div>
    </div>
</section>

<section class="clearfix p-t-50 p-b-50">
    <div class="container-fluid">
        <div class="col-md-3">
            <ul class="sidenav">
                <li><a href="/Asociacion/Vision"><i class="icon-preview"></i> Visión</a></li>
                <li class="current"><a href="/Asociacion/Historia"><i class="icon-hourglass"></i> Historia</a></li>
                <li><a href="/Asociacion/Sedes"><i class="icon-location"></i> Sedes</a></li>
                <li><a href="/Asociacion/Consejo"><i class="icon-user-id"></i> Consejo directivo</a></li>
                <li><a href="/Asociacion/Subcomision"><i class="icon-network-3"></i> Subcomisiones</a></li>
                <li><a href="/Asociacion/Staff"><i class="icon-user-group"></i> Staff</a></li>
                <li><a href="/Asociacion/Estatutos"><i class="icon-blog"></i> Estatutos y reglamentos</a></li>
                <li><a href="/Asociacion/RSE"><i class="icon-brightness-max"></i> RSE</a></li>
            </ul>
        </div>

        <div class="col-md-9 contenido-asociacion">
            <h2 class="page-title m-t-20">
                Nuestra historia
                <div class="burger open-sidenav pull-right">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </h2>

            <p class="quote">Una amplia historia con relevantes antecedentes.</p>

            <p>El juego de polo, que se desarrolla a caballo, debe ser tan antiguo como el medio empleado. El caballo es uno de los primeros animales sometidos a la domesticidad por los pueblos antiguos civilizados. La historia de la civilización está, pues, vinculada al caballo y los hombres de todos los tiempos aprovecharon su fuerza y velocidad, su ardor en el combate, su resistencia a la fatiga, su noble obediencia que se obstina hasta la muerte; y como si estas cualidades que facilitan al hombre la conquista y el esparcimiento no fueron suficientes, su utilitario les brindó carne y cuero resistente y esas crines que en las locas galopadas hacen flamear al viento.</p>
            <p>Si queremos ahora ahondar en los orígenes del juego del polo, no es aventurado suponer que el momento habrá ocurrido en alguno de aquellos altos en el camino de las hordas invasoras, o de los pueblos nómades o de alguna migración pacífica en nuestro pasado. Los guerreros más jóvenes y animosos aprovechaban sus montas para realizar otros menesteres más placenteros que el lento andar de las caravanas por las precarias huellas o menos peligrosas que el combate; e improvisaban cualquier clase de juego de a caballo: la caza, la carrera y, por que no el polo? Cerámicas chinas de las más remotas dinastías nos muestran a jinetes en posición inequívoca de golpear una pelota. Pero es en la miniatura indo-persa, reflejo fiel de la Època esplendorosa del reinado de los grandes mongoles, donde advertimos los diversos elementos que componen el juego: jinetes esgrimiendo tacos, los arcos lejanos, los sirvientes –ahora ‘petiseros’’- y la pelota.</p>
            <p>Cuando a mediados del siglo pasado Inglaterra extendió su dominio colonial a las tierras del Asia, los oficiales de los regimientos montados descubrieron por comentarios en diarios y revistas que en la India, los marajás practicaban con sus cortesanos un juego llamado Polo y pronto lo adoptaron y lo jugaron asiduamente. Para ello comenzaron por utilizar sus palos de cricket para reemplazar a los tacos, mientras usaban bolas de billar. Llevados por el espíritu de orden, lo reglamentaron, porque para los nativos no había límite de espacio ni de tiempo, como tampoco en el número de jugadores participantes. Al regresar a sus lares estos oficiales de caballería difundieron el juego para pasar pronto a ser los campeones. Pero el ciclo histórico seguirá su curso, siempre de Oriente a Occidente. En una final de polo entre el equipo inglés y el de Jaipur, en Hurlingham, cerca de Londres (la cuna del polo inglés, como lo será el Hurlingham Club para la Argentina) estuvo presente un norteamericano prominente, Gordon Benet, quien guiado por su entusiasmo, regresó a su tierra llevando consigo bochas, tacos, fotografías reveladoras y el célebre Reglamento, elaborado por quienes se habían hecho líderes de esa disciplina.</p>
            <p>A poco de iniciado el polo en los Estados Unidos se advirtió el interés que suscitaba, y se jugará más adelante con tanto empeño y calidad que sólo debía esperar la oportunidad propicia para arrebatarle el cetro a su madre patria, Copa Westcherter de por medio. Pero muchos más al sur el juego se trasladó a la Argentina por medio de los ingleses que se radicarían en nuestro paÌs, de donde surgiría a través de un tiempo prudencial, un inesperado competidor, capaz de convertirse por medio de sus hombres y también en especial por sus caballos(que con el tiempo se constituirían en un importante ingreso de divisas para el país) en un tremendo oponente, de inglaterra y los EE.UU. Copa Westcherter por medio peleaban por la supremacía mundial en el juego, que iba teniendo gran difusión y ganando adeptos constantemente.</p>
        </div>
    </div>
</section>