﻿<section class="section-bg paper-after-grey gradient-before-blue" style="background-image: url('../img/bgs/3.jpg');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">La Asociación</h1>
            </div>
        </div>
    </div>
</section>

<section class="clearfix p-t-50 p-b-50">
    <div class="container-fluid">
        <div class="col-md-3">
            <ul class="sidenav">
                <li><a href="/Asociacion/Vision"><i class="icon-preview"></i> Visión</a></li>
                <li><a href="/Asociacion/Historia"><i class="icon-hourglass"></i> Historia</a></li>
                <li><a href="/Asociacion/Sedes"><i class="icon-location"></i> Sedes</a></li>
                <li><a href="/Asociacion/Consejo"><i class="icon-user-id"></i> Consejo directivo</a></li>
                <li><a href="/Asociacion/Subcomision"><i class="icon-network-3"></i> Subcomisiones</a></li>
                <li><a href="/Asociacion/Staff"><i class="icon-user-group"></i> Staff</a></li>
                <li><a href="/Asociacion/Estatutos"><i class="icon-blog"></i> Estatutos y reglamentos</a></li>
                <li class="current"><a href="/Asociacion/RSE"><i class="icon-brightness-max"></i> RSE</a></li>
            </ul>
        </div>

        <div class="col-md-9 contenido-asociacion">
            <h2 class="page-title m-t-20">
                Responsabilidad social
                <div class="burger open-sidenav pull-right">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </h2>

            <p class="quote">Conocé nuestras ONG aliadas.</p>

            <h3 class="inner-title">Banco de alimentos</h3>
            <video src="@Url.Content("~/video/alimentos.mp4")" class="video-rse" controls></video>

            <h3 class="inner-title">Raíz</h3>
            <video src="@Url.Content("~/video/raiz.mp4")" class="video-rse" controls></video>

            <h3 class="inner-title">Granos de mostaza</h3>
            <video src="@Url.Content("~/video/mostaza.mp4")" class="video-rse" controls></video>
        </div>
    </div>
</section>