﻿<section class="section-bg paper-after-grey gradient-before-blue" style="background-image: url('../img/color-pic-bg.jpg');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">La Asociación</h1>
            </div>
        </div>
    </div>
</section>

<section class="clearfix p-t-50 p-b-50">
    <div class="container-fluid">
        <div class="col-md-3">
            <ul class="sidenav">
                <li><a href="/Asociacion/Vision"><i class="icon-preview"></i> Visión</a></li>
                <li><a href="/Asociacion/Historia"><i class="icon-hourglass"></i> Historia</a></li>
                <li><a href="/Asociacion/Sedes"><i class="icon-location"></i> Sedes</a></li>
                <li><a href="/Asociacion/Consejo"><i class="icon-user-id"></i> Consejo directivo</a></li>
                <li><a href="/Asociacion/Subcomision"><i class="icon-network-3"></i> Subcomisiones</a></li>
                <li class="current"><a href="/Asociacion/Staff"><i class="icon-user-group"></i> Staff</a></li>
                <li><a href="/Asociacion/Estatutos"><i class="icon-blog"></i> Estatutos y reglamentos</a></li>
                <li><a href="/Asociacion/RSE"><i class="icon-brightness-max"></i> RSE</a></li>
            </ul>
        </div>

        <div class="col-md-9 contenido-asociacion">
            <h2 class="page-title m-t-20">
                Staff AAP
                <div class="burger open-sidenav pull-right">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </h2>

            <dl class="row staff">
                <div class="col-sm-6 col-xs-12">
                    <dt>CEO</dt>
                    <dd>Lic. Lucas Adur<br><a href="mailto:lucas.adur@aapolo.com" target="_blank">lucas.adur@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Director de Operaciones</dt>
                    <dd>Sr. Marcos Aldao<br><a href="mailto:marcos.aldao@aapolo.com" target="_blank">marcos.aldao@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Secretaría de Presidencia</dt>
                    <dd>Bianca Giménez<br><a href="mailto:bianca.gimenez@aapolo.com" target="_blank">bianca.gimenez@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Directora de Proyectos</dt>
                    <dd>Lic. Cecilia Urciuoli<br><a href="mailto:cecilia.urciuoli@aapolo.com" target="_blank">cecilia.urciuoli@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Comercialización y Torneos</dt>
                    <dd>Sra. Luz Lalor<br><a href="mailto:luz.lalor@aapolo.com" target="_blank">luz.lalor@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Recursos Humanos</dt>
                    <dd>Sra. María Pensado Taibo<br><a href="mailto:maria.pensado@aapolo.com" target="_blank">maria.pensado@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Administración  y Finanzas</dt>
                    <dd>Lic. Julieta Robles<br><a href="mailto:julieta.robles@aapolo.com" target="_blank">julieta.robles@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Planeamiento y Gestión de Control</dt>
                    <dd>Lic. Nicolás Filippini<br><a href="mailto:nicolas.filippini@aapolo.com" target="_blank">nicolas.filippini@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Sede Pilar</dt>
                    <dd>Sr. Mariano Silva<br><a href="mailto:mariano.silva@aapolo.com" target="_blank">mariano.silva@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Prensa</dt>
                    <dd>Sr. Javier Fígoli<br><a href="mailto:javier.figoli@aapolo.com" target="_blank">javier.figoli@aapolo.com </a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Relaciones Institucionales</dt>
                    <dd>Lic. Maximiliano Funes<br><a href="mailto:maximiliano.funes@aapolo.com" target="_blank">maximiliano.funes@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Comunicación</dt>
                    <dd>Sr. Juan Pablo Alessandri<br><a href="mailto:jpalessandrini@aapolo.com" target="_blank" mailto:">jpalessandrini@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Abastecimiento</dt>
                    <dd>Lic. Fernando Almada<br><a href="mailto:fernando.almada@aapolo.com" target="_blank">fernando.almada@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Abastecimiento</dt>
                    <dd>Sr. Tomás Flores<br><a href="mailto:tomas.flores@aapolo.com" target="_blank">tomas.flores@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Intendencia</dt>
                    <dd>Sr. Javier Kromm<br><a href="mailto:javier.kromm@aapolo.com" target="_blank">javier.kromm@aapolo.com</a></dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Informes y Atención al Público</dt>
                    <dd>4777-6444<br><a href="mailto:info@aapolo.com" target="_blank">info@aapolo.com</a></dd>
                </div>
            </dl>
        </div>
    </div>
</section>