﻿<section class="section-bg paper-after-grey gradient-before-blue" style="background-image: url('../img/color-pic-bg.jpg');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">La Asociación</h1>
            </div>
        </div>
    </div>
</section>

<section class="clearfix p-t-50 p-b-50">
    <div class="container-fluid">
        <div class="col-md-3">
            <ul class="sidenav">
                <li><a href="/Asociacion/Vision"><i class="icon-preview"></i> Visión</a></li>
                <li><a href="/Asociacion/Historia"><i class="icon-hourglass"></i> Historia</a></li>
                <li><a href="/Asociacion/Sedes"><i class="icon-location"></i> Sedes</a></li>
                <li><a href="/Asociacion/Consejo"><i class="icon-user-id"></i> Consejo directivo</a></li>
                <li class="current"><a href="/Asociacion/Subcomision"><i class="icon-network-3"></i> Subcomisiones</a></li>
                <li><a href="/Asociacion/Staff"><i class="icon-user-group"></i> Staff</a></li>
                <li><a href="/Asociacion/Estatutos"><i class="icon-blog"></i> Estatutos y reglamentos</a></li>
                <li><a href="/Asociacion/RSE"><i class="icon-brightness-max"></i> RSE</a></li>
            </ul>
        </div>

        <div class="col-md-9 contenido-asociacion">
            <h2 class="page-title m-t-20">
                Subcomisiones AAP
                <div class="burger open-sidenav pull-right">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </h2>

            <p class="quote">El Consejo Directivo de la AAP da a conocer las Subcomisiones de trabajo.</p>

            <h3 class="inner-title">Subcomisión de Disciplina</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Dr. Rafael Cuneo Libarona</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vicepresidente</dt>
                    <dd>Dr. Nicolas Pisarenko</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Secretario</dt>
                    <dd>Dr. Federico Fleitas (h)</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Dr. Tomás Allende</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Dr. Santiago Daireaux</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Javier Uranga</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Ing. Matías Iribarren</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Esc. Guillermo Fornieles</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Lic. Juan José Llorente</dd>
                </div>
            </dl>


            <h3 class="inner-title">Subcomisión de Menores</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Sebastian Pistone</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Christian Nordheimer</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Delfina Donovan</dd>
                </div>
                
                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Maria Chavanne</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Diego Banchero</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Jorge Esain</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión de Mujeres</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Veronica Guerrero</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Secretaria</dt>
                    <dd>Milo Fernandez Araujo</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Lia Salvo</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Maria Bellande</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Clelia Crespo</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Veronica Magnasco</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Marcos Aldao</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Delfin Uranga</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión Polo Interior</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Agustín Alvarez</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Ignacio Irazu</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Andres Laumann</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Andrés Lariguet</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Alfredo Boden</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión Liga Argentina</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Santiago Olivera</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Secretario</dt>
                    <dd>Federico Fleitas</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Francisco Moretti</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Pablo Bagnardi</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Christian Maria Codomi Alcorta</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Federico Segundo Bunge Frers</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Federico Gustavo Virasoro</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Patricio Amespil</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión de Referees y Reglamento</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Marcos Aldao </dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Delfin Uranga</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Rafael Cuneo Libarona</dd>
                </div>

                <div class="col-sm-6">
                    <dt>vocal</dt>
                    <dd>Marcos Dipaola</dd>
                </div>

                <div class="col-sm-6">
                    <dt>vocal</dt>
                    <dd>Fernanda Poch</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión de Torneos Bajo handicap <small>| 7 a 10 goles</small></h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Marcos Di Paola</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Bartolome Castagnola</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Diego Araya</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Alejandro Diaz Alberdi</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Bautista Heguy</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Martin Zubia</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Marcelo Frayssinet</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Tomas Fernandez Llorente</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Ricardo Fanelli</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Gaston Laulhe</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Mariano Gonzalez</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Juan Ignacio Merlos</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Ernesto Trotz</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Francisco De Narvaez (h)</dd>
                </div>
            </dl>


            <h3 class="inner-title">Subcomisión de Torneos Bajo handicap <small>| 0 a 14 goles</small></h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Federico Virasoro</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Maximiliano Pistone</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Christian Nordheimer</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Jorge Traverso</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión de Torneos Mediano handicap <small>| 15 a 20 goles</small></h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Ignacio Lafuente</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Jorge Monsegou</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Gonzalo Azumendi</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión de Torneos Alto hándicap <small>| 21 goles en adelante</small></h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Santiago Solari</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Diego Araya</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión de Turismo y Relaciones Internacionales</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Lic. Emiliano Néspola.</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vicepresidente</dt>
                    <dd>Alejandro Rodriguez Quiroga</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Secretario</dt>
                    <dd>Grl. Br. José L. Yofre</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Vanessa Nova</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Lucía Ibarra</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Perie Sumner</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Celia Alfie</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Rubén Jabib</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Maria Bensadón</dd>
                </div>
            </dl>


            <h3 class="inner-title">Subcomisión de Gestión y Compras Integradas</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Andres Laumann</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Federico Virasoro</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Martiico Virasoro</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Jose Ignacio Stefanonin De Narvaez</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión médica AAP</h3>

            <p>El consejo directivo, aprueba la iniciativa del presidente para la creación de una SC Medica para que a través de la misma se analicen específicamente los temas relacionados con la salud, prevención y la accidentologia en nuestro deporte. La misma quedaría integrada según el siguiente detalle:</p>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dd>Dr. Gabriel Clembosky</dd>
                </div>

                <div class="col-sm-6">
                    <dd>Dr. Walter Mira</dd>
                </div>

                <div class="col-sm-6">
                    <dd>Dr. Diego Rivas</dd>
                </div>

                <div class="col-sm-6">
                    <dd>Dr. Fernando Pereyra</dd>
                </div>

                <div class="col-sm-6">
                    <dd>Dr. Jorge Villamarin</dd>
                </div>

                <div class="col-sm-6">
                    <dd>Sr. Marcos Aldao</dd>
                </div>

                <div class="col-sm-6">
                    <dd>Dr. Juan Cejas</dd>
                </div>
            </dl>
        </div>
    </div>
</section>