﻿
<section class="section-bg paper-after-grey gradient-before-blue" style="background-image: url('../img/bgs/3.jpg');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">La Asociación</h1>
            </div>
        </div>
    </div>
</section>

<section class="clearfix p-t-50 p-b-50">
    <div class="container-fluid">
        <div class="col-md-3">
            <ul class="sidenav">
                <li class="current"><a href="/Asociacion/Vision"><i class="icon-preview"></i> Visión</a></li>
                <li><a href="/Asociacion/Historia"><i class="icon-hourglass"></i> Historia</a></li>
                <li><a href="/Asociacion/Sedes"><i class="icon-location"></i> Sedes</a></li>
                <li><a href="/Asociacion/Consejo"><i class="icon-user-id"></i> Consejo directivo</a></li>
                <li><a href="/Asociacion/Subcomision"><i class="icon-network-3"></i> Subcomisiones</a></li>
                <li><a href="/Asociacion/Staff"><i class="icon-user-group"></i> Staff</a></li>
                <li><a href="/Asociacion/Estatutos"><i class="icon-blog"></i> Estatutos y reglamentos</a></li>
                <li><a href="/Asociacion/RSE"><i class="icon-brightness-max"></i> RSE</a></li>
            </ul>
        </div>

        <div class="col-md-9 contenido-asociacion">
            <h2 class="page-title m-t-20">
                Nuestra visión
                <div class="burger open-sidenav pull-right">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </h2>

            <p class="quote">Entidad rectora del juego del polo en la Argentina y principal referente del polo en el mundo.</p>

            <p>La AAP es una Asociación civil sin fines de lucro, que fuera constituida el 14 de septiembre de 1922, en la cuidad de Buenos Aires, Capital de la República Argentina, cuya constitución es por tiempo indeterminado. La Asociación Argentina de Polo tiene los siguientes fines:</p>

            <ul class="list-asociacion">
                <li>Fomentar el juego del polo en la República Argentina, manteniendo el verdadero espíritu del juego, según las antiguas y honorosas tradiciones.</li>
                <li>Propender que todos los clubes de polo del país se afilien a la Asociación, fomentar la creación de nuevos clubes en todo el territorio de la Nación y prestar a unos y otros su colaboración y apoyo moral, técnico y material.</li>
                <li>Adoptar un reglamento de juego, interpretarlo y vigilar su cumplimiento.</li>
                <li>Actuar en arbitraje de controversias relacionadas con el juego del polo en el país, resolviendo definitivamente toda cuestión que pueda solicitarse.</li>
                <li>Organizar, patrocinar y dirigir todos los torneos de polo que se realicen en el país, ya sean ellos internacionales o interprovinciales, y los interclubes cuando le fuera solicitado.</li>
                <li>Llevar el Registro Nacional de Handicaps individual de todos los jugadores inscriptos, organizándolo en la forma que mejor le asegure su constante actualización.</li>
                <li>Fomentar e impulsar la crianza del petiso de polo, organizar periódicamente exposiciones de los mismos, y auspiciar las que realicen otras entidades.</li>
                <li>Gestionar el apoyo de los poderes públicos y de las instituciones privadas, para poder cumplir los fines de fomento que persigue, a cuyo efecto arbitrará lo necesario para crearse un fondo propio.</li>
            </ul>
        </div>
    </div>
</section>