﻿<section class="clearfix p-t-80" ng-init="initValues()">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-2">
                @RenderPage(Url.Content("~/Views/PerfilJugador/PartialViews/BarraOpciones.cshtml"))
            </div>
            <div class="col-md-10" ng-class="{'loading': isLoading}">
                <span ng-if="accion == 'Default'">
                    @RenderPage(Url.Content("~/Views/PerfilJugador/PartialViews/PerfilPrincipal.cshtml"))
                </span>
                <span ng-if="accion == 'Calendario'">
                    @RenderPage(Url.Content("~/Views/PerfilJugador/PartialViews/PerfilCalendario.cshtml"))
                </span>
                <span ng-if="accion == 'Pagos'">
                    @RenderPage(Url.Content("~/Views/PerfilJugador/PartialViews/PerfilPagos.cshtml"))
                </span>
                <span ng-if="accion == 'Historial'">
                    @RenderPage(Url.Content("~/Views/PerfilJugador/PartialViews/PerfilHistorial.cshtml"))
                </span>
                <span ng-if="accion == 'Torneos'">
                    @RenderPage(Url.Content("~/Views/PerfilJugador/PartialViews/PerfilTorneo.cshtml"))
                </span>
                <span ng-if="accion == 'Disciplina'">
                    @RenderPage(Url.Content("~/Views/PerfilJugador/PartialViews/PerfilDisciplina.cshtml"))
                </span>
                <span ng-if="accion == 'Inbox'">
                    @RenderPage(Url.Content("~/Views/PerfilJugador/PartialViews/PerfilInbox.cshtml"))
                </span>
                <span ng-if="accion == 'Beneficios'">
                    @RenderPage(Url.Content("~/Views/PerfilJugador/PartialViews/PerfilBeneficio.cshtml"))
                </span>
                <span ng-if="accion == 'PoloCommunity'" ng-show="isMember">
                    @RenderPage(Url.Content("~/Views/PerfilJugador/PartialViews/PerfilPoloCommunity.cshtml"))
                </span>
            </div>
        </div>
    </div>
</section>


<div class="modal" id="pagarHandicap">
    <div class="modal-overlay"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-800" ng-class="{'loading': isLoading}">
            <div class="modal-header">
                <h2 data-icon="&#xe062;" translate="HANDICAPPAYMENT" translate-language="{{idiomaElegido}}">Pagar handicap</h2>
                <i class="icon-cross" data-dismiss="pagarHandicap" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido clearfix">
                <form class="form-default clearfix">
                    <div class="col-md-12">
                        <label for="jugador-pagar" class="m-b-10" translate="SEARCHPAYMENTTEXT" translate-language="{{idiomaElegido}}">Buscá por nombre o DNI el jugador cuya categoría deseás modificar.</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="jugador-pagar" id="jugador-pagar" ng-model="searchFilterHandicap">
                    </div>
                    <div class="col-md-4">
                        <a href="javascript:void(0);" class="btn btn-lightblue btn-full text-center" onclick="mostrarResultados('cambioCategoria')"
                           ng-click="filterJugadoresHandicap(searchFilterHandicap)" translate="SEARCH" translate-language="{{idiomaElegido}}"><i class="icon-search"></i>Buscar</a>
                    </div>

                    <div class="col-md-12">
                        <ul class="pagos-jugador-resultados clearfix" id="cambioCategoria">
                            <li class="has-tooltip" title="Seleccionar jugador"
                                ng-repeat="jugador in jugadoresHandicap" ng-click="agregarJugador(jugador.cod_usuario);">
                                <a href="javascript:void(0)">{{jugador.txt_nombre}} {{jugador.txt_apellido}}<br><small> {{jugador.nro_doc}}</a></small>
                            </li>
                        </ul>
                    </div>
                </form>

                <div class="col-md-12">
                    <hr class="border-top-striped m-t-0 m-b-30">
                    <div ng-if="errorPago" class="messageValidation" style="color:maroon" role="alert">
                        <div>Existen jugadores cuyos handicaps no fueron seleccionados.</div>
                    </div>
                    <p translate="PLAYERSSELECTED" translate-language="{{idiomaElegido}}">Jugadores seleccionados:</p>
                    <ul class="jugadores-pago row clearfix">
                        <div ng-if="clubesImpagos" class="messageValidation" style="color:maroon" role="alert">
                            <div>Existen clubes seleccionados que no han pagado la cuota.</div>
                        </div>
                        <li class="col-md-12" style="display: list-item;" ng-repeat="jugadorAPagar in jugadoresAPagar | unique : cod_usuario">
                            <div class="jugador-pago" ng-class="{'loading': loadingSelect}">
                                <a href="javascript:void(0)" class="eliminar-jugador has-tooltip" ng-click="removerJugador(jugadorAPagar)" title="Eliminar jugador"><i class="icon-trash"></i></a>
                                <div class="user-pic" style="background-image: url(/img/avatars/avatar-user1.png)"></div>
                                <ul class="jugador-pago-data">
                                    <li><strong>{{jugadorAPagar.txt_nombre}} {{jugadorAPagar.txt_apellido}}</strong></li>
                                    <li><span translate="ID" translate-language="{{idiomaElegido}}">DNI: </span>: <span>{{jugadorAPagar.nro_doc}}</span></li>
                                    <li><span translate="TYPE" translate-language="{{idiomaElegido}}">Tipo: </span><span>{{jugadorAPagar.ttipo_jugador.txt_desc}}</span></li>
                                    <li><span translate="HANDICAP" translate-language="{{idiomaElegido}}">Handicap: </span>: <span>{{jugadorAPagar.handicap.nro_handicap}}</span></li>
                                </ul>

                                <div class="jugador-radios">
                                    <div class="jugador-radio ">
                                        <span translate="HANDICAPTYPE" translate-language="{{idiomaElegido}}">Tipo de handicap</span>
                                        @*<label class="has-tooltip" ng-show="jugadorAPagar.cod_tipo_jugador == 1" title=""
                               data-original-title=" Puede participar en prácticas y torneos internos del interior">
                            <input type="radio" name="tipo-{{$index}}" class="tipo-{{$index}}" ng-click="jugadorAPagar.handicapCategoria = '52'; jugadorAPagar.temporalidad = 'anual'"
                                   ng-model="jugadorAPagar.handicapElegido"
                                   ng-false-value="'undefined'" value="61">
                            <span>Mayor Básico</span>
                        </label>*@
                                        <label class="has-tooltip" title="" ng-init="filterHandicapPorEdad(jugadorAPagar)">
                                            <input type="radio" name="tipo-{{$index}}" class="tipo-{{$index}}" ng-model="jugadorAPagar.handicapElegido" +
                                                   ng-click="jugadorAPagar.handicapCategoria = '1'; jugadorAPagar.temporalidad = 'anual'; filterPrecio(jugadorAPagar)" ng-false-value="'undefined'"
                                                   value="{{jugadorAPagar.handicap.thandicap.cod_handicap}}">
                                            <span>
                                                {{jugadorAPagar.handicap.thandicap.txt_desc}}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="jugador-radio jugador-radio-categoria" ng-show="jugadorAPagar.handicap.thandicap.cod_handicap != 11">
                                        <span translate="CATEGORY" translate-language="{{idiomaElegido}}">Categoría de handicap</span>
                                        <label class="has-tooltip"
                                               title="Puede participar en torneos oficiales de la AAP">
                                            <input type="radio" ng-model="jugadorAPagar.handicapCategoria" ng-click="filterPrecio(jugadorAPagar);"
                                                   name="categoria-{{$index}}" value="1"><span>Total</span>
                                        </label>
                                        <label class="has-tooltip" title="No participa en torneos oficiales de la AAP">
                                            <input type="radio" ng-model="jugadorAPagar.handicapCategoria" ng-click="filterPrecio(jugadorAPagar)" name="categoria-{{$index}}" value="2">
                                            <span>Federado</span>
                                        </label>
                                        <label class="has-tooltip" title="No participa en torneos oficiales de la AAP" ng-show="jugadorAPagar.cod_tipo_jugador != 2">
                                            <input type="radio" ng-model="jugadorAPagar.handicapCategoria" ng-click="filterPrecio(jugadorAPagar); jugadorAPagar.temporalidad = 'anual'"
                                                   name="categoria-{{$index}}" value="52">
                                            <span>Básico</span>
                                        </label>
                                    </div>
                                    <div class="jugador-radio jugador-radio-duracion" style="display:block;" ng-show="jugadorAPagar.handicap.thandicap.cod_handicap != 11">
                                        <span translate="TERM" translate-language="{{idiomaElegido}}">Duración de handicap</span>
                                        <label class="has-tooltip" title="Válido hasta fin del año en curso">
                                            <input type="radio" ng-model="jugadorAPagar.temporalidad" ng-click="filterPrecio(jugadorAPagar)" name="duracion-{{$index}}" value="anual" checked>
                                            <span>Anual</span>
                                        </label>
                                        <label class="has-tooltip" title="Válido por el mes en curso y tres siguientes"
                                               ng-show="jugadorAPagar.cod_tipo_jugador != 2" ng-class="{'disabled': jugadorAPagar.handicapCategoria == '52'}">
                                            <input type="radio" ng-model="jugadorAPagar.temporalidad" ng-disabled="jugadorAPagar.handicapCategoria == '52'"
                                                   ng-click="filterPrecio(jugadorAPagar)" name="duracion-{{$index}}" value="temporal">
                                            <span>Temporal</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="jugador-radio">
                                    <span translate="CLUBPREFERENCE" translate-language="{{idiomaElegido}}">
                                        Club principal
                                    </span>
                                    <div class="jugador-pago-data-buscador">
                                        <select name="torneo-club" ng-model="jugadorAPagar.cod_club_principal" ng-disabled="!jugadorAPagar.clubEditable"
                                                ng-options="club.cod_club as club.txt_desc for club in clubesAll" id="torneo-club-{{$index}}" class="select2-basic">
                                            <option value="" selected disabled>Seleccioná el club principal</option>
                                        </select>
                                        <div ng-if="jugadorAPagar.noSelected" class="messageValidation" style="color:maroon" role="alert">
                                            <div>Debe elegir un club</div>
                                        </div>
                                    </div>
                                </div>
                                <span class="jugador-pago-precio" ng-show="jugadorAPagar.handicapElegido != '61' && jugadorAPagar.pagoSeleccionado">
                                    ${{jugadorAPagar.handicap.thandicap.nro_importe}}
                                </span>
                                <span class="jugador-pago-precio" ng-show="!jugadorAPagar.pagoSeleccionado">
                                    $0
                                </span>
                                <span class="jugador-pago-precio" ng-show="jugadorAPagar.handicapElegido == '61' && jugadorAPagar.pagoSeleccionado">
                                    $3500
                                </span>
                            </div>
                        </li>
                    </ul>

                    <p class="total-pago"><span translate="FINALAMOUNT" translate-language="{{idiomaElegido}}">Monto total a abonar:</span> <strong>$<span>{{montoTotal}}</span></strong></p>
                    <p translate="SELECTPAYTYPE" translate-language="{{idiomaElegido}}">Seleccioná una de las formas de pago disponibles.</p>
                </div>

                <div class="col-md-12">
                    <a href="javascript:void(0)" class="opcion-pago" ng-click="pagarHandicap(); disabledPago = true;"
                       ng-disabled="disabledPago" ng-class="{'disabled': disabledPago}">
                        <h5 translate="MERCADOPAGO" translate-language="{{idiomaElegido}}">Pagar</h5>
                        <p translate="INSTANTPAYMENT" translate-language="{{idiomaElegido}}">Confirmación inmediata pagando online con tarjeta de crédito.</p>
                        <p translate="OFFLINEPAYMENT" translate-language="{{idiomaElegido}}">Deberás subir el comprobante y esperar confirmación de la AAP.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="pasesCategoria">
    <div class="modal-overlay"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-800" ng-class="{'loading': isLoading}">
            <div class="modal-header">
                <h2 data-icon="&#xe062;" translate="UPGRADEHANDICAP" translate-language="{{idiomaElegido}}">Pases de categoría</h2>
                <i class="icon-cross" data-dismiss="pasesCategoria" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido clearfix">
                <form class="form-default clearfix">
                    <div class="col-md-12">
                        <div ng-if="errorPago" class="messageValidation" style="color:maroon" role="alert">
                            <div>Existen jugadores cuyos pases no fueron seleccionados.</div>
                        </div>
                        <div ng-if="errorPase" class="messageValidation" style="color:maroon" role="alert">
                            <div>No puede agregar este jugador. Su tipo de handicap es el más alto</div>
                        </div>
                        <div ng-if="errorPaseHandicap" class="messageValidation" style="color:maroon" role="alert">
                            <div>No puede agregar este jugador porque no posee Handicap</div>
                        </div>
                        <label for="jugador-pagar" class="m-b-10" translate="SEARCHPAYMENTTEXT" translate-language="{{idiomaElegido}}">Buscá por nombre o DNI el jugador cuya categoría deseás modificar.</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="jugadorInputUno" ng-model="searchFilterHandicapPase" placeholder="Buscá nombre o DNI">
                    </div>
                    <div class="col-md-4">
                        <a href="javascript:void(0)" class="btn btn-lightblue btn-full text-center" onclick="mostrarResultados('cambioCategoriaPase')"
                           ng-click="filterJugadoresHandicapPase(searchFilterHandicapPase)"><i class="icon-search"></i>Buscar</a>
                    </div>
                    <div class="col-md-12">
                        <ul class="pagos-jugador-resultados clearfix" id="cambioCategoriaPase">
                            <li class="has-tooltip" data-placement="left" title="Agregar jugador"
                                ng-repeat="jugador in jugadoresHandicapPase" ng-click="agregarJugadorPase(jugador.cod_usuario);">
                                <a href="javascript:void(0)">{{jugador.txt_nombre}} {{jugador.txt_apellido}}<br><small> {{jugador.nro_doc}}</small></a>
                            </li>
                        </ul>
                    </div>
                </form>

                <div class="col-md-12">
                    <hr class="border-top-striped m-t-0 m-b-30">
                    <p translate="PLAYERSSELECTED" translate-language="{{idiomaElegido}}">Jugadores seleccionados:</p>
                    <ul class="jugadores-pago row clearfix">
                        <li class="col-md-12" style="display: list-item;" ng-repeat="jugadorAPagar in jugadoresAPagarPase | unique : cod_usuario">
                            <div class="jugador-pago">
                                <a href="javascript:void(0)" class="eliminar-jugador has-tooltip" ng-click="removerJugador(jugadorAPagar)" title="Eliminar jugador"><i class="icon-trash"></i></a>
                                <div class="user-pic" style="background-image: url(/img/avatars/avatar-user1.png)"></div>
                                <ul class="jugador-pago-data">
                                    <li><strong>{{jugadorAPagar.txt_nombre}} {{jugadorAPagar.txt_apellido}}</strong></li>
                                    <li>DNI: {{jugadorAPagar.nro_doc}}</li>
                                    <li>Handicap: {{jugadorAPagar.handicap.nro_handicap}}</li>
                                    <li>Tipo: {{jugadorAPagar.ttipo_jugador.txt_desc}}</li>
                                </ul>
                                <div class="jugador-radio jugador-radio-categoria">
                                    <span>
                                        Categoría actual:<strong ng-if="jugadorAPagar.handicap.thandicap.txt_desc != jugadorAPagar.handicap.thandicap.tcategoria_handicap.txt_desc">
                                            {{jugadorAPagar.handicap.thandicap.txt_desc}}
                                            {{jugadorAPagar.handicap.thandicap.tcategoria_handicap.txt_desc}}
                                        </strong>
                                        <strong ng-if="jugadorAPagar.handicap.thandicap.txt_desc == jugadorAPagar.handicap.thandicap.tcategoria_handicap.txt_desc">
                                            {{jugadorAPagar.handicap.thandicap.txt_desc}}
                                        </strong>
                                    </span>
                                    <br />
                                    <span ng-show="jugadorAPagar.handicap.thandicap.ttransicion.length > 0">
                                        <span>Pasar a categoría:</span>
                                        <span ng-repeat="transicion in jugadorAPagar.handicap.thandicap.ttransicion"
                                              ng-if="getTransicion(transicion.cod_handicap_hasta, jugadorAPagar) != undefined">
                                            <label class="has-tooltip" title="Puede participar en torneos oficiales de la AAP">
                                                <input type="radio" ng-model="jugadorAPagar.categoriaHandicapId"
                                                       ng-value="transicion.cod_handicap_hasta" ng-click="clickCategoria(jugadorAPagar, transicion.nro_precio)" class="catPase-{{$parent.$index}}">
                                                <span>{{getTransicion(transicion.cod_handicap_hasta, jugadorAPagar)}}</span>
                                            </label>
                                        </span>
                                    </span>
                                </div>
                                <div class="jugador-radio">
                                    <span>
                                        Club principal
                                    </span>
                                    <div class="jugador-pago-data-buscador">
                                        <select name="torneo-club" ng-model="jugadorAPagar.cod_club_principal" disabled="disabled"
                                                ng-options="club.cod_club as club.txt_desc for club in clubesAll" id="torneo-club-{{$index}}" class="select2-basic">
                                            <option value="" selected disabled>Seleccioná el club principal</option>
                                        </select>
                                    </div>
                                </div>
                                <span class="jugador-pago-precio" ng-show="!jugadorAPagar.pagoSeleccionado">
                                    $0
                                </span>
                                <span class="jugador-pago-precio" ng-show="jugadorAPagar.pagoSeleccionado">${{jugadorAPagar.precioCambio}}</span>
                                <div class="jugador-radios jugador-radios-pase">

                                </div>
                            </div>
                        </li>
                    </ul>


                    <p class="total-pago"><span translate="FINALAMOUNT" translate-language="{{idiomaElegido}}">Monto total a abonar:</span> <strong>$<span>{{montoTotalPase}}</span></strong></p>
                    <p>Seleccioná una de las formas de pago disponibles.</p>
                </div>

                <div class="col-md-12">
                    <a href="javascript:void(0)" class="opcion-pago" ng-click="pagarHandicapPase(); disabledPagoPase = true;" ng-disabled="disabledPagoPase" ng-class="{'disabled': disabledPagoPase}">
                        <h5 translate="MERCADOPAGO" translate-language="{{idiomaElegido}}">Pagar</h5>
                        <p translate="INSTANTPAYMENT" translate-language="{{idiomaElegido}}">Confirmación inmediata pagando online con tarjeta de crédito.</p>
                        <p translate="OFFLINEPAYMENT" translate-language="{{idiomaElegido}}">Deberás subir el comprobante y esperar confirmación de la AAP.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="avisoActualizarClub">
    <div class="modal-overlay"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-800">
            <div class="modal-header">
                <h2 data-icon="&#xe062;">Pases de categoría</h2>
                <i class="icon-cross" data-dismiss="pasesCategoria" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12">
                    <p>La AAP te invita a validar los clubes de los cuales eres socio. Recuerda que el Club de preferencia es el que representarás en la Copa República.</p>
                </div>

                <div class="col-md-12">
                    <div class="modal-opciones text-right">
                        <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="confirmarSalir" onclick="closeModal()">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="avisoHandicap">
    <div class="modal-overlay" onclick="closeModal()"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-800">
            <div class="modal-header">
                <h2 data-icon="&#xe062;">Handicap</h2>
                <i class="icon-cross" data-dismiss="pasesCategoria" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12">
                    <p translate="COMINGSOON" translate-language="{{idiomaElegido}}">Estamos haciendo mejoras en los medios de pago y se encontrará disponible a partir de 16 de marzo.</p>
                </div>

                <div class="col-md-12">
                    <div class="modal-opciones text-right">
                        <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="confirmarSalir" onclick="closeModal()">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="perfilIncompleto">
    <div class="modal-overlay"></div>

    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-800">
            <div class="modal-header">
                <h2 data-icon="&#xe063;" translate="WARNING" translate-language="{{idiomaElegido}}" >Advertencia | Pago de Handicap</h2>
                <i class="icon-cross" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12">
                    <p>
                        <span translate="INORDER" translate-language="{{idiomaElegido}}">Algunos datos obligatorios de tu perfil están incompletos. Con el fin de poder actualizar tu información 
                        y que puedas pagar tu handicap, enviá la siguiente información a </span>
                        <a href="mailto:veronica.magnasco@aapolo.com" target="_blank">
                            <strong translate="MAILVERONICA" translate-language="{{idiomaElegido}}">veronica.magnasco@aapolo.com</strong>
                        </a>
                    </p>
                    <ul class="bullet-list">
                        <li translate="IDPASSPORT" translate-language="{{idiomaElegido}}">DNI/Pasaporte</li>
                        <li translate="COUNTRYORIGIN" translate-language="{{idiomaElegido}}">País de origen</li>
                        <li translate="DATEOFBIRTH" translate-language="{{idiomaElegido}}">Fecha de nacimiento</li>
                        <li translate="CLUBPREFERENCE" translate-language="{{idiomaElegido}}">Club principal</li>
                    </ul>
                    <p translate="UPGRADECONFIRM" translate-language="{{idiomaElegido}}">Una vez actualizado, te confirmaremos por el mismo medio para que puedas efectuar el pago.</p>
                    <p translate="THANKS" translate-language="{{idiomaElegido}}">¡Muchas gracias!</p>
                </div>
            </div>
        </div>
    </div>
</div>