﻿<section class="section-bg paper-after-grey" style="background-image: url('../img/bgs/8.jpg');" ng-init="init()">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">Noticias</h1>
                <a href="javascript:void(0);" class="btn btn-lightblue btn-small pull-right open-search"><i class="icon-search"></i> Buscar</a>
                <div class="clearfix"></div>

                <div class="panel panel-buscar clearfix">
                    <div class="col-md-12">
                        <h2>Buscar noticias</h2>
                    </div>
                    <form action="javascript:void(0)" class="form-default">
                        <div class="col-md-4">
                            <input id="buscar-nombre" type="text" placeholder="Buscar noticias por nombre o contenido" ng-model="filter.txt_titulo">
                        </div>
                        <div class="col-md-3">
                            <select name="buscar-categoria" id="ddlCategorias" ng-model="filter.cod_tipo_noticia" class="select2-basic"
                                    ng-options="categoria.cod_tipo_noticia as categoria.txt_desc for categoria in categorias | orderBy:'cod_tipo_noticia':true">
                                <option value="" selected disabled>Seleccioná una categoria</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <select name="buscar-etiqueta" id="ddlEtiquetas" ng-model="filter.tnoticia_etiqueta.cod_etiqueta" class="select2-basic"
                                    ng-options="etiqueta.cod_etiqueta as etiqueta.txt_desc for etiqueta in etiquetas | orderBy:'cod_etiqueta':true">
                                <option value="" selected disabled>Seleccioná una etiqueta</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <button type="button" class="btn btn-lightblue btn-full" ng-click="filtrarNoticias()"><i class="icon-search"></i> Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<section class="clearfix p-t-50 p-b-50" ng-class="{'loading': isLoading}">
    <div class="container-fluid">
        <div class="col-md-12">
            <h2 class="page-title m-t-60">Últimas noticias</h2>
        </div>
        <div ng-repeat="noticia in lstNoticias | filter: buscado">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="noticia noticia-sm clearfix" ng-class="{'has-video' : (noticia.urlVideo != undefined)}" style="height: 361.125px;">

                    @*<img ng-if="noticia.imgSlideshow != undefined" src="{{noticia.imgSlideshow}}" class="img-responsive" alt="">
                        <img ng-if="noticia.imgSlideshow == undefined" src="@Url.Content("~/img/noticia1.jpg")" class="img-responsive" alt="">*@
                    <div ng-if="noticia.imgPrincipal != undefined" class="noticia-img" style="background-image: url('{{noticia.imgPrincipal}}')"></div>
                    <div ng-if="noticia.imgPrincipal == undefined" class="noticia-img" style="background-image: url('@Url.Content("~/img/noticia1.jpg")')"></div>
                    <span class="noticia-categoria">{{noticia.categoriaNombre}}</span>
                    <span class="noticia-fecha">{{noticia.fec_alta | date:'dd/MM/yyyy'}}</span>
                    <h3>{{noticia.txt_titulo}}</h3>
                    <p>{{noticia.txt_copete}}</p>
                    <div class="noticia-footer">
                        <a href="/PerfilPublico/#/Noticia/{{noticia.cod_noticia}}">Leer más <i class="icon-arrow-thin-right"></i></a>
                        <ul class="noticia-share" ng-init="initTooltip()">
                            <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.amediatest.com/PerfilPublico/#/Noticia/{{noticia.cod_noticia}}" class="has-tooltip" title="Compartir en Facebook"><img src="@Url.Content("~/img/icon-fb.png")" alt=""></a></li>
                            <li><a target="_blank" href="https://twitter.com/home?status=Asociaci%C3%B3n%20Argentina%20de%20Polo%3A%20T%C3%AD{{noticia.txt_titulo}}" class="has-tooltip" title="Compartir en Twitter"><img src="@Url.Content("~/img/icon-tw.png")" alt=""></a></li>
                            <li><a target="_blank" href="mailto:?&subject=Asociación Argentina de Polo: {{noticia.txt_titulo}}&body=Hola!%0A%0ACreo%20que%20la%20nota%20%22T%C3%ADtulo%20de%20la%20nota%22%20podr%C3%ADa%20interesarte%3A%20http%3A//www.amediatest.com/PerfilPublico/#/Noticia/{{noticia.cod_noticia}}" class="has-tooltip" title="Enviar por email"><img src="@Url.Content("~/img/icon-ma.png")" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

