﻿<section class="clearfix" ng-init="init()">
    <div class="container-fluid">
        <div class="col-md-12 m-t-60">
            <hgroup class="noticia-title">
                <a href="javascript:void(0);" class="categoria has-tooltip" title="Categoría">{{noticia.categoriaNombre}}</a>
                <span class="fecha has-tooltip" title="Fecha de publicación">{{noticia.fec_alta | date:'dd/MM/yyyy'}}</span>
                <h1>{{noticia.txt_titulo}}</h1>
                <p>{{noticia.txt_copete}}</p>
                <ul class="noticia-tags clearfix">
                    <span>Tags:</span>
                    <li ng-repeat="etiqueta in noticia.tnoticia_etiqueta">
                        <a href="javascript:void(0);">{{etiqueta.etiquetaNombre}}</a>
                    </li>
                </ul>
            </hgroup>
        </div>

        <div class="col-md-9">
            <div class="noticia-cuerpo">
                <div class="img-noticia-holder" ng-class="{'loading': isLoading}">
                    <img ng-if="noticia.imgPrincipal != undefined" src="{{noticia.imgPrincipal}}" class="img-noticia img-responsive" alt="">
                    <img ng-if="noticia.imgPrincipal == undefined" src="@Url.Content("~/img/color-pic-bg.jpg")" class="img-noticia img-responsive" alt="">
                    <!-- Si la noticia no tiene video, omitir este div -->
                    <a ng-if="noticia.urlVideo != undefined" href="{{noticia.urlVideo}}" data-fancybox="gallery" class="noticia-play-video"><i class="icon-media-play"></i></a>


                    <div class="noticia-share-desplegable has-tooltip" title="Compartir en redes sociales">
                        <ul>
                            <li class="share-sh">
                                <a href="javascript:void(0)">
                                    <svg viewBox="0 0 26 26">
                                        <path d="M 21 0 C 18.238281 0 16 2.238281 16 5 C 16 5.085938 16.027344 5.164063 16.03125 5.25 L 8.1875 9.1875 C 7.320313 8.457031 6.222656 8 5 8 C 2.238281 8 0 10.238281 0 13 C 0 15.761719 2.238281 18 5 18 C 6.222656 18 7.320313 17.542969 8.1875 16.8125 L 16.03125 20.75 C 16.027344 20.835938 16 20.914063 16 21 C 16 23.761719 18.238281 26 21 26 C 23.761719 26 26 23.761719 26 21 C 26 18.238281 23.761719 16 21 16 C 19.777344 16 18.679688 16.457031 17.8125 17.1875 L 9.96875 13.25 C 9.972656 13.164063 10 13.085938 10 13 C 10 12.914063 9.972656 12.835938 9.96875 12.75 L 17.8125 8.8125 C 18.679688 9.542969 19.777344 10 21 10 C 23.761719 10 26 7.761719 26 5 C 26 2.238281 23.761719 0 21 0 Z "></path>
                                    </svg>
                                </a>
                            </li>

                            <li class="share-fb">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.amediatest.com/PerfilPublico/#/Noticia/{{noticia.cod_noticia}}" target="_blank">
                                    <svg viewBox="0 0 24 24">
                                        <path d="M17.525,9H14V7c0-1.032,0.084-1.682,1.563-1.682h1.868v-3.18C16.522,2.044,15.608,1.998,14.693,2 C11.98,2,10,3.657,10,6.699V9H7v4l3-0.001V22h4v-9.003l3.066-0.001L17.525,9z"></path>
                                    </svg>
                                </a>
                            </li>

                            <li class="share-tw">
                                <a href="https://twitter.com/home?status=Asociaci%C3%B3n%20Argentina%20de%20Polo%3A%20T%C3%AD{{noticia.txt_titulo}}" target="_blank">
                                    <svg viewBox="0 0 26 26">
                                        <path d="M 25.855469 5.574219 C 24.914063 5.992188 23.902344 6.273438 22.839844 6.402344 C 23.921875 5.75 24.757813 4.722656 25.148438 3.496094 C 24.132813 4.097656 23.007813 4.535156 21.8125 4.769531 C 20.855469 3.75 19.492188 3.113281 17.980469 3.113281 C 15.082031 3.113281 12.730469 5.464844 12.730469 8.363281 C 12.730469 8.773438 12.777344 9.175781 12.867188 9.558594 C 8.503906 9.339844 4.636719 7.246094 2.046875 4.070313 C 1.59375 4.847656 1.335938 5.75 1.335938 6.714844 C 1.335938 8.535156 2.261719 10.140625 3.671875 11.082031 C 2.808594 11.054688 2 10.820313 1.292969 10.425781 C 1.292969 10.449219 1.292969 10.46875 1.292969 10.492188 C 1.292969 13.035156 3.101563 15.15625 5.503906 15.640625 C 5.0625 15.761719 4.601563 15.824219 4.121094 15.824219 C 3.78125 15.824219 3.453125 15.792969 3.132813 15.730469 C 3.800781 17.8125 5.738281 19.335938 8.035156 19.375 C 6.242188 20.785156 3.976563 21.621094 1.515625 21.621094 C 1.089844 21.621094 0.675781 21.597656 0.265625 21.550781 C 2.585938 23.039063 5.347656 23.90625 8.3125 23.90625 C 17.96875 23.90625 23.25 15.90625 23.25 8.972656 C 23.25 8.742188 23.246094 8.515625 23.234375 8.289063 C 24.261719 7.554688 25.152344 6.628906 25.855469 5.574219 "></path>
                                    </svg>
                                </a>
                            </li>

                            <li class="share-ma">
                                <a href="mailto:?&subject=Asociación Argentina de Polo: {{noticia.txt_titulo}}&body=Hola!%0A%0ACreo%20que%20la%20nota%20%22T%C3%ADtulo%20de%20la%20nota%22%20podr%C3%ADa%20interesarte%3A%20http%3A//www.amediatest.com/PerfilPublico/#/Noticia/{{noticia.cod_noticia}}" target="_blank">
                                    <svg viewBox="0 0 24 24">
                                        <path d="M 4 4 C 2.976 4 2.1404375 4.772625 2.0234375 5.765625 L 12 12 L 21.976562 5.765625 C 21.859563 4.772625 21.024 4 20 4 L 4 4 z M 2 7.7519531 L 2 18 C 2 19.105 2.895 20 4 20 L 20 20 C 21.105 20 22 19.105 22 18 L 22 7.7519531 L 12 14 L 2 7.7519531 z"></path>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p data-ng-bind-html="trustAsHtml(noticia.txt_cuerpo)">

                </p>
                <div class="inbox-content-footer" ng-show="noticia.txt_adjunto_footer != undefined && noticia.txt_adjunto_footer != null">
                    <ul class="inbox-attachments row">
                        <li class="col-md-4">
                            <a href="http://aapolo.com/doc/{{noticia.txt_adjunto_footer}}" download="{{noticia.txt_adjunto_footer}}">
                                <i class="icon-download"></i>
                                <span class="attachment-data">
                                    <span class="attach-name">Descargar aqui</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>*@
            </div>
        </div>

        @*<div class="col-md-3 hide-mobile">
            <a href="javascript:void(0);"><img src="@Url.Content("~/img/publicidad.png")" class="img-responsive" alt=""></a>
        </div>*@

        <div class="col-md-3">
            <a href="https://www.ticketek.com.ar/campeonato-argentino-abierto-de-polo/campo-argentino-de-polo" target="_blank" class="banner-noticia">
                <img src="../img/banner-web-alto.png" class="img-responsive hide-mobile" alt="">
                <img src="../img/banner-web-res.png" class="img-responsive show-mobile" alt="">
            </a>
        </div>
        <div class="col-md-12">
            <h2 class="title-section m-t-100 m-b-60">Noticias relacionadas</h2>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="noti in lstRelacionadas">
            <div class="noticia noticia-sm clearfix" style="height: 361.125px;">
                @*<img ng-if="noti.imgSlideshow != undefined" src="{{noti.imgSlideshow}}" class="img-responsive" alt="">
        <img ng-if="noti.imgSlideshow == undefined" src="@Url.Content("~/img/noticia1.jpg")" class="img-responsive" alt="">*@
                <div ng-if="noti.imgPrincipal != undefined" class="noticia-img" style="background-image: url('{{noti.imgPrincipal}}')"></div>
                <div ng-if="noti.imgPrincipal == undefined" class="noticia-img" style="background-image: url('@Url.Content("~/img/noticia1.jpg")')"></div>

                <span class="noticia-categoria">{{noti.categoriaNombre}}</span>
                <span class="noticia-fecha">{{noti.fec_alta | date:'dd/MM/yyyy'}}</span>
                <h3>{{noti.txt_titulo}}</h3>
                <p>{{noti.txt_copete}}</p>
                <div class="noticia-footer">
                    <a href="/PerfilPublico/#/Noticia/{{noti.cod_noticia}}">Leer más <i class="icon-arrow-thin-right"></i></a>
                    <ul class="noticia-share" ng-init="initTooltip()">
                        <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.amediatest.com/PerfilPublico/#/Noticia/{{noti.cod_noticia}}" class="has-tooltip" title="Compartir en Facebook"><img src="@Url.Content("~/img/icon-fb.png")" alt=""></a></li>
                        <li><a target="_blank" href="https://twitter.com/home?status=Asociaci%C3%B3n%20Argentina%20de%20Polo%3A%20T%C3%AD{{noti.txt_titulo}}" class="has-tooltip" title="Compartir en Twitter"><img src="@Url.Content("~/img/icon-tw.png")" alt=""></a></li>
                        <li><a target="_blank" href="mailto:?&subject=Asociación Argentina de Polo: {{noti.txt_titulo}}&body=Hola!%0A%0ACreo%20que%20la%20nota%20%22T%C3%ADtulo%20de%20la%20nota%22%20podr%C3%ADa%20interesarte%3A%20http%3A//www.amediatest.com/PerfilPublico/#/Noticia/{{noti.cod_noticia}}" class="has-tooltip" title="Enviar por email"><img src="@Url.Content("~/img/icon-ma.png")" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

