﻿<section class="section-bg paper-after-grey" ng-init="init()" style="background-image: url('/img/bgs/7.jpg');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">
                    Torneos
                    <a href="/PerfilPublico/ProximosPartidos" class="btn btn-outline btn-small" style="margin: 0 !important;">Ver estadisticas Triple Corona</a>
                </h1>
                <a href="javascript:void(0);" class="btn btn-lightblue btn-small pull-right open-search"><i class="icon-search"></i> Buscar</a>
                <div class="clearfix"></div>

                <div class="panel panel-buscar clearfix">
                    <div class="col-md-12">
                        <h2>Buscar torneos</h2>
                    </div>
                    <form class="form-default">
                        <div class="col-md-4">
                            <input id="buscar-nombre" ng-model="buscado.txt_desc" type="text" placeholder="Buscar torneos por nombre">
                        </div>

                        <div class="col-md-3">
                            <select name="buscar-categoria" id="buscar-categoria" class="select2-basic" ng-model="buscado.cod_categoria_torneo"
                                    ng-options="categoria.cod_categoria_torneo as categoria.txt_desc for categoria in categoriasTorneo">
                                <option value="" selected disabled>Seleccioná una categoría</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <select name="buscar-handicap" id="buscar-handicap" class="select2-basic" ng-model="buscado.cod_categoria_handicap"
                                    ng-options="categoria.cod_categoria_handicap as categoria.txt_desc for categoria in categoriasHandicap">
                                <option value="" selected disabled>Seleccioná una opción</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" class="btn btn-lightblue btn-full" ng-click="buscar()"><i class="icon-search"></i> Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<iframe src="https://aapolo.datafactory.la/html/v3/htmlCenter/data/deportes/todos/todos/pages/es/agenda.html" width="100%" height="219px" scrolling="auto"></iframe>

<section class="clearfix p-t-50 p-b-50">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-9">
                <h2 class="page-title">Calendario de torneos</h2>
                <div id="calendar" ng-init="renderCalendar()" class="calendar-torneos"></div>
            </div>

            <div class="col-md-3">
                <h2 class="page-title" style="margin: 75px 0 13px;">Torneos activos</h2>

                <ul class="listado-torneos row clearfix">
                    <li class="col-md-12" ng-repeat="torneo in torneosActivos | orderBy: 'fec_comienzo':true | filter: filtro | limitTo: '2'">
                        <div class="item-torneo">
                            <div class="item-torneo-header" ng-show="torneo.txt_imagen != 'No tiene'" style="background-image: url('{{torneo.txt_imagen}}')">
                                <h3>{{torneo.txt_desc}}</h3>
                            </div>
                            <div class="item-torneo-header" ng-show="torneo.txt_imagen == 'No tiene'" style="background-image: url('../img/img-default.jpg')">
                                <h3>{{torneo.txt_desc}}</h3>
                            </div>
                            <ul class="item-torneo-datos">
                                <li class="has-tooltip" title="Categoría"><i class="icon-user-group"></i> {{torneo.tcategoria_handicap.txt_desc}}</li>
                                <li class="has-tooltip" title="Fecha de inicio"><i class="icon-calendar"></i> Inicio: {{torneo.fec_comienzo | date:'dd/MM/yyyy'}}</li>
                            </ul>
                            <a href="/PerfilPublico/#/Torneo/{{torneo.cod_torneo}}" class="btn btn-outline-lightblue btn-small btn-full text-center">Ver más</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-12">
                <h2 class="page-title m-t-60">Próximos torneos</h2>

                <ul class="listado-torneos row clearfix m-b-40">
                    <li class="col-md-3" ng-repeat="torneo in torneos | filter: filtro">
                        <div class="item-torneo">
                            <div class="item-torneo-header" ng-show="torneo.txt_imagen != 'No tiene'" style="background-image: url('{{torneo.txt_imagen}}')">
                                <h3>{{torneo.txt_desc}}</h3>
                            </div>
                            <div class="item-torneo-header" ng-show="torneo.txt_imagen == 'No tiene'" style="background-image: url('../img/img-default.jpg')">
                                <h3>{{torneo.txt_desc}}</h3>
                            </div>
                            <ul class="item-torneo-datos">
                                <li class="has-tooltip" title="Categoría"><i class="icon-user-group"></i> {{torneo.tcategoria_handicap.txt_desc}}</li>
                                <li class="has-tooltip" title="Fecha de inicio"><i class="icon-calendar"></i> Inicio: {{torneo.fec_comienzo | date:'dd/MM/yyyy'}}</li>
                            </ul>
                            <a href="/PerfilPublico/#/Torneo/{{torneo.cod_torneo}}" class="btn btn-outline-lightblue btn-small btn-full text-center">Ver más</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>