﻿<section class="clearfix" ng-init="init()">
    <div class="container-fluid">
        <div class="col-md-12 m-t-60">
            <h2 class="page-title">{{torneo.txt_desc}}</h2>

            <div class="panel clearfix">
                <div class="row">
                    <div class="col-md-9">
                        <img src="{{torneo.txt_imagen}}" ng-show="torneo.txt_imagen != 'No tiene'" alt="Imagen" class="img-responsive">
                        <img src="../img/img-default.jpg" ng-show="torneo.txt_imagen == 'No tiene'" alt="Imagen" class="img-responsive">
                    </div>

                    <div class="col-md-3">
                        <ul class="torneo-data">
                            <li><i class="icon-trophy"></i> <span>Categoría</span> {{torneo.tcategoria_handicap.txt_desc}}</li>
                            <li><i class="icon-calendar"></i> <span>Fecha de inicio</span> {{torneo.fec_comienzo | date:'dd/MM/yyyy'}}</li>
                            <li>
                                <i class="icon-user"></i> <span>Handicap por jugador</span>
                                <div ng-show="torneo.nro_handicap_jugador_minimo == undefined && torneo.nro_handicap_jugador_maximo == undefined">No tiene</div>
                                <div ng-show="torneo.nro_handicap_jugador_minimo == undefined && torneo.nro_handicap_jugador_maximo != undefined">Entre 0 y {{torneo.nro_handicap_jugador_maximo}}</div>
                                <div ng-show="torneo.nro_handicap_jugador_minimo != undefined">Entre {{torneo.nro_handicap_jugador_minimo}} y {{torneo.nro_handicap_jugador_maximo}}</div>

                            </li>
                            <li>
                                <i class="icon-user-group"></i>
                                <span>Handicap por equipo</span>
                                <div ng-show="torneo.nro_handicap_jugador_minimo == undefined && torneo.nro_handicap_equipo_maximo == undefined">No tiene</div>
                                <div ng-show="torneo.nro_handicap_equipo_minimo == undefined && torneo.nro_handicap_equipo_maximo != undefined">Entre 0 y {{torneo.nro_handicap_equipo_maximo}}</div>
                                <div ng-show="torneo.nro_handicap_equipo_minimo != undefined">Entre {{torneo.nro_handicap_equipo_minimo}} y {{torneo.nro_handicap_equipo_maximo}}</div>
                            </li>
                            <li><i class="icon-star"></i> <span>Tipo</span> {{torneo.tcategoria_torneo.txt_desc}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 datos-inscripcion pull-right" ng-show="torneo.bool_inscripcion == true" ng-if="user != undefined && user != null">
            <a href="javascript:void(0)" ng-click="verifyTorneo()" class="btn btn-lightblue btn-full">Inscribirme en el torneo</a>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 datos-inscripcion pull-right" ng-show="torneo.bool_inscripcion == false">
            <span class="inscripcion-cerrada">Inscripción cerrada</span>
        </div>

        <div class="col-md-12" ng-show="torneo.txt_desc_larga != '' && torneo.txt_desc_larga != undefined && torneo.txt_desc_larga != null">
            <h3 class="inner-title m-b-40">Descripción</h3>
            <div class="columns-2">
                {{torneo.txt_desc_larga}}
            </div>
        </div>
        <div class="col-md-12" ng-show="torneo.tpartido.length > 0">
            <h3 class="inner-title" ng-show="torneo.tpartido.length > 0">Partidos</h3>

            <table class="table-default table-bg">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Instancia</th>
                        <th>Local</th>
                        <th>Visitante</th>
                        <th>Club sede</th>
                        @*<th>Cancha</th>*@
                        <th>Referee</th>
                        <th>Veedor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="partido in torneo.tpartido | orderBy: 'fec_partido'">
                        <td data-label="Fecha">{{partido.fec_partido | date: 'dd/MM/yyyy'}}</td>
                        <td data-label="Hora">{{partido.fec_partido | date: 'HH:mm'}}Hs</td>
                        <td data-label="Instancia">{{partido.tinstancia.txt_instancia}}</td>
                        <td data-label="Local"><strong>{{partido.tequipo.txt_desc}}</strong></td>
                        <td data-label="Visitante"><strong>{{partido.tequipo1.txt_desc}}</strong></td>
                        <td data-label="Club sede">
                            <a href="/PerfilPublico/#/Club/{{partido.tequipo.tclub.cod_club}}">
                                {{partido.tequipo.tclub.txt_desc}}
                            </a>
                        </td>
                        @*<td data-label="Cancha">Nombre de la cancha</td>*@
                        <td data-label="Referee">
                            <span>
                                {{partido.treferee.users.txt_nombre}} {{partido.treferee.users.txt_apellido}}
                            </span>
                            <span ng-show="partido.cod_referee == undefined">
                                No asignado
                            </span>
                        </td>
                        <td data-label="Veedor">{{partido.users.txt_nombre}} {{partido.users.txt_apellido}}</td>
                    </tr>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="sponsors sponsors-torneo clearfix">
    <div class="container-fluid">
        <div class="col-md-12">
            <h3>Sponsors</h3>
            <ul class="sponsors-list">
                <li><img src="../img/sponsors/espn.png" class="has-tooltip" alt="ESPN" title="ESPN"></li>
                <li><img src="../img/sponsors/rus.png" class="has-tooltip" alt="RUS" title="RUS"></li>
                <li><img src="../img/sponsors/cocacola.png" alt="Coca-Cola"></li>
                <li><img src="../img/sponsors/omint.png" class="has-tooltip" alt="Omint" title="Omint"></li>
                <li><img src="../img/sponsors/trapiche.png" class="has-tooltip" alt="Trapiche" title="Trapiche"></li>
                <li><img src="../img/sponsors/johnniewalker.png" class="has-tooltip" alt="Johnnie Walker" title="Johnnie Walker"></li>
                <li><img src="../img/sponsors/navarrocorreas.png" class="has-tooltip" alt="Navarro Correas" title="Navarro Correas"></li>
                <li><img src="../img/sponsors/wearesports.png" class="has-tooltip" alt="We Are Sports" title="We Are Sports"></li>
            </ul>
        </div>
    </div>
</section>
