﻿<div class="iframe-torneos-holder">
    <iframe src="https://aapolo.datafactory.la/html/v3/index.html?channel=deportes.polo.palermo.fixture&amp;lang=es_LA" frameborder="0" style="width: 100%; height: 1100px;"></iframe>
</div>


<ul class="videotutoriales">
    <li><a href="javascript:void(0);" data-modal="tutorial-handicap" onclick="clickModal('tutorial-handicap')"><i class="icon-wallet"></i> <span>¿Cómo pagar mi <strong>handicap</strong>?</span></a></li>
</ul>

<div class="modal" id="tutorial-handicap">
    <div class="modal-overlay" data-dismiss="tutorial-handicap" onclick="closeModal()"></div>

    <div class="modal-dialogo">
        <div class="modal-header">
            <h2><i class="icon-wallet"></i> ¿Cómo pagar mi <strong>handicap</strong>?</h2>
            <i class="icon-cross" data-dismiss="tutorial-handicap" onclick="closeModal()"></i>
        </div>

        <div class="modal-contenido modal-contenido-video clearfix">
            <video class="videoModal" controls="">
                <source src="../video/pagodehandicap.mp4.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>