﻿<section class="section-bg paper-after-grey" style="background-image: url('../img/bgs/1.jpg');" ng-init="init()">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">Clubes</h1>
                <a href="javascript:void(0);" class="btn btn-lightblue btn-small pull-right open-search"><i class="icon-search"></i> Buscar</a>
                <div class="clearfix"></div>

                <div class="panel panel-buscar clearfix">
                    <div class="col-md-12">
                        <h2>Buscar clubes</h2>
                    </div>
                    <form class="form-default">
                        <div class="col-md-4">
                            <input id="buscar-nombre" ng-model="filter.txt_desc" type="text" placeholder="Buscar clubes por nombre">
                        </div>

                        <div class="col-md-3">
                            <select name="buscar-categoria" ng-model="filter.cod_categoria_club" id="buscar-categoria" class="select2-basic"
                                    ng-options="categoria.cod_categoria_club as categoria.txt_desc for categoria in categoriaClubes">
                                <option value="" selected disabled>Buscar por categoría</option>
                            </select>
                        </div>

                        <div class="col-md-2 pull-right">
                            <button type="button" ng-click="filterClubes(1)" class="btn btn-lightblue btn-full"><i class="icon-search"></i> Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<section class="clearfix p-b-50 p-t-50">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12" ng-class="{'loading-main': isLoading}" style="min-height:250px">
                <h2 class="page-title m-t-40">Clubes destacados</h2>
                
                <ul class="listado-torneos row clearfix">
                    <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="club in clubes | filter: filtro:true">
                        <div class="item-jugador">
                            <div ng-if="club.txt_imagen == undefined" class="user-pic" style="background-image: url('../img/avatars/avatar-club.jpg')"></div>
                            <div ng-if="club.txt_imagen != undefined" class="user-pic" style="background-image: url('{{club.txt_imagen}}')"></div>
                            <h3>{{club.txt_desc}}</h3>
                            <ul class="item-jugador-datos">
                                <li title="Categoría"><i class="icon-flag"></i> {{club.tcategoria_club.txt_desc}}</li>
                                <li title="Provincia"><i class="icon-location"></i> {{club.tdomicilio.tprovincia.txt_desc}}</li>
                                <li title="Fecha de inicio"><i class="icon-calendar"></i> Fundación: {{club.fec_fundacion | date: 'dd/MM/yyyy'}}</li>
                            </ul>
                            <a href="/PerfilPublico/#/Club/{{club.cod_club}}" class="btn btn-outline-lightblue btn-small btn-full text-center">Visitar club</a>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</section>