﻿<section class="clearfix" ng-init="init()" style="margin-bottom:40px;">
    <div class="panel-header-jugador p-t-100 p-b-100">
        <div class="container-fluid">
            <div class="col-md-12 flex">
                <div class="user-profile-pic">
                    <div class="user-pic user-pic-public" style="background-image: url('../img/avatars/avatar-club.jpg')"></div>
                </div>

                <hgroup class="user-profile-title">
                    <h1>{{club.txt_desc}}</h1>
                    <h4>{{club.tcategoria_club.txt_desc}}</h4>
                </hgroup>

                <ul class="featured-values">
                    <li>
                        <i class="icon-user-group"></i>
                        <h4>{{club.nro_cant_socios}}</h4>
                        <span>Socios</span>
                    </li>
                    <li>
                        <i class="icon-hourglass"></i>
                        <h4>{{club.anio_fundacion}}</h4>
                        <span>Años</span>
                    </li>
                    <li>
                        <i class="icon-trophy"></i>
                        <h4>13</h4>
                        <span>Torneos</span>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: -20px;">
        <div class="col-md-3 club-data-holder">
            <ul class="torneo-data club-data panel m-t-60 m-b-20">
                <li><i class="icon-calendar"></i> <span>Fundación</span> {{club.fec_fundacion | date: 'dd/MM/yyyy'}}</li>
                <li><i class="icon-phone"></i> <span>Teléfono</span> {{club.nro_telefono}}</li>
                <li><i class="icon-mail"></i> <span>Email</span> {{club.txt_mail}}</li>
                <li>
                    <i class="icon-location"></i> <span>Domicilio</span>
                    {{club.tdomicilio.txt_desc}}, {{club.tdomicilio.tmunicipio.txt_desc}}, {{club.tdomicilio.tprovincia.txt_desc}}
                </li>
                <li><i class="icon-map"></i> <span>Canchas</span> {{club.nro_canchas}}</li>
            </ul>

            <a href="https://www.facebook.com/{{club.txt_facebook}}" ng-if="club.txt_facebook != undefined" target="_blank" class="btn btn-social btn-fb"><img src="../img/icon-fb.png" alt=""> Facebook</a>
            <a href="https://www.instagram.com/{{club.txt_twitter}}" ng-if="club.txt_twitter != undefined" target="_blank" class="btn btn-social btn-tw"><img src="../img/icon-tw.png" alt=""> Twitter</a>
            <a href="https://twitter.com/{{club.txt_instagram}}" ng-if="club.txt_instagram != undefined" target="_blank" class="btn btn-social btn-in"><img src="../img/icon-in.png" alt=""> Instagram</a>
        </div>

        <div class="col-md-9">
            <h3 class="inner-title m-t-60">Jugadores destacados</h3>

            <ul class="listado-torneos row clearfix m-t-30">
                <li class="col-md-4 col-sm-6 col-xs-12" ng-repeat="jugador in (usuarios | orderBy: 'handicap.nro_handicap':true |emptyToEnd:'handicap') | limitTo:'8'">
                    <div class="item-jugador">
                        <div class="user-pic" style="background-image: url('../img/avatars/avatar-user1.png')"></div>
                        <h3>{{jugador.txt_nombre}} {{jugador.txt_apellido}}</h3>
                        <ul class="item-jugador-datos">
                            <li title="Género"><i class="icon-user"></i> {{jugador.tgenero.txt_desc}}</li>
                            <li title="Ubicación"><i class="icon-star"></i> Handicap: {{jugador.handicap.nro_handicap}}</li>
                            <li title="Fecha de inicio"><i class="icon-calendar"></i> Fecha de nacimiento:{{jugador.fec_nacimiento | date : 'dd/MM/yyyy'}}</li>
                            <li title="Fecha de finalización"><i class="icon-flag"></i> Nacionalidad: {{jugador.tdomicilio.tprovincia.txt_desc}}</li>
                        </ul>
                        <a href="/PerfilPublico/#/Jugador/{{jugador.cod_usuario}}" class="btn btn-outline-lightblue btn-small btn-full text-center">Visitar perfil</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-md-12" ng-show="club.txt_historia != undefined && club.txt_historia != '' && club.txt_historia != null">
            <h3 class="inner-title m-t-60">Historia</h3>
            <div class="columns-2 m-t-30">
                <p>
                    {{club.txt_historia}}
                </p>
            </div>
        </div>

        <div class="col-md-12">
            <h3 class="inner-title m-t-60"> Ubicación</h3>

            <ng-map zoom="14" center="{{club.tdomicilio.txt_domicilio}} {{club.tdomicilio.nro_domicilio}} {{club.tdomicilio.tmunicipio.txt_desc}}" frameborder="0" style="border:0"
                    allowfullscreen class="mapa-club">
                <marker position="{{club.tdomicilio.txt_domicilio}} {{club.tdomicilio.nro_domicilio}} {{club.tdomicilio.tmunicipio.txt_desc}}"
                        title="Mi Club <3"
                        centered="true"></marker>
            </ng-map>
        </div>

    </div>
</section>