﻿<div class="panel panel-profile" ng-init="renderSelect()">
    <div class="panel-header">
        <hgroup class="user-profile-title">
            <h1>Mis torneos</h1>
        </hgroup>
    </div>
    <div class="panel-body">
        <ul class="tabs-default">
            <li class="current"><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="inscribir">Inscribir un equipo</a></li>
            <li><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="inscripciones">Inscripciones realizadas</a></li>
        </ul>
        <div class="tab-contents">
            <div class="tab-content" id="inscribir" style="display: block;">
                <form action="#" class="form-default">
                    <h3>Seleccioná el torneo en el que vas a participar</h3>
                    <div class="row clearfix">
                        <div class="col-md-4">
                            <select ng-model="perfil.torneo.cod_categoria_torneo" name="torneo-categoria" id="torneo-categoria" class="select2-basic"
                                    ng-options="categoria.cod_categoria_torneo as categoria.txt_desc for categoria in categoriasTorneo" required>
                                <option value="">Seleccioná una categoria</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <select ng-model="perfil.torneo.cod_torneo" name="torneo-torneo" id="torneo-torneo" class="select2-basic"
                                    ng-options="torneo.cod_torneo as torneo.txt_desc for torneo in torneos" required>
                                <option value="">Seleccioná un torneo</option>
                            </select>

                        </div>

                        <div class="col-md-4">
                            <input type="text" ng-model="perfil.equipo.txt_desc" placeholder="Escribí el nombre de tu equipo">
                        </div>
                    </div>
                    <h3>Formá tu equipo</h3>
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <div class="torneo-jugador-outer">
                                <div class="torneo-jugador jugador-agregado">
                                    <div class="torneo-jugador-inner">
                                        <span class="torneo-jugador-capitan">Capitán</span>
                                        <div class="user-pic" style="background-image: url('img/avatars/avatar-user1.png')"></div>
                                        <h5> {{perfil.txt_apellido}}, {{perfil.txt_nombre}}</h5>
                                        <p>Handicap: {{perfil.cod_handicap.txt_desc}}</p>
                                        <p>DNI: {{perfil.nro_doc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="torneo-jugador-outer">
                                <div class="torneo-jugador-agregar">
                                    <div class="torneo-jugador-inner">
                                        <i class="icon-plus"></i>
                                        <select name="jugador1" ng-model="perfilSeleccionadoUno" id="jugador1" class="select2-basic" ng-select="renderSelect($event)">
                                            <option value="" selected disabled>Buscá nombre o DNI</option>
                                            <option ng-repeat="jugador in jugadores">{{jugador.txt_nombre}} {{jugador.txt_apellido}}({{jugador.nro_doc}})</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="torneo-jugador">
                                    <div class="torneo-jugador-inner">
                                        <a href="javascript:void(0)" class="eliminar-jugador has-tooltip" title="Eliminar jugador"><i class="icon-trash"></i></a>
                                        <div class="user-pic" style="background-image: url('img/avatars/avatar-user1.png')"></div>
                                        <h5> {{perfilSeleccionadoUno.txt_apellido}}, {{perfilSeleccionadoUno.txt_nombre}}</h5>
                                        <p>Handicap: {{perfilSeleccionadoUno.cod_handicap.txt_desc}}</p>
                                        <p>DNI: {{perfilSeleccionadoUno.nro_doc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="torneo-jugador-outer">
                                <div class="torneo-jugador-agregar">
                                    <div class="torneo-jugador-inner">
                                        <i class="icon-plus"></i>
                                        <select name="jugador2" ng-model="perfilSeleccionadoDos" id="jugador2" class="select2-basic" ng-select="renderSelect($event)">
                                            <option value="" selected disabled>Buscá nombre o DNI</option>
                                            <option ng-repeat="jugador in jugadores">{{jugador.txt_nombre}} {{jugador.txt_apellido}}({{jugador.nro_doc}})</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="torneo-jugador">
                                    <div class="torneo-jugador-inner">
                                        <a href="javascript:void(0)" class="eliminar-jugador has-tooltip" title="Eliminar jugador"><i class="icon-trash"></i></a>
                                        <div class="user-pic" style="background-image: url('img/avatars/avatar-user1.png')"></div>
                                        <h5> {{perfilSeleccionadoDos.txt_apellido}}, {{perfilSeleccionadoDos.txt_nombre}}</h5>
                                        <p>Handicap: {{perfilSeleccionadoDos.cod_handicap.txt_desc}}</p>
                                        <p>DNI: {{perfilSeleccionadoDos.nro_doc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="torneo-jugador-outer">
                                <div class="torneo-jugador-agregar">
                                    <div class="torneo-jugador-inner">
                                        <i class="icon-plus"></i>
                                        <select name="jugador3" id="jugador3" ng-model="perfilSeleccionadoTres" class="select2-basic" ng-select="renderSelect($event)">
                                            <option value="" selected disabled>Buscá nombre o DNI</option>
                                            <option ng-repeat="jugador in jugadores">{{jugador.txt_nombre}} {{jugador.txt_apellido}}({{jugador.nro_doc}})</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="torneo-jugador">
                                    <div class="torneo-jugador-inner">
                                        <a href="javascript:void(0)" class="eliminar-jugador has-tooltip" title="Eliminar jugador"><i class="icon-trash"></i></a>
                                        <div class="user-pic" style="background-image: url('img/avatars/avatar-user1.png')"></div>
                                        <h5> {{perfilSeleccionadoTres.txt_apellido}}, {{perfilSeleccionadoTres.txt_nombre}}</h5>
                                        <p>Handicap: {{perfilSeleccionadoTres.cod_handicap.txt_desc}}</p>
                                        <p>DNI: {{perfilSeleccionadoTres.nro_doc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>Finalizar inscripción</h3>
                    <div class="row clearfix">
                        <div class="col-md-6 p-t-10">
                            <input type="checkbox" name="torneo-terminos" id="torneo-terminos">
                            <label>He leído y acepto las <a href="javascript:void();" data-modal="condicionesTorneo">condiciones de participación del torneo</a>.</label>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-full btn-lightblue text-left" data-modal="finInscripcion">Enviar preinscripción <i class="icon-arrow-thin-right pull-right"></i></button>
                        </div>
                    </div>
                </form>
                <p class="inscripcion-disclaimer">La inscripción se concretará cuando el pago de la tarifa de participación sea recibido.</p>
            </div>
            <div class="tab-content" id="inscripciones">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <div class="torneo-inscripto">
                            <h3>Nombre del torneo</h3>
                            <dl>
                                <dt>Fecha</dt>
                                <dd>27/06/2018</dd>
                                <dt>Ubicación</dt>
                                <dd>Hipódromo de San Isidro</dd>
                                <dt>Equipo</dt>
                                <dd>
                                    Nombre Apellido (capitán) <br>
                                    Nombre Apellido <br>
                                    Nombre Apellido <br>
                                    Nombre Apellido
                                </dd>
                            </dl>
                            <p class="estado-pago estado-confirmado"><strong>Estado del pago:</strong> <br>Confirmado</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="torneo-inscripto">
                            <h3>Nombre del torneo</h3>
                            <dl>
                                <dt>Fecha</dt>
                                <dd>27/06/2018</dd>
                                <dt>Ubicación</dt>
                                <dd>Hipódromo de San Isidro</dd>
                                <dt>Equipo</dt>
                                <dd>
                                    Nombre Apellido (capitán) <br>
                                    Nombre Apellido <br>
                                    Nombre Apellido <br>
                                    Nombre Apellido
                                </dd>
                            </dl>
                            <p class="estado-pago estado-esperando"><strong>Estado del pago:</strong> <br>Esperando confirmación de AAP</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="torneo-inscripto">
                            <h3>Nombre del torneo</h3>
                            <dl>
                                <dt>Fecha</dt>
                                <dd>27/06/2018</dd>
                                <dt>Ubicación</dt>
                                <dd>Hipódromo de San Isidro</dd>
                                <dt>Equipo</dt>
                                <dd>
                                    Nombre Apellido (capitán) <br>
                                    Nombre Apellido <br>
                                    Nombre Apellido <br>
                                    Nombre Apellido
                                </dd>
                            </dl>
                            <p class="estado-pago estado-pendiente"><strong>Estado del pago:</strong> <br><a href="javascript:void();">¡Debes subir el comprobante!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>