﻿<div class="panel panel-profile">
    <div class="panel-header">
        <hgroup class="user-profile-title">
            <h1>Socios</h1>
        </hgroup>

        <ul class="featured-values">
            <li>
                <h4>{{socios.length}}</h4>
                <span>Socios totales</span>
            </li>
            <li>
                <h4>{{nuevosSocios.length}}</h4>
                <span>Nuevos socios</span>
            </li>
        </ul>
    </div>

    <div class="panel-body">
        <table class="table-default">
            <thead>
                <tr>
                    <th>Nombre de socio</th>
                    <th>Fecha de alta</th>
                    <th>Pago de handicap</th>
                    <th>Aceptar / Rechazar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="socio in socios">
                    <td data-label="Nombre de socio">{{socio.txt_nombre}} {{socio.txt_apellido}}</td>
                    <td data-label="Fecha de alta">{{socio.fec_alta | date:'dd/MM/yyyy'}}</td>
                    <td data-label="Pago de handicap" ng-show="socio.isAlDia">
                        <i class="icon-checkmark color-green"></i> Al día
                    </td>
                    <td data-label="Pago de handicap" ng-show="!socio.isAlDia">
                        <i class="icon-cross color-red"></i> Pendiente
                    </td>
                    <td ng-show="socio.bool_rechazado == null">
                        <a href="javascript:void(0)" ng-click="aceptarORechazar(socio.idUserClub, false)" class="btn btn-lightblue btn-small">
                            Aceptar
                        </a>
                        <a href="javascript:void(0)" ng-click="aceptarORechazar(socio.idUserClub, true)" class="btn btn-lightblue btn-small">
                            Rechazar
                        </a>
                    </td>
                    <td ng-show="socio.bool_rechazado != null">
                        <span ng-show="!socio.bool_rechazado"> <i class="icon-checkmark color-green"></i> Aceptado</span>
                        <span ng-show="socio.bool_rechazado"> <i class="icon-cross color-red"></i> Rechazado</span>

                    </td>
                    <td class="text-right"><a href="/PerfilJugador/#/{{socio.cod_usuario}}" class="btn btn-lightblue btn-small">Ver perfil</a></td>
                </tr>
            </tbody>
        </table>

        <ul class="pagination" ng-repeat="page in pages">
            <li class="current"><a href="javascript:void(0)" ng-click="paginate($index)">{{$index + 1}}</a></li>
        </ul>
    </div>
</div>
