﻿<div class="panel panel-profile">
    <div class="panel-header">
        <hgroup class="user-profile-title">
            <h1>Pagos del club</h1>
        </hgroup>

        <div class="pull-right">
            <a onclick="clickModal('pagarCuota')" class="btn btn-lightblue btn-outline btn-small  m-r-20"
               data-modal="pagarCuota">Pagar cuota</a>
            <a href="javascript:void(0)" onclick="clickModal('pagarHandicap')" class="btn btn-lightblue btn-outline btn-small"
               data-modal="pagarHandicap">Pagar handicap</a>
        </div>
    </div>

    <div class="panel-body">

        <ul class="tabs-default">
            <li class="current"><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="historial">Historial de pagos</a></li>
            <li><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="pendientes">Pagos pendientes 
                <span class="noti-count" ng-show="!isAlDia">1</span></a>
            </li>
        </ul>

        <div class="tab-contents">
            <div class="tab-content" id="historial" style="display: block;">
                <table class="table-default">
                    <thead>
                        <tr>
                            <th>Tipo de pago</th>
                            <th>Detalle</th>
                            <th>Importe</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pago in perfil.thistorial_pagos | filter: {'nro_resultado_pago' : 1}">
                            <td data-label="Tipo de pago">{{pago.ttipo_pago.txt_desc}}</td>
                            <td data-label="Detalle">{{pago.txt_desc}}</td>
                            <td data-label="Importe">${{pago.nro_importe}}<sup>00</sup></td>
                            <td data-label="Fecha">{{pago.fec_alta | date:'dd/MM/yyyy'}}</td>
                            <td class="text-right"><a href="#" class="btn btn-lightblue btn-small">Descargar comprobante</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-content" id="pendientes">
                <div ng-show="!isAlDia">
                    <h3>Pago de cuota de asociación</h3>
                    <p>Tu cuota de asociación del club a la AAP está próxima a vencer.</p>
                    <p>Te recomendamos abonarla <strong>antes del día {{fec_vencimiento | date:'dd/MM/yyyy'}}</strong> para poder seguir disfrutando los beneficios de la asociación.</p>
                    <a onclick="clickModal('pagarCuota')" data-modal="pagarHandicap" class="btn btn-lightblue btn-large"
                       href="javascript:void(0)">Pagar ahora</a>
                </div>
                <div class="cuota-al-dia" ng-show="isAlDia">
                    <h3>Pago de cuota de asociación</h3>
                    <p>Tu cuota de asociación del club a la AAP está al día. Puedes pagar handicap y pases de otros jugadores desde esta sección</p>
                </div>
            </div>
        </div>
    </div>
</div>