﻿<div class="panel panel-profile">
    <div class="panel-header">
        <hgroup class="user-profile-title">
            <h1>Beneficios</h1>
        </hgroup>
    </div>

    <div class="panel-body">
        <ul class="beneficios row clearfix">
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="beneficio">
                    <img src="http://placehold.it/300x150&text=Imagen" alt="">
                    <h3>Nombre del beneficio</h3>
                    <p>Descripción del beneficio, descripción del beneficio, descripción del beneficio</p>
                    <a href="javascript:void(0);" class="btn btn-small btn-full btn-lightblue">Más información</a>
                </div>
            </li>

            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="beneficio">
                    <img src="http://placehold.it/300x150&text=Imagen" alt="">
                    <h3>Nombre del beneficio</h3>
                    <p>Descripción del beneficio, descripción del beneficio, descripción del beneficio</p>
                    <a href="javascript:void(0);" class="btn btn-small btn-full btn-lightblue">Más información</a>
                </div>
            </li>

            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="beneficio">
                    <img src="http://placehold.it/300x150&text=Imagen" alt="">
                    <h3>Nombre del beneficio</h3>
                    <p>Descripción del beneficio, descripción del beneficio, descripción del beneficio</p>
                    <a href="javascript:void(0);" class="btn btn-small btn-full btn-lightblue">Más información</a>
                </div>
            </li>

            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="beneficio">
                    <img src="http://placehold.it/300x150&text=Imagen" alt="">
                    <h3>Nombre del beneficio</h3>
                    <p>Descripción del beneficio, descripción del beneficio, descripción del beneficio</p>
                    <a href="javascript:void(0);" class="btn btn-small btn-full btn-lightblue">Más información</a>
                </div>
            </li>

            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="beneficio">
                    <img src="http://placehold.it/300x150&text=Imagen" alt="">
                    <h3>Nombre del beneficio</h3>
                    <p>Descripción del beneficio, descripción del beneficio, descripción del beneficio</p>
                    <a href="javascript:void(0);" class="btn btn-small btn-full btn-lightblue">Más información</a>
                </div>
            </li>

            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="beneficio">
                    <img src="http://placehold.it/300x150&text=Imagen" alt="">
                    <h3>Nombre del beneficio</h3>
                    <p>Descripción del beneficio, descripción del beneficio, descripción del beneficio</p>
                    <a href="javascript:void(0);" class="btn btn-small btn-full btn-lightblue">Más información</a>
                </div>
            </li>

            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="beneficio">
                    <img src="http://placehold.it/300x150&text=Imagen" alt="">
                    <h3>Nombre del beneficio</h3>
                    <p>Descripción del beneficio, descripción del beneficio, descripción del beneficio</p>
                    <a href="javascript:void(0);" class="btn btn-small btn-full btn-lightblue">Más información</a>
                </div>
            </li>

            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="beneficio">
                    <img src="http://placehold.it/300x150&text=Imagen" alt="">
                    <h3>Nombre del beneficio</h3>
                    <p>Descripción del beneficio, descripción del beneficio, descripción del beneficio</p>
                    <a href="javascript:void(0);" class="btn btn-small btn-full btn-lightblue">Más información</a>
                </div>
            </li>
        </ul>
    </div>
</div>