﻿<div class="panel panel-profile">
    <div class="panel-body panel-inbox clearfix">
        <div class="col-md-3 inbox-list">
            <ul class="tabs-inbox">
                <li class="current"><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="recibidos">Recibidos</a></li>
                <li><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="enviados">Enviados</a></li>
            </ul>
            <div class="tab-contents">
                <div class="tab-content" id="recibidos" style="display: block;">
                    <ul class="inbox-mails">
                        <li class="unread">
                            <a href="#">
                                <div class="inbox-list-header clearfix">
                                    <i class="icon-paperclip has-tooltip" title="Tiene adjuntos"></i>
                                    <i class="icon-star has-tooltip" title="Mensaje destacado"></i>
                                    <span class="inbox-date">Hace 2 días</span>
                                </div>
                                <h3>Título del mensaje</h3>
                                <p>Lorem ipsum dolor et sit amet, consecteur adipiscing elit...</p>
                            </a>
                        </li>
                        <li class="current">
                            <a href="#">
                                <div class="inbox-list-header clearfix">
                                    <i class="icon-paperclip has-tooltip" title="Tiene adjuntos"></i>
                                    <span class="inbox-date">Hace 2 días</span>
                                </div>
                                <h3>Título del mensaje</h3>
                                <p>Lorem ipsum dolor et sit amet, consecteur adipiscing elit...</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="inbox-list-header clearfix">
                                    <span class="inbox-date">Hace 2 días</span>
                                </div>
                                <h3>Título del mensaje</h3>
                                <p>Lorem ipsum dolor et sit amet, consecteur adipiscing elit...</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="inbox-list-header clearfix">
                                    <i class="icon-paperclip has-tooltip" title="Tiene adjuntos"></i>
                                    <i class="icon-star has-tooltip" title="Mensaje destacado"></i>
                                    <span class="inbox-date">Hace 2 días</span>
                                </div>
                                <h3>Título del mensaje</h3>
                                <p>Lorem ipsum dolor et sit amet, consecteur adipiscing elit...</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="inbox-list-header clearfix">
                                    <i class="icon-paperclip has-tooltip" title="Tiene adjuntos"></i>
                                    <i class="icon-star has-tooltip" title="Mensaje destacado"></i>
                                    <span class="inbox-date">Hace 2 días</span>
                                </div>
                                <h3>Título del mensaje</h3>
                                <p>Lorem ipsum dolor et sit amet, consecteur adipiscing elit...</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="enviados">
                    <ul class="inbox-mails">
                        <li class="unread">
                            <a href="#">
                                <div class="inbox-list-header clearfix">
                                    <i class="icon-paperclip has-tooltip" title="Tiene adjuntos"></i>
                                    <i class="icon-star has-tooltip" title="Mensaje destacado"></i>
                                    <span class="inbox-date">Hace 2 días</span>
                                </div>
                                <h3>Título del mensaje</h3>
                                <p>Lorem ipsum dolor et sit amet, consecteur adipiscing elit...</p>
                            </a>
                        </li>
                        <li class="current">
                            <a href="#">
                                <div class="inbox-list-header clearfix">
                                    <i class="icon-paperclip has-tooltip" title="Tiene adjuntos"></i>
                                    <span class="inbox-date">Hace 2 días</span>
                                </div>
                                <h3>Título del mensaje</h3>
                                <p>Lorem ipsum dolor et sit amet, consecteur adipiscing elit...</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="inbox-list-header clearfix">
                                    <span class="inbox-date">Hace 2 días</span>
                                </div>
                                <h3>Título del mensaje</h3>
                                <p>Lorem ipsum dolor et sit amet, consecteur adipiscing elit...</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="inbox-list-header clearfix">
                                    <i class="icon-paperclip has-tooltip" title="Tiene adjuntos"></i>
                                    <i class="icon-star has-tooltip" title="Mensaje destacado"></i>
                                    <span class="inbox-date">Hace 2 días</span>
                                </div>
                                <h3>Título del mensaje</h3>
                                <p>Lorem ipsum dolor et sit amet, consecteur adipiscing elit...</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="inbox-list-header clearfix">
                                    <i class="icon-paperclip has-tooltip" title="Tiene adjuntos"></i>
                                    <i class="icon-star has-tooltip" title="Mensaje destacado"></i>
                                    <span class="inbox-date">Hace 2 días</span>
                                </div>
                                <h3>Título del mensaje</h3>
                                <p>Lorem ipsum dolor et sit amet, consecteur adipiscing elit...</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 inbox-content">
            <div class="inbox-content-header clearfix">
                <div class="inbox-profile-pic">
                    <div class="user-pic" style="background-image: url('img/avatars/avatar-user1.png')"></div>
                </div>
                <hgroup class="inbox-sender">
                    <h2>Asociación Argentina de Polo</h2>
                    <h4>25 de junio de 2018</h4>
                </hgroup>
                <ul class="inbox-actions">
                    <li><a href="#" class="has-tooltip" title="Responder"><i class="icon-reply"></i></a></li>
                    <li><a href="#" class="has-tooltip" title="Eliminar"><i class="icon-trash"></i></a></li>
                </ul>
            </div>
            <div class="inbox-content-body">
                <h1>Título del mensaje</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            </div>
            <div class="inbox-content-footer">
                <ul class="inbox-attachments row">
                    <li class="col-md-4">
                        <a href="#">
                            <i class="icon-download"></i>
                            <span class="attachment-data">
                                <span class="attach-name">Nombre de adjunto</span>
                                <span class="attach-weight">726kb</span>
                            </span>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="#">
                            <i class="icon-download"></i>
                            <span class="attachment-data">
                                <span class="attach-name">Nombre de adjunto</span>
                                <span class="attach-weight">726kb</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>