﻿<div class="panel panel-profile" ng-init="renderCalendar()">
    <div class="panel-header">
        <hgroup class="user-profile-title">
            <h1>Calendario</h1>
        </hgroup>
    </div>

    <div class="panel-body">
        <div id="calendar"></div>
    </div>
</div>