﻿<div class="panel panel-profile">
    <div class="panel-header">
        <div class="user-profile-pic">
            <input name="archivo" type="file" ng-model="fileLoad" class="hide" id="fileLoad" style="display:none;"
                   ngf-max-total-size="10MB" ngf-select="upload($file)" required ng-accept="'.jpg, .png, .gif'" />
            <div class="user-pic" ng-if="perfil.txt_imagen == undefined || perfil.txt_imagen == null || perfil == 'No Tiene'"
                 style="background-image: url('/img/avatars/avatar-user1.png')"></div>
            <div class="user-pic" ng-if="perfil.txt_imagen != undefined && perfil.txt_imagen != null && perfil != 'No Tiene'"
                 style="background-image: url('{{perfil.txt_imagen}}')"></div>
            <a href="javascript:void()" ng-click="subirImagen()" class="edit-info has-tooltip" title="Cambiar imagen de perfil"><i class="icon-pencil"></i></a>
        </div>

        <hgroup class="user-profile-title">
            <h1>{{perfil.txt_desc}}</h1>
            <h3>
                <span ng-show="perfil.tdomicilio.cod_municipio != null">{{perfil.tdomicilio.tmunicipio.txt_desc}},</span>
                <span ng-show="perfil.tdomicilio.cod_provincia != null">{{perfil.tdomicilio.tprovincia.txt_desc}}.</span>
            </h3>
        </hgroup>

        <ul class="featured-values">
            <li>
                <h4>{{socios.length}}</h4>
                <span>Socios</span>
            </li>
            <li>
                <h4>{{perfil.anio_fundacion}}</h4>
                <span>Años</span>
            </li>
            @*<li>
                    <h4>{{torneosParticipados()}}</h4>
                    <span>Torneos</span>
                </li>*@
        </ul>
    </div>

    <div class="panel-body">
        <div class="row clearfix">
            <div class="col-md-6">
                <dl class="user-data">
                    <div class="user-data-item">
                        <dt>Nombre del club</dt>
                        <dd>{{perfil.txt_desc}}</dd>
                    </div>

                    <div class="user-data-item">
                        <dt>Fundación</dt>
                        <dd>{{perfil.fec_fundacion | date: 'dd/MM/yyyy'}}</dd>
                    </div>

                    <div class="user-data-item">
                        <dt>Provincia</dt>
                        <dd>{{perfil.tdomicilio.tprovincia.txt_desc}}</dd>
                    </div>

                    <div class="user-data-item">
                        <dt>Ciudad</dt>
                        <dd>{{perfil.tdomicilio.tmunicipio.txt_desc}}</dd>
                    </div>

                    <div class="user-data-item">
                        <dt>Dirección</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.tdomicilio.txt_domicilio}}</span>
                                <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="text" ng-model="perfil.tdomicilio.txt_domicilio">
                                <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept"
                                   ng-click="guardarJugador()" onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void()" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt>Número</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.tdomicilio.nro_domicilio}}</span>
                                <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="number" min="0" ng-model="perfil.tdomicilio.nro_domicilio">
                                <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept"
                                   ng-click="guardarJugador()" onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void()" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt>Piso</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.tdomicilio.nro_piso}}</span>
                                <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="number" min="0" ng-model="perfil.tdomicilio.nro_piso">
                                <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept"
                                   ng-click="guardarJugador()" onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void()" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt>Departamento</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.tdomicilio.txt_departamento}}</span>
                                <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="text" ng-model="perfil.tdomicilio.txt_departamento">
                                <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept"
                                   ng-click="guardarJugador()" onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void()" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                    <div class="user-data-item">
                        <dt>Código postal</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.tdomicilio.nro_cod_postal}}</span>
                                <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="number" min="0" ng-model="perfil.tdomicilio.nro_cod_postal">
                                <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept"
                                   ng-click="guardarJugador()" onclick="clickAcceptEdit(this)" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void()" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>

                    <div class="user-data-item">
                        <dt>Cantidad de canchas</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.tdomicilio.nro_canchas}}</span>
                                <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="number" ng-model="perfil.nro_canchas" min="0">
                                <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>

                    <div class="user-data-item">
                        <dt>Email</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.txt_mail}}</span>
                                <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="text" ng-model="perfil.txt_mail">
                                <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept"
                                   onclick="clickAcceptEdit(this)" title="Aceptar" ng-click="modificarClub()"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void()" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>

                    <div class="user-data-item">
                        <dt>Teléfono</dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{perfil.nro_telefono}}</span>
                                <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar" onclick="clickEditable(this)"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="text" ng-model="perfil.nro_telefono">
                                <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept"
                                   onclick="clickAcceptEdit(this)" title="Aceptar" ng-click="modificarClub()"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void()" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                </dl>
            </div>

            <div class="col-md-6">
                <ng-map zoom="14" center="{{perfil.tdomicilio.txt_domicilio}} {{perfil.tdomicilio.nro_domicilio}} {{perfil.tdomicilio.tmunicipio.txt_desc}}" style="height:90%">
                    <marker position="{{perfil.tdomicilio.txt_domicilio}} {{perfil.tdomicilio.nro_domicilio}} {{perfil.tdomicilio.tmunicipio.txt_desc}}"
                            title="Mi Club <3"
                            centered="true"></marker>
                </ng-map>
            </div>

            <div class="col-md-12" ng-if="perfil.tsede.length > 0">
                <h3 class="m-b-30">Sedes</h3>
                <dl class="user-data user-data-sedes">
                    <div class="user-data-item col-md-12" ng-repeat="sede in perfil.tsede">
                        <dt>
                            <div class="info-editable">
                                <span class="info-actual">{{sede.txt_desc}}</span>
                                <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="text" value="Nombre de la sede">
                                <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dt>
                        <dd>
                            <div class="info-editable">
                                <span class="info-actual">{{sede.tdomicilio.txt_domicilio}} {{sede.tdomicilio.nro_domicilio}}</span>
                                <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="info-editar">
                                <input type="text" value="{{sede.tdomicilio.txt_domicilio}} {{sede.tdomicilio.nro_domicilio}}">
                                <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" title="Aceptar"><i class="icon-checkmark"></i></a>
                                <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                            </div>
                        </dd>
                    </div>
                </dl>
            </div>
            @*<div class="col-md-12">
                    <h3 class="m-b-30">Canchas</h3>
                    <dl class="user-data user-data-sedes">
                        <div class="user-data-item col-md-12">
                            <dt>
                                <div class="info-editable">
                                    <span class="info-actual">Nombre de la cancha</span>
                                    <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                </div>
                                <div class="info-editar">
                                    <input type="text" value="Nombre de la cancha">
                                    <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" title="Aceptar"><i class="icon-checkmark"></i></a>
                                    <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                </div>
                            </dt>
                            <dd>
                                <div class="info-editable">
                                    <span class="info-actual">Dirección de la cancha</span>
                                    <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                </div>
                                <div class="info-editar">
                                    <input type="text" value="Dirección de la cancha">
                                    <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" title="Aceptar"><i class="icon-checkmark"></i></a>
                                    <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                </div>
                            </dd>
                        </div>
                    </dl>

                    <dl class="user-data user-data-sedes">
                        <div class="user-data-item col-md-12" ng-repeat="cancha in canchas">
                            <dt>
                                <div class="info-editable">
                                    <span class="info-actual">{{cancha.txt_desc}}</span>
                                    <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                </div>
                                <div class="info-editar">
                                    <input type="text" ng-model="cancha.txt_desc">
                                    <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" title="Aceptar"><i class="icon-checkmark"></i></a>
                                    <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                </div>
                            </dt>
                            <dd>
                                <div class="info-editable">
                                    <span class="info-actual">{{getDireccion(cancha)}}</span>
                                    <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                </div>
                                <div class="info-editar">
                                    <input type="text" ng-model="getDireccion(cancha)">
                                    <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" title="Aceptar"><i class="icon-checkmark"></i></a>
                                    <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                </div>
                            </dd>
                        </div>
                    </dl>
                </div>*@

            <div class="col-md-12" ng-show="perfil.txt_historia != '' && perfil.txt_historia != null">
                <h3 class="m-b-30">Historia</h3>

                <div class="columns-2">
                    <p>{{perfil.txt_historia}}</p>
                </div>
            </div>
        </div>
    </div>
</div>