﻿<div class="panel panel-profile">
    <div class="panel-header">
        <hgroup class="user-profile-title">
            <h1>Comunicaciones</h1>
        </hgroup>
    </div>

    <div class="panel-body">

        <ul class="tabs-default">
            <li class="current"><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="emitir">Emitir comunicación</a></li>
            <li><a href="javascript:void(0)" onclick="clickTab(this)" data-tab="historial">Historial de comunicados</a></li>
        </ul>

        <div class="tab-contents">
            <div class="tab-content" id="emitir" style="display: block;">
                <form action="#" class="form-default row clearfix m-t-40">
                    <div class="col-md-6">
                        <input type="text" name="comunicado-titulo" ng-model="notificacion.txt_titulo"
                               id="comunicado-titulo" placeholder="Título del comunicado">
                        <input type="text" name="comunicado-fecha" id="comunicado-fecha" ng-model="notificacion.fec_emision" placeholder="Fecha de emisión">
                        <input type="text" name="comunicado-horario" id="comunicado-horario" ng-model="notificacion.fec_emision" placeholder="Horario de emisión">
                    </div>

                    <div class="col-md-6">
                        <textarea name="comunicado-mensaje" id="comunicado-mensaje" style="height: 145px;"
                                  ng-model="notificacion.txt_desc">Mensaje...</textarea>
                    </div>

                    <div class="col-md-3 pull-right">
                        <button class="btn btn-lightblue btn-full">Aceptar</button>
                    </div>
                </form>
            </div>

            <div class="tab-content" id="historial">
                <table class="table-default">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Fecha de emisión</th>
                            <th>Leído por</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="notificacion in notificaciones">
                            <td>{{notificacion.txt_desc}}</td>
                            <td>{{notificacion.fec_recibido}}</td>
                            <td>{{countLeido()}}</td>
                            <td class="text-right"><a href="#" class="btn btn-lightblue btn-small">Leer comunicado</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="pagarHandicap">
    <div class="modal-overlay" data-dismiss="pagarHandicap"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe062;">Pagar handicap</h2>
            <i class="icon-cross" data-dismiss="pagarHandicap"></i>
        </div>

        <div class="modal-contenido clearfix">
            <form action="#" class="border-bottom-striped clearfix">
                <div class="col-md-12">
                    <label for="">Ingresá el DNI del jugador cuyo handicap deseás pagar.</label>
                </div>
                <div class="col-md-6">
                    <input type="text" ng-model="perfil.nro_doc" placeholder="DNI">
                </div>
                <div class="col-md-6">
                    <button type="submit" ng-click="pagarHandicap()"><i class="icon-plus"></i> Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>