﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div id="Miembro" ng-app="Miembro" style="height:100%;">
    @RenderPage(Url.Content("~/Views/Miembro/Bundle.cshtml"))
    <div ng-view style="height:100%;" autoscroll="true"></div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/Miembro/miembroModule.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/Miembro/miembroCtrl.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/Services/miembroService.js")"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        var id = localStorage.getItem("id");

        if (id != undefined && id != "undefined") {
            $(".hideIfLogin").remove();
        }
    });
</script>