﻿<section class="clearfix" ng-init="init()">
    <div class="container-fluid" ng-class="{'loading': isLoading}">
        <div class="col-md-12 m-t-60">
            <div class="panel panel-profile">
                <div class="panel-body">
                    <h1 class="title-admin pull-left">Registro</h1>
                    <!-- <a href="javascript:void(0);" class="btn btn-lightblue pull-right m-t-0" data-modal="confirmarSalir"><i class="icon-arrow-thin-left"></i> Volver</a> -->
                    <div class="clearfix"></div>

                    <form name="miembroForm" class="form-default">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <h3>Información personal</h3>
                            </div>

                            <div class="col-md-4">
                                <label for="nombre">Nombre</label>
                                <input type="text" ng-model="miembro.txt_nombre" name="nombre" id="nombre" ng-class="{'disabled':isLogged}" required ng-disabled="isLogged">
                                <div ng-messages="miembroForm.nombre.$error" ng-show="submitted || miembroForm.nombre.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="required">Debe completar un valor</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="apellido">Apellido</label>
                                <input type="text" name="apellido" id="apellido" ng-model="miembro.txt_apellido" ng-class="{'disabled':isLogged}" required ng-disabled="isLogged">
                                <div ng-messages="miembroForm.apellido.$error" ng-show="submitted || miembroForm.apellido.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="required">Debe completar un valor</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="genero">Género</label>
                                <select name="genero" id="genero" ng-model="miembro.cod_genero" class="select2-basic" ng-options="genero.cod_genero as genero.txt_desc for genero in generos" required>
                                    <option value="" selected disabled>Seleccione un género</option>
                                </select>
                                <div ng-messages="miembroForm.genero.$error" ng-if="submitted && miembroForm.genero.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="required">Debe seleccionar un valor</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="nacimiento">Fecha de nacimiento</label>
                                <input type="text" ng-model="miembro.fec_nacimiento" name="nacimiento" id="nacimiento" class="datepicker" required>
                                <div ng-messages="miembroForm.nacimiento.$error" ng-if="submitted || miembroForm.nacimiento.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="required">Debe competar un valor</div>
                                    <div ng-if="!isMayor">Debe ser mayor de edad para registrarse</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="tipodocumento">Tipo de documento</label>
                                <select class="select2-basic" ng-model="miembro.cod_tipo_doc" name="tipodocumento" id="tipo-documento" required
                                        ng-options="tipoDocumento.cod_tipo_doc as tipoDocumento.txt_desc for tipoDocumento in tiposDocumento">
                                    <option value="" selected disabled>Seleccione un tipo de documento</option>
                                </select>
                                <div ng-messages="miembroForm.tipodocumento.$error" ng-if="submitted && miembroForm.tipodocumento.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="required">Debe seleccionar un valor</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="documento">Documento</label>
                                <input type="text" ng-model="miembro.nro_doc" name="documento" id="documento" ng-class="{'disabled':isLogged}" required ng-disabled="isLogged">
                                <div ng-messages="miembroForm.documento.$error" ng-if="submitted && miembroForm.documento.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="required">Debe completar un valor</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                                <div ng-if="submitted && isDuplicated"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div>{{ExceptionMessage}}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="nacionalidad">País de origen</label>
                                <select class="select2-basic" ng-model="miembro.cod_nacionalidad" name="nacionalidad" id="nacionalidad"
                                        ng-options="pais.cod_pais as pais.txt_desc for pais in paises | unique: 'txt_desc'" required>
                                    <option value="" selected disabled>Seleccione una nacionalidad</option>
                                </select>
                                <div ng-messages="miembroForm.nacionalidad.$error" ng-if="submitted && miembroForm.nacionalidad.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="required">Debe seleccionar un valor</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-4 " ng-show="id != undefined">
                                <label for="club">Club</label>
                                <select class="select2-basic" ng-model="miembro.cod_club" name="club" id="club"
                                        ng-options="club.cod_club as club.txt_desc for club in clubes">
                                    <option value="" selected disabled>Seleccione un club</option>
                                </select>
                                <div ng-messages="miembroForm.club.$error" ng-if="submitted && miembroForm.club.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="required">Debe seleccionar un valor</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="tarjeta">Número de tarjeta</label>
                                <input type="text" ng-model="miembro.txt_tarjeta" name="tarjeta" id="tarjeta" required ng-disabled="precargado">
                                <div ng-messages="miembroForm.tarjeta.$error" ng-if="submitted || miembroForm.tarjeta.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="required">Debe completar un valor</div>
                                    <div ng-if="repeatCard">La tarjeta ya existe</div>
                                    <div ng-if="tarjetaLength">La tarjeta debe tener 15 caracteres</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <h3>Datos de contacto</h3>
                            </div>

                            <div class="col-md-4">
                                <label for="email">Email</label>
                                <input type="text" ng-model="miembro.txt_mail" name="email" id="email" ng-pattern="regexEmail" required>
                                <div ng-messages="miembroForm.email.$error" ng-if="submitted || miembroForm.email.$dirty" class="messageValidation"
                                     style="color:maroon" role="alert">
                                    <div ng-message="required">Debe completar un valor</div>
                                    <div ng-message="pattern">No es un email válido</div>
                                    <div ng-if="mainNotCoincidence">Los email deben coincidir</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="email2">Confirmar email <i class="icon-question has-tooltip" title="Debe coincidir con el campo anterior"></i></label>
                                <input type="text" ng-model="miembro.repeatMail" name="email2" id="email2" required>
                                <div ng-messages="jugadorForm.email2.$error" ng-if="submitted || (miembro.txt_mail != miembro.repeatMail)" class="messageValidation"
                                     style="color:maroon" role="alert">
                                    <div ng-message="required">Debe completar un valor</div>
                                    <div ng-message="pattern">No es un email válido</div>
                                    <div ng-if="mainNotCoincidence">Los email deben coincidir</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="celular">Celular</label>
                                <input type="number" ng-model="miembro.txt_celular" name="celular" id="celular" ng-pattern="regexInt" min="0" required>
                                <div ng-messages="miembroForm.celular.$error" ng-if="submitted || miembroForm.celular.$dirty" class="messageValidation"
                                     style="color:maroon" role="alert">
                                    <div ng-message="required">Debe completar un valor</div>
                                    <div ng-message="pattern">Solo se aceptan números enteros</div>
                                    <div ng-message="minlength">Debe tener más de 8 dígitos</div>
                                    <div ng-message-default>Verifique que no contenga valores que no sean enteros</div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <h3>Domicilio</h3>
                            </div>

                            <div class="col-md-6">
                                <label for="calle">Calle</label>
                                <input type="text" name="calle" id="calle" ng-model="miembro.tdomicilio.txt_domicilio" required>
                                <div ng-messages="miembroForm.calle.$error" ng-if="submitted || miembroForm.calle.$dirty" class="messageValidation"
                                     style="color:maroon" role="alert">
                                    <div ng-message="required">Debe completar un valor</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label for="numerocalle">Número</label>
                                <input type="number" name="numerocalle" id="numerocalle" ng-model="miembro.tdomicilio.nro_domicilio" min="0" ng-pattern="regexInt" required>
                                <div ng-messages="miembroForm.numerocalle.$error" ng-if="submitted || miembroForm.numerocalle.$dirty" class="messageValidation"
                                     style="color:maroon" role="alert">
                                    <div ng-message="required">Debe completar un valor</div>
                                    <div ng-message="minlength">No puede tener un valor negativo</div>
                                    <div ng-message="pattern">Solo se aceptan números enteros</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label for="piso">Piso</label>
                                <input type="number" name="piso" id="piso" ng-model="miembro.tdomicilio.nro_piso" min="0" ng-pattern="regexInt">
                                <div ng-messages="miembroForm.piso.$error" ng-if="submitted || miembroForm.piso.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="minlength">No puede tener un valor negativo</div>
                                    <div ng-message="pattern">Solo se aceptan números enteros</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label for="departamento">Departamento</label>
                                <input type="text" name="departamento" id="departamento" ng-model="miembro.tdomicilio.txt_departamento">
                            </div>

                            <div class="col-md-2">
                                <label for="codigoPostal">Código postal</label>
                                <input type="text" name="codigoPostal" id="codigoPostal" ng-model="miembro.tdomicilio.nro_cod_postal">
                                <div ng-messages="miembroForm.codigoPostal.$error" ng-if="submitted && miembroForm.piso.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="pais">País</label>
                                <select class="select2-basic" ng-model="miembro.tdomicilio.cod_pais" name="pais" id="pais"
                                        ng-options="pais.cod_pais as pais.txt_desc for pais in paises | unique: 'txt_desc'" required>
                                    <option value="" selected disabled>Seleccione un país</option>
                                </select>
                                <div ng-messages="miembroForm.pais.$error" ng-if="submitted && miembroForm.pais.$dirty" class="messageValidation"
                                     style="color:maroon" role="alert">
                                    <div ng-message="required">Debe completar un valor</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-4" ng-show="miembro.tdomicilio.cod_pais == 33">
                                <label for="estadoprovincia">Estado/Provincia</label>
                                <select class="select2-basic" ng-model="miembro.tdomicilio.cod_provincia" name="estadoprovincia" id="estadoprovincia"
                                        ng-change="filterMunicipios()" ng-required="miembro.tdomicilio.cod_pais == 33"
                                        ng-options="provincia.cod_provincia as provincia.txt_desc for provincia in provincias | unique: 'txt_desc'">
                                    <option value="" selected disabled>Seleccione una provincia</option>
                                </select>
                                <div ng-messages="miembroForm.estadoprovincia.$error" ng-if="submitted && miembroForm.estadoprovincia.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="required">Debe seleccionar un valor</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-4" ng-show="miembro.tdomicilio.cod_pais == 33">
                                <label for="ciudad">Ciudad</label>
                                <select class="select2-basic" name="ciudad" id="ciudad" ng-model="miembro.tdomicilio.cod_municipio"
                                        ng-required="miembro.tdomicilio.cod_pais == 33"
                                        ng-options="municipio.cod_municipio as municipio.txt_desc for municipio in municipios | unique: 'txt_desc'">
                                    <option value="" selected disabled>Seleccione una ciudad</option>
                                </select>
                                <div ng-messages="miembroForm.ciudad.$error" ng-if="submitted && miembroForm.ciudad.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="required">Debe seleccionar un valor</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>

                            <div class="col-md-12 m-t-10">
                                <input type="checkbox" name="admin" ng-model="aceptaTerminos" id="admin" required>
                                <label for="admin">
                                    <a href="javascript:void(0);" onclick="clickModal('terminos-condiciones')" data-modal="terminos-condiciones">Términos y Condiciones</a>
                                </label>
                                <div ng-messages="miembroForm.admin.$error" ng-if="errorTerms"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message-default>Debe aceptar los términos y condiciones para subscribirse a Polo Community</div>
                                </div>
                                <div ng-messages="miembroForm.admin.$error" ng-if="submitted && miembroForm.admin.$dirty" class="messageValidation"
                                     style="color:maroon" role="alert">
                                    <div ng-message="required">Debe aceptar los términos y condiciones para subscribirse a Polo Community</div>
                                    <div ng-message-default>Debe aceptar los términos y condiciones para subscribirse a Polo Community</div>
                                </div>
                            </div>

                            <div class="col-md-4 col-md-offset-8">
                                <button class="btn btn-xl btn-full btn-lightblue text-left m-t-20"
                                        ng-click="saveMember(miembroForm)" data-modal="exito">
                                    Enviar <i class="icon-arrow-thin-right pull-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @*Section Modal*@

        <div class="modal" id="terminos-condiciones">
            <div class="modal-overlay" data-dismiss="terminos-condiciones"></div>
            <div class="modal-dialogo-holder">
                <div class="modal-dialogo">
                    <div class="modal-header">
                        <h2 data-icon="(">Términos y condiciones de usuario</h2>
                        <i class="icon-cross" data-dismiss="terminos-condiciones"></i>
                    </div>

                    <div class="modal-contenido clearfix">
                        <div class="col-md-12 clearfix">
                            <p>1)“Polo Community” (“PC”) es un programa exclusivo que tiene como objetivo unir y conectar a la comunidad del polo.</p>
                            <p>2)El programa PC brinda a sus miembros beneficios exclusivos y experiencias durante todo el año.</p>
                            <p>3)Los miembros de PC recibirán descuentos, acceso a programas especiales, obsequios e invitaciones a eventos exclusivos.</p>
                            <p>4)Los miembros de PC recibirán, sin costo, una tarjeta (“Tarjeta”) que los identifica como miembros de PC ante terceros.</p>
                            <p>5)La Asociación Argentina de Polo (“AAP”) es la entidad emisora de la Tarjeta.</p>
                            <p>6)La Tarjeta puede retirarse –sin costo  en el Campo Argentino de Polo (“CAP”) durante el desarrollo del 125º Campeonato Argentino Abierto de Polo (“CAAP 2018”) desde el horario de apertura de cajas y hasta el horario de cierre de las cajas.</p>
                            <p>7)PC tiene dos (2) categorías:</p>
                            <p>•“Polo Players”: Destinada exclusivamente a jugadores de polo, con hándicap pago en 2017 y/o 2018.</p>
                            <p>•“Polo Members”: Destinada a espectadores y público en general.</p>
                            <p>8)Para ser titular de la condición de Polo Member es necesario tener una edad mínima de 18 años.</p>
                            <p>9)Podrán tener la condición de Polo Players todos los jugadores con hándicap registrado y pago en 2017/2018 aun si fueren menores. Sin perjuicio de ello AAP no será responsable por el uso de la Tarjeta o de su condición de “Polo Players” que éstos pudieren realizar, la que permanecerá exclusivamente a cargo del menor y de sus representantes legales.</p>
                            <p>10)Durante el desarrollo del CAAP 2018 y otros eventos que organice la Asociación Argentina (“Eventos AAP”) la Tarjeta podrá ser cargada –y recargada  con dinero a fin de funcionar como “monedero” o sistema “Cashless” (es decir, sistema que no usa dinero en efectivo) según los términos y condiciones que podrás consultar en aapolo.com.</p>
                            <p>11)En el sitio https://www.aapolo.com/Polo-Community AAP incluirá los beneficios que brinde la Tarjeta a medida que la PC se desarrolle.</p>
                            <p>12)El hecho de recibir la Tarjeta durante el CAAP 2018 o en un momento posterior para ser usada como medio de pago “Cashless” durante el CAAP 2018 o durante otro Evento AAP no implica por sí solo que quien recibe la Tarjeta adquiera la condición de Polo Member o Polo Player, según el caso. La persona que pretenda ser Polo Member o Polo Player, según el caso, debe completar la respectiva solicitud de admisión en el sitio https://www.aapolo.com/Polo-Community</p>
                            <p>13)Dentro del plazo de cuarenta y cinco (45) días hábiles contados desde la fecha en que AAP hubiere recibido la solicitud de admisión, la AAP, a su exclusivo criterio y sin necesidad de expresar motivo alguno, definirá si acepta o rechaza la solicitud.</p>
                            <p>14)El eventual rechazo de la solicitud de Suscripción por parte de la AAP no dará derecho a reclamo alguno al solicitante.</p>
                            <p>15)La Tarjeta tiene un “chip” para que los miembros de la PC puedan operar en las terminales de puntos de venta ("POS") durante el CAAP 2018 y los restantes Eventos AAP.</p>
                            <p>16)Las Tarjetas de los Polo Players son personales e intransferibles y sólo podrán ser utilizadas por la persona a cuyo nombre estén emitidas. Las Tarjetas de los Polo Members son innominadas.</p>
                            <p>17)Las Tarjetas no tienen fecha de vencimiento.</p>
                            <p>18)Las Tarjetas no son tarjetas de crédito, ni de compra, ni de débito, no sirven como medio de pago en general y son de exclusiva propiedad de AAP. Sin perjuicio de ello, las Tarjetas sí podrán usarse forma de pagar bienes y servicios durante el CAAP 2018 y los restantes Eventos AAP previa carga o recarga, según el caso, tal como se detalla en los términos y condiciones que podrás encontrar en el sitio https://www.aapolo.com/</p>
                            <p>19)AAP se reserva el derecho de cancelar las Tarjetas y solicitar la devolución cuando, a su sólo criterio, se hubiere hecho un uso indebido o inconveniente de las Tarjetas o por cualquier otro motivo que perjudique el normal desarrollo de la PC.</p>
                            <p>20)Especialmente, sin que este detalle sea taxativo, AAP podrá cancelar la Tarjeta en los siguientes supuestos, sin aviso previo y sin que ello genere derecho a reclamo o indemnización alguna a favor del titular de la Tarjeta si dicho titular: (a) No cumpliera con cualquiera de los Términos y Condiciones; (b) Abusare de cualquier derecho concedido a su favor como miembro de la PC; (c) Proveyera cualquier información falsa a AAP o a cualquier Establecimiento Adherido; (d) Pretendiere vender a terceros los Beneficios obtenidos u obtuviere Beneficios de manera indebida, en infracción a los Términos y Condiciones.</p>
                            <p>21)Se considerarán Tarjetas ilegalmente obtenidas a las que lo sean por cualquier medio o procedimiento no autorizado por AAP. Estas Tarjetas quedarán fuera de la PC automáticamente. AAP se reserva el derecho de iniciar las acciones legales que correspondan contra cualquier persona que intente un uso fraudulento o indebido de una Tarjeta.</p>
                            <p>22)El titular de una Tarjeta podrá acceder a beneficios (“Beneficios”) en la compra de productos o contratación de servicios en los establecimientos adheridos a la PC ("Establecimientos Adheridos") los que serán anunciados en cada oportunidad en el sitio https://www.aapolo.com/Polo-Community</p>
                            <p>23)AAP distinguirá en las respectivas comunicaciones los beneficios que corresponderán a los titulares de cada comunidad dentro de la PC (Polo Member o Polo Player).</p>
                            <p>24)Todos los Beneficios estarán sujetos a disponibilidad y vencimiento.</p>
                            <p>25)Los Beneficios serán otorgados al titular de la Tarjeta exclusivamente por los propietarios de los Establecimientos Adheridos, al momento de la adquisición de un bien o contratación del servicio en dicho establecimiento. Los beneficios podrán consistir en regalos, descuentos variables en la adquisición de bienes o contratación de servicios, vendidos o provistos por los Establecimientos Adheridos, los cuales serán informados oportunamente en el sitio https://www.aapolo.com/Polo-Community y por cualquier otro medio que AAP considere adecuado. En algunos casos se establecerá el límite disponible para utilizar el Beneficio por parte de los titulares de la Tarjeta y se comunicará a éstos las cantidades disponibles en cada ocasión. AAP no es responsable por el efectivo uso, la mala utilización o la imposibilidad de utilización de los Beneficios por parte del titular de la Tarjeta.</p>
                            <p>26)En ningún caso y bajo ninguna circunstancia estará permitido canjear Beneficios por dinero en efectivo.</p>
                            <p>27)El titular de la Tarjeta deberá informar al Establecimiento Adherido que es miembro de la PC y titular de la respectiva Tarjeta en el momento de efectuar una compra y/o contratar un servicio en los Establecimientos Adheridos. Es responsabilidad del titular de la Tarjeta acreditar su identidad al Establecimiento Adherido mediante la exhibición del documento nacional de identidad. El Establecimiento Adherido validará la validez de la Tarjeta mediante el control de su inclusión en los listados que AAP proveerá a los Establecimientos Adheridos periódicamente.</p>
                            <p>28)El Titular de la Tarjeta sólo podrá obtener el Beneficio otorgado por cada Establecimiento Adherido si presenta la Tarjeta antes de la emisión de la factura correspondiente por parte del Establecimiento Adherido por el bien adquirido o servicio contratado.</p>
                            <p>29)El acceso al Beneficio es aplicable cualquiera fuera la forma de pago admitida por el Establecimiento Adherido.</p>
                            <p>30)En caso de que el POS del Establecimiento Adherido se encuentre fuera de servicio por cualquier motivo, dicho Establecimiento Adherido deberá confeccionar un comprobante de forma manual otorgando el Beneficio correspondiente al titular de la Tarjeta.</p>
                            <p>31)Los Beneficios no podrán ser cedidos en forma alguna por su Titular.</p>
                            <p>32)En forma directa o a través de terceros AAP, con la frecuencia que establezca a su exclusivo criterio, podrá realizar promociones y sorteos de bienes y/o servicios destinados a la PC, según las bases y condiciones que AAP determine en cada oportunidad.</p>
                            <p>33)En las promociones y sorteos relacionados con la PC no podrán participar empleados de AAP ni de las empresas operadoras técnicas de la Tarjeta ni parientes por consanguinidad o afinidad de los referidos empleados hasta el segundo grado.</p>
                            <p>34)AAP podrá realizar promociones que estén destinadas exclusivamente a la categoría “Polo Member” o a la categoría “Polo Player” o a ambas, sin que ello de derecho al titular de la Tarjeta de una categoría a realizar reclamo alguno a AAP o al Establecimiento Adherido.</p>
                            <p>35)AAP podrá cancelar la PC en cualquier momento, sin necesidad de expresar causa alguna y sin que ello de derecho al miembro de la PC y titular de la Tarjeta a efectuar reclamo alguno. AAP notificará la terminación de la PC con un mínimo de treinta (30) días de anticipación a la fecha efectiva de terminación mediante el envío de un correo electrónico a la dirección de correo electrónico registrada por el titular de la Tarjeta y/o por medio de una comunicación al domicilio que el Titular haya establecido al momento de adherirse a la PC y/o que haya modificado con posterioridad y conste en el registro de miembros de la PC y/o por cualquier medio masivo de comunicación o red social.</p>
                            <p>36)Los Titulares de la Tarjeta y miembros de la PC podrán comunicarse al _____celular de beneficios (lo tiene TITA)_________________________________ o enviando un correo electrónico a la siguiente dirección beneficios@aapolo.com a fin de informar a AAP sobre la existencia de eventuales reclamos contra los Establecimientos Adheridos, dentro del plazo de noventa (90) días corridos, de ocurrida la causa que motivó el reclamo.</p>
                            <p>37)Sin perjuicio de que AAP no es responsable por el otorgamiento concreto de los Beneficios por parte de los Establecimientos Adheridos, si el reclamo del miembro de la PC tuviere como causa la falta de otorgamiento de algún Beneficio por medio de los Establecimientos Adheridos, el titular de la Tarjeta, en el momento de efectuar el reclamo a través de los medios indicados en el punto precedente, deberá brindar toda la información disponible referente a la operación (ya sea transacción, compra de bienes o servicios, etc.) que generó dicho reclamo, a fin de que AAP pueda comunicarse a los Establecimientos Adheridos responsables a fin de que, en caso de que fuere aplicable, tomen las medidas correspondientes.</p>
                            <p>38)AAP podrá realizar cambios en estos Términos y Condiciones, en la denominación de la PC, sus logos, marcas, diseños y en los Beneficios o su vigencia y las características de los Establecimientos Adheridos. Las modificaciones mencionadas precedentemente, podrán ser informadas por AAP al titular de la Tarjeta por cualquier medio masivo de comunicación, a través del sitio https://aapolo.com/Polo-Community, o redes sociales o de cualquier otro medio que implique su difusión pública.</p>
                            <p>39)Los datos y ofertas relativas a los Beneficios comunicados por AAP revisten un carácter exclusivamente informativo y en modo alguno suponen que los Establecimientos Adheridos, productos y/o servicios indicados y su calidad sean responsabilidad de AAP.</p>
                            <p>40)La información referida a los Establecimientos Adheridos  incluidas sus características, marcas, logos e imágenes  es suministrada exclusivamente por cada uno de los Establecimientos Adheridos. AAP no es responsable del contenido, autenticidad o veracidad de dicha información.</p>
                            <p>41)Los Establecimientos Adheridos no tienen la autoridad, expresa o implícita, para formular ninguna declaración, manifestación ni ofrecer garantías en nombre de AAP o de la PC. AAP no asume responsabilidad alguna con relación a tales declaraciones, manifestaciones o garantías.</p>
                            <p>42)AAP no será responsable por los daños causados al titular de la Tarjeta con motivo o en ocasión de la utilización de los Beneficios. Esta responsabilidad será directa y exclusivamente asumida por los Establecimientos Adheridos que prestan el servicio o comercializan el bien en su caso.</p>
                            <p>43)El titular de la Tarjeta al adherirse a la PC autoriza a AAP a enviarle y trasmitirle todo tipo de comunicaciones, avisos y mensajes relacionados con la PC con fines publicitarios, comerciales y promocionales. El titular de la Tarjeta y miembro de la PC podrá revocar dicha autorización manifestando por escrito al domicilio de AAP, Arévalo 3065 o por correo electrónico, o al teléfono 4777-6444 su expresa intención de no recibir aquellas comunicaciones.</p>
                            <p>44)Esta autorización, además, implica el consentimiento expreso del titular de la Tarjeta y miembro de la PC, para recibir todo tipo de comunicaciones, avisos y mensajes que guarden relación con la PC y con los fines publicitarios, comerciales y promocionales respectivos, vía e-mail. El titular de la Tarjeta y miembro de la PC no se inscribirá en el Registro “No Llame”, creado por ley N°2014 de la Ciudad Autónoma de Buenos Aires.</p>
                            <p>45)El Programa será válido únicamente en los puntos de venta de los Establecimientos Adheridos.</p>
                            <p>46)AAP podrá extender la PC a otros países.</p>
                            <p>47)Cualquier exclusión o limitación de responsabilidad contenida en los presentes Términos y Condiciones a favor de AAP se interpreta extendida también a favor de cada uno de los socios, empleados, directores y gerentes de AAP.</p>
                            <p>48)AAP no es responsable por la utilización indebida que pudieran hacer terceros de la Tarjeta, ni por los daños y perjuicios que dicha circunstancia pudiera ocasionar al titular de la Tarjeta y/o a los Establecimientos Adheridos. AAP no responderá en caso de robo, hurto, pérdida o extravío de las Tarjetas, ni por ningún uso por terceros ajenos a AAP.</p>
                            <p>49)El robo, hurto, extracción, pérdida o deterioro sustancial de las Tarjetas deberá ser denunciado, de manera inmediata a AAP al teléfono 4777-6444 La responsabilidad de AAP se limitará a la reposición de la Tarjeta robada, hurtada, perdida o deteriorada dentro de los cuarenta y cinco (45) días de efectuada la denuncia. AAP no es responsable por demoras por causas no imputables a AAP en el reemplazo de una Tarjeta o por el uso fraudulento de la Tarjeta.</p>
                            <p>50)La eventual nulidad de alguna de las cláusulas de los presentes Términos y Condiciones, no importará la nulidad de las restantes cláusulas.</p>
                            <p>51)Cualquier impuesto, tasa, derecho, contribución u obligación aplicable como consecuencia de la participación del titular de la Tarjeta en la PC estará a cargo exclusivo del titular de la Tarjeta y miembro de la PC.</p>
                            <p>52)Cualquier cuestión que se suscite entre el titular de la Tarjeta respecto de la PC será resuelta en forma inapelable por la AAP.</p>
                            <p>53)Los diseños de la Tarjeta, incluyendo, sin limitación, el logotipo, íconos y otras marcas comerciales, son propiedad de la AAP y están protegidos por derechos de autor y de marca.</p>
                            <p>54)De acuerdo a lo que establece la Ley N° 2.244 de la ciudad de Buenos Aires, por operar comercialmente en el ámbito de la Ciudad Autónoma de Buenos Aires y poseer un sitio Web, ponemos a tu conocimiento los enlaces a la Dirección General de Defensa y Protección al Consumidor del Gobierno de la Ciudad de Buenos Aires. Para consultas y/o denuncias: http://www.buenosaires.gob.ar/defensaconsumidor/</p>
                            <p>55)La registración del titular como miembro de la PC implica la aceptación de los presentes Términos y Condiciones.</p>
                            <p>56)AAP tiene su domicilio en Arévalo 3065 de la ciudad de Buenos Aires.</p>
                            <p>57)El titular de la Tarjeta y miembro de la PC acuerda someter cualquier disputa o divergencia derivada de los presentes Términos y Condiciones a la jurisdicción y competencia de los Tribunales Ordinarios en lo Comercial con asiento en la Ciudad Autónoma de Buenos Aires.</p>

                            <div class="flex m-t-40">
                                <div class="toggle toggle-regular" data-enable="aceptarTerminos" ng-click="aceptaTerminos = !aceptaTerminos">
                                    <div class="toggle-inner"></div>
                                </div>
                                <label class="m-l-10 m-t-0 m-b-0" style="display: inline-block;">He leído y acepto los términos y condiciones</label>
                            </div>
                            <div class="col-md-12 text-center">
                                <button id="aceptarTerminos" class="btn btn-lightblue m-t-30"
                                        ng-class="{'disabled': !aceptaTerminos}" data-modal="cambiarPass" data-dismiss="condicionesUsuario" ng-click="aceptaTerminos = true">
                                    Aceptar y continuar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="confirmarExitoSalir">
            <div class="modal-overlay" data-dismiss="confirmarExitoSalir" ng-click="volverAlHome()"></div>
            <div class="modal-dialogo-holder">
                <div class="modal-dialogo modal-dialogo-600">
                    <div class="modal-header">
                        <h2 data-icon="S">¡Ya formas parte de Polo Community!</h2>
                        <i class="icon-cross" data-dismiss="confirmarExitoSalir" ng-click="volverAlHome()"></i>
                    </div>

                    <div class="modal-contenido clearfix">
                        <div class="col-md-12 clearfix">
                            <p>Tus datos se han guardado con éxito.</p>
                            <p class="hideIfLogin">Para ingresar, por favor utilizá tu número de documento como usuario y contraseña la primera vez que ingresás.</p>

                            <div class="modal-opciones text-right">
                                <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="confirmarExitoSalir" ng-click="volverAlHome()">Finalizar registro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</section>
