﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div id="PerfilClub" ng-app="PerfilClub" style="height:100%;">
    @RenderPage(Url.Content("~/Views/PerfilClub/Bundle.cshtml"))
    <div ng-view style="height:100%;" autoscroll="true"></div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/PerfilClub/perfilClubModule.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/PerfilClub/perfilClubListCtrl.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/Services/perfilClubService.js")"></script>
<script src="~/Scripts/Angular-modules/Services/panelControlService.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyAuOK4a-hFUeENo7rbmUCtDqD_dqJY0uvM&libraries=placeses,visualization,drawing,geometry,places"></script>
<script src="~/Scripts/Angular/ng-map.min.js"></script>

<script>
    function actualizarRemove() {
        $(document).on("click", '.eliminar-jugador', function () {
            var jugadorID = $(this).closest('.torneo-jugador-outer').attr('id');
            var jugadorIDN = jugadorID.split("_")[1];
            $('#' + jugadorID).find('.torneo-jugador').removeClass('jugador-agregado').fadeOut(500);
            $('#jugador' + jugadorIDN).val($('#jugador' + jugadorIDN + ' option:first-child').val()).trigger('change');
        });
    }

    $('.torneo-jugador-agregar .select2-basic').on("select2:selecting", function () {
        var jugadorID = $(this).closest('.torneo-jugador-outer').attr('id');
        $('#' + jugadorID).find('.torneo-jugador').fadeIn(500).addClass('jugador-agregado');
    });

    $(document).on("change", '#torneo-torneo', function () {
        var cat = $(this).find(':selected').attr('data-cat');
        $('#torneo-categoria').val('Categoría ' + cat)
    });

    $(document).on("click", '.jugador-buscar a', function () {
        if ($(".jugador-buscar .jugadorInputUno").val().length > 3) {
            $(this).parent().next().slideDown(300);
        }
    });

    $(document).on("click", '.torneo-jugador-resultados li', function () {
        $(this).closest('.torneo-jugador-outer').find('.torneo-jugador').fadeIn(300).addClass('jugador-agregado');
        $(this).closest('.torneo-jugador-buscar').fadeOut(300);
    });

    $(document).on("click", '.agregar-jugador', function () {
        $(this).closest('.torneo-jugador-outer').find('.torneo-jugador-buscar').css('display', 'flex').hide().fadeIn(300).find('input').focus();
        setTimeout(function () {
            actualizarRemove();
        }, 600);
    });

    $('body').on('click', '.eliminar-jugador', function () {
        $(this).closest('.jugadores-pago li').slideUp(300)
        var precioResta = $(this).closest('jugador-pago').attr('data-precio');
        //restarPrecio(5000);
    });

    $('body').on('change', '.jugador-radio input', function () {
        if ($(this).val() == 'B') {
            $(this).closest('.jugador-radios').find('.jugador-radio-duracion').slideDown(300);
        } else if ($(this).val() == 'A') {
            $(this).closest('.jugador-radios').find('.jugador-radio-duracion').slideUp(300);
        }

        var precio = $(this).attr('data-precio');
        $(this).closest('.jugador-pago').attr('data-precio', precio).find('.jugador-pago-precio span').html(precio);
    });

    function mostrarResultados(id) {
        $('#' + id).slideDown(300);
    }

    $(document).on('click', '.inbox-responder', function () {
        $('.inbox-content').addClass('inbox-content-reply');
        $('.inbox-reply').slideDown(500);
    });

    $(document).on('click', '.close-reply', function () {
        $('.inbox-content').removeClass('inbox-content-reply');
        $('.inbox-reply').slideUp(500);
    });

</script>

<style>
    .categoriaSelect .select2-selection__arrow {
        display: none;
    }
</style>