﻿<section class="clearfix" ng-init="initValues()">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-2">
                @RenderPage(Url.Content("~/Views/PerfilClub/PartialViews/BarraOpciones.cshtml"))
            </div>
            <div class="col-md-10">
                <span ng-if="accion == 'Default'">
                    @RenderPage(Url.Content("~/Views/PerfilClub/PartialViews/PerfilPrincipal.cshtml"))
                </span>
                <span ng-if="accion == 'Calendario'">
                    @RenderPage(Url.Content("~/Views/PerfilClub/PartialViews/PerfilCalendario.cshtml"))
                </span>
                <span ng-if="accion == 'Pagos'">
                    @RenderPage(Url.Content("~/Views/PerfilClub/PartialViews/PerfilPagos.cshtml"))
                </span>
                <span ng-if="accion == 'Comunicaciones'">
                    @RenderPage(Url.Content("~/Views/PerfilClub/PartialViews/PerfilComunicacion.cshtml"))
                </span>
                <span ng-if="accion == 'Torneos'">
                    @RenderPage(Url.Content("~/Views/PerfilClub/PartialViews/PerfilTorneo.cshtml"))
                </span>
                <span ng-if="accion == 'Socios'">
                    @RenderPage(Url.Content("~/Views/PerfilClub/PartialViews/PerfilSocio.cshtml"))
                </span>
                <span ng-if="accion == 'Inbox'">
                    @RenderPage(Url.Content("~/Views/PerfilClub/PartialViews/PerfilInbox.cshtml"))
                </span>
                <span ng-if="accion == 'Beneficios'">
                    @RenderPage(Url.Content("~/Views/PerfilClub/PartialViews/PerfilBeneficio.cshtml"))
                </span>
            </div>
        </div>
    </div>
</section>



<div class="modal" id="pagarHandicap">
    <div class="modal-overlay" data-dismiss="pagarHandicap" onclick="closeModal()"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-800" ng-class="{'loading': isLoading}">
            <div class="modal-header">
                <h2 data-icon="&#xe062;" translate="HANDICAPPAYMENT" translate-language="{{idiomaElegido}}">Pagar handicap</h2>
                <i class="icon-cross" data-dismiss="pagarHandicap" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido clearfix">
                <form class="form-default clearfix">
                    <div class="col-md-12">
                        <label for="jugador-pagar" class="m-b-10" translate="SEARCHPAYMENTTEXT" translate-language="{{idiomaElegido}}">Buscá por nombre o DNI el jugador cuya categoría deseás modificar.</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="jugador-pagar" id="jugador-pagar" ng-model="searchFilterHandicap">
                    </div>
                    <div class="col-md-4">
                        <a href="javascript:void(0);" class="btn btn-lightblue btn-full text-center" onclick="mostrarResultados('cambioCategoria')"
                           ng-click="filterJugadoresHandicap(searchFilterHandicap)" translate="SEARCH" translate-language="{{idiomaElegido}}"><i class="icon-search"></i>Buscar</a>
                    </div>

                    <div class="col-md-12">
                        <ul class="pagos-jugador-resultados clearfix" id="cambioCategoria">
                            <li class="has-tooltip" title="Seleccionar jugador"
                                ng-repeat="jugador in jugadoresHandicap" ng-click="agregarJugador(jugador.cod_usuario);">
                                <a href="javascript:void(0)">{{jugador.txt_nombre}} {{jugador.txt_apellido}}<br><small> {{jugador.nro_doc}}</a></small>
                            </li>
                        </ul>
                    </div>
                </form>

                <div class="col-md-12">
                    <hr class="border-top-striped m-t-0 m-b-30">
                    <p translate="PLAYERSSELECTED" translate-language="{{idiomaElegido}}">Jugadores seleccionados:</p>
                    <ul class="jugadores-pago row clearfix">
                        <div ng-if="clubesImpagos" class="messageValidation" style="color:maroon" role="alert">
                            <div>Existen clubes seleccionados que no han pagado la cuota.</div>
                        </div>
                        <li class="col-md-12" style="display: list-item;" ng-repeat="jugadorAPagar in jugadoresAPagarCl | unique : cod_usuario">
                            <div class="jugador-pago" ng-class="{'loading': loadingSelect}">
                                <a href="javascript:void(0)" class="eliminar-jugador has-tooltip" ng-click="removerJugador(jugadorAPagar)" title="Eliminar jugador"><i class="icon-trash"></i></a>
                                <div class="user-pic" style="background-image: url(/img/avatars/avatar-user1.png)"></div>
                                <ul class="jugador-pago-data">
                                    <li><strong>{{jugadorAPagar.txt_nombre}} {{jugadorAPagar.txt_apellido}}</strong></li>
                                    <li>DNI: <span>{{jugadorAPagar.nro_doc}}</span></li>
                                    <li>Tipo: <span>{{jugadorAPagar.handicap.thandicap.txt_desc}}</span></li>
                                    <li>Handicap: <span>{{jugadorAPagar.handicap.nro_handicap}}</span></li>
                                </ul>

                                <div class="jugador-radios">
                                    <div class="jugador-radio ">
                                        <span>Tipo de handicap</span>
                                        <label class="has-tooltip" title="" ng-init="filterHandicapPorEdad(jugadorAPagar)">
                                            <input type="radio" name="tipo-{{$index}}" class="tipo-{{$index}}" ng-model="jugadorAPagar.handicapElegido" +
                                                   ng-click="jugadorAPagar.handicapCategoria = '1'; jugadorAPagar.temporalidad = 'anual'; filterPrecio(jugadorAPagar)" ng-false-value="'undefined'"
                                                   value="{{jugadorAPagar.handicap.thandicap.cod_handicap}}">
                                            <span>
                                                {{jugadorAPagar.handicap.thandicap.txt_desc}}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="jugador-radio jugador-radio-categoria">
                                        <span>Categoría de handicap</span>
                                        <label class="has-tooltip" ng-show="jugadorAPagar.handicapElegido != '61'"
                                               title="Puede participar en torneos oficiales de la AAP">
                                            <input type="radio" ng-model="jugadorAPagar.handicapCategoria" ng-click="filterPrecio(jugadorAPagar);"
                                                   name="categoria-{{$index}}" value="1"><span>Total</span>
                                        </label>
                                        <label class="has-tooltip" title="No participa en torneos oficiales de la AAP" ng-show="jugadorAPagar.handicapElegido != '61'">
                                            <input type="radio" ng-model="jugadorAPagar.handicapCategoria" ng-click="filterPrecio(jugadorAPagar)" name="categoria-{{$index}}" value="2">
                                            <span>Federado</span>
                                        </label>
                                        <label class="has-tooltip" title="No participa en torneos oficiales de la AAP" ng-show="jugadorAPagar.handicapElegido == '61'">
                                            <input type="radio" ng-model="jugadorAPagar.handicapCategoria" ng-click="jugadorAPagar.temporalidad = 'anual'" name="categoria-{{$index}}" value="52">
                                            <span>Básico</span>
                                        </label>
                                    </div>
                                    <div class="jugador-radio jugador-radio-duracion" style="display:block !important;">
                                        <span>Duración de handicap</span>
                                        <label class="has-tooltip" title="Válido hasta fin del año en curso">
                                            <input type="radio" ng-model="jugadorAPagar.temporalidad" ng-click="filterPrecio(jugadorAPagar)" name="duracion-{{$index}}" value="anual" checked>
                                            <span>Anual</span>
                                        </label>
                                        <label class="has-tooltip" title="Válido por el mes en curso y tres siguientes" ng-show="jugadorAPagar.handicapElegido != '61' && jugadorAPagar.cod_tipo_jugador != 2">
                                            <input type="radio" ng-model="jugadorAPagar.temporalidad"
                                                   ng-click="filterPrecio(jugadorAPagar)" name="duracion-{{$index}}" value="temporal">
                                            <span>Temporal</span>
                                        </label>
                                    </div>
                                </div>
                                @*<div class="jugador-radio">
                                    <span>
                                        Club principal
                                    </span>
                                    <div class="jugador-pago-data-buscador">
                                        <select name="torneo-club" ng-model="jugadorAPagar.cod_club_principal" ng-disabled="!jugadorAPagar.clubEditable"
                                                ng-options="club.cod_club as club.txt_desc for club in clubesAll" id="torneo-club-{{$index}}" class="select2-basic">
                                            <option value="" selected disabled>Seleccioná el club principal</option>
                                        </select>
                                        <div ng-if="jugadorAPagar.noSelected" class="messageValidation" style="color:maroon" role="alert">
                                            <div>Debe elegir un club</div>
                                        </div>
                                    </div>
                                </div>*@
                                <span class="jugador-pago-precio" ng-show="jugadorAPagar.handicapElegido != '61'">
                                    ${{jugadorAPagar.handicap.thandicap.nro_importe}}
                                </span>
                                <span class="jugador-pago-precio" ng-show="jugadorAPagar.handicapElegido == '61'">
                                    $3000
                                </span>
                            </div>
                        </li>
                    </ul>

                    <p class="total-pago"><span translate="FINALAMOUNT" translate-language="{{idiomaElegido}}">Monto total a abonar:</span> <strong>$<span>{{montoTotal}}</span></strong></p>
                    <p translate="SELECTPAYTYPE" translate-language="{{idiomaElegido}}">Seleccioná una de las formas de pago disponibles.</p>
                </div>

                <div class="col-md-12">
                    <a href="javascript:void(0)" class="opcion-pago" ng-click="pagarHandicap(); disabledPago = true;"
                       ng-disabled="disabledPago" ng-class="{'disabled': disabledPago}">
                        <h5 translate="MERCADOPAGO" translate-language="{{idiomaElegido}}">MercadoPago</h5>
                        <p translate="INSTANTPAYMENT" translate-language="{{idiomaElegido}}">Confirmación inmediata pagando online con tarjeta de crédito.</p>
                        <p translate="OFFLINEPAYMENT" translate-language="{{idiomaElegido}}">Deberás subir el comprobante y esperar confirmación de la AAP.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="pagarCuota">
    <div class="modal-overlay" data-dismiss="pagarCuota" onclick="closeModal()"></div>

    <div class="modal-dialogo modal-dialogo-800">
        <div class="modal-header">
            <h2 data-icon="&#xe062;">Pagar cuota de club</h2>
            <i class="icon-cross" data-dismiss="pagarCuota" onclick="closeModal()"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12">
                <p>Cuota correspondiente a: <strong>{{dateToday | date:'MMMM'}} {{dateToday | date:'yyyy'}}</strong></p>

                <p class="total-pago">Monto total a abonar: <strong>$<span>{{perfil.tcategoria_club.nro_importe}}</span></strong></p>
                <p>Seleccioná una de las formas de pago disponibles.</p>
            </div>

            <div class="col-md-4">
                <a href="javascript:void(0)" ng-click="pagarCuota()" class="opcion-pago">
                    <h5>Pagar</h5>
                    <p>Confirmación inmediata pagando online con tarjeta de crédito.</p>
                </a>
            </div>
        </div>
    </div>
</div>