﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12" ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Crear noticia</h1>
                <a href="javascript:void(0)" class="btn btn-lightblue pull-right m-t-0" onclick="clickModal('confirmarSalir')"><i class="icon-arrow-thin-left"></i> Volver al listado</a>

                <div class="clearfix"></div>

                <form action="#" class="form-default">
                    <div class="row clearfix">

                        <div class="col-md-4">
                            <label for="fecha">Fecha de publicación</label>
                            <input type="text" ng-model="noticia.fec_alta" name="fecha" id="fecPublicacion"
                                   class="datepicker" ng-value="noticia.fec_alta | date:'dd/MM/yyyy'">
                        </div>

                        <div class="col-md-4 tipoNoticia">
                            <label for="categoria">Categoría</label>
                            <select name="categorias" id="ddlCategorias" ng-model="noticia.cod_tipo_noticia" class="select2-basic"
                                    ng-options="categoria.cod_tipo_noticia as categoria.txt_desc for categoria in categorias">
                                <option value="">Seleccioná una categoria</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="clubes-secundarios">Tags <i class="icon-question has-tooltip" title="Puede seleccionar una o más etiquetas del listado, y crear etiquetas nuevas."></i></label>
                            <select name="etiquetas" id="ddlEtiquetas" ng-model="noticia.cod_etiqueta" class="select2-basic" multiple
                                    ng-options="etiqueta.cod_etiqueta as etiqueta.txt_desc for etiqueta in etiquetas">
                                <option value="">Seleccioná una etiqueta</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label for="titulo">Título de la noticia</label>
                            <input type="text" name="titulo" id="titulo" ng-model="noticia.txt_titulo">
                        </div>

                        <div class="col-md-12">
                            <label for="copete">Copete de la noticia</label>
                            <textarea name="copete" id="copete" ng-model="noticia.txt_copete" style="height: 100px;"></textarea>
                        </div>

                        <div class="col-md-12">
                            <label for="cuerpo-nota">Cuerpo de la noticia <br><small>Seleccioná el texto para ver opciones de formato</small></label>
                            <summernote ng-model="noticia.txt_cuerpo" style="height: 400px;" config="optionsSummer"></summernote>
                        </div>
                        <div class="col-md-6">
                            <label for="imagen">Imagen de la noticia <br><small>Tamaño mínimo: <strong>1024x768px</strong>. Peso máximo: <strong>10mb</strong></small></label>
                            <input type="file" name="imagen" id="imagen" ng-model="noticia.imagen_principal" ngf-max-total-size="10MB" ngf-select="upload($file, 1)">
                        </div>

                        <div class="col-md-6">
                            <label for="video">Video de la noticia <br><small>Peso máximo: <strong>10mb</strong></small></label>
                            <input type="file" name="video" id="video" ng-model="noticia.video" ngf-max-total-size="10MB" ngf-select="upload($file, 3)">
                        </div>

                        <div class="col-md-6">
                            <label for="video">Descargable de la noticia <br><small>Peso máximo: <strong>10mb</strong></small></label>
                            <input type="file" name="video" id="video" ng-model="noticia.footer" ngf-max-total-size="10MB" ngf-select="uploadFooter($file)">
                        </div>

                        <div class="col-md-4 col-md-offset-8">
                            <button class="btn btn-xl btn-full btn-lightblue text-left m-t-20" type="button" ng-disabled="saved" ng-class="{'disabled': saved}"
                                    data-modal="finInscripcion" ng-click="guardarNoticia()">
                                Publicar <i class="icon-arrow-thin-right pull-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="confirmarSalir">
    <div class="modal-overlay" data-dismiss="confirmarSalir"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="&#xe063;">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="confirmarSalir"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Si abandonás esta página ahora, perderás los cambios que no hayas guardado. ¿Estás seguro de que querés salir?</p>

                    <div class="modal-opciones text-right">
                        <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="confirmarSalir" ng-click="volverAlListado()">Salir y descartar cambios</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarSalir" onclick="closeModal()">Continuar editando</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmarExitoSalir">
    <div class="modal-overlay" data-dismiss="confirmarExitoSalir"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="S">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="confirmarExitoSalir"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Se han aplicado los cambios correctamente.</p>

                    <div class="modal-opciones text-right">
                        <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="confirmarExitoSalir" ng-click="volverAlListado()">Salir</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarExitoSalir" onclick="closeModal()">Continuar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
