﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12"  ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Noticias</h1>
                <a href="/PanelControl/#/Noticia" class="btn btn-lightblue pull-right m-t-0"><i class="icon-plus"></i> Crear una noticia</a>

                <div class="clearfix"></div>

                <table class="table-default table-admin">
                    <thead>
                        <tr>
                            <th width="150">Fecha de publicación</th>
                            <th>Categoría</th>
                            <th>Título</th>
                            <th>Destacada</th>
                            <th>Activo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="noticia in lstNoticias">
                            <td data-label="Fecha de publicación">{{noticia.fec_alta | date:'dd/MM/yyyy'}}</td>
                            <td data-label="Categoría">{{noticia.categoriaNombre}}</td>
                            <td data-label="Tíutlo"><strong>{{noticia.txt_titulo}}</strong></td>
                            <td data-label="Destacada en home">
                                <div class="toggle" ng-class="{'toggle-active': noticia.bool_destacada}" @*onclick="toggle(this)"*@ ng-click="updateEstadoNoticiaDestacada(noticia.cod_noticia)">
                                    <div class="toggle-inner"></div>
                                </div>
                            </td>
                            <td data-label="Activo">
                                <div class="toggle" ng-class="{'toggle-active': noticia.bool_activo}" @*onclick="toggle(this)"*@ ng-click="updateEstadoNoticia(noticia.cod_noticia)">
                                    <div class="toggle-inner"></div>
                                </div>
                            </td>
                            <td data-label="Editar Noticia" class="text-right"><a href="/PanelControl/#/Noticia/{{noticia.cod_noticia}}" class="btn btn-lightblue btn-small">Editar noticia</a></td>
                        </tr>
                    </tbody>
                </table>

                @*<ul class="pagination">
                    <li class="current"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                </ul>*@
            </div>
        </div>
    </div>
</div>