﻿<script type="text/ng-template" id="jugadorList">
    @RenderPage(Url.Content("~/Views/PanelControl/Jugadores/List.cshtml"))
</script>

<script type="text/ng-template" id="createJugadorList">
    @RenderPage(Url.Content("~/Views/PanelControl/Jugadores/CrearOEditar.cshtml"))
</script>
<script type="text/ng-template" id="jugadorReport">
    @RenderPage(Url.Content("~/Views/PanelControl/Jugadores/reporte.cshtml"))
</script>

<script type="text/ng-template" id="clubList">
    @RenderPage(Url.Content("~/Views/PanelControl/Clubes/List.cshtml"))
</script>
<script type="text/ng-template" id="clubReport">
    @RenderPage(Url.Content("~/Views/PanelControl/Clubes/reporte.cshtml"))
</script>
<script type="text/ng-template" id="createClubList">
    @RenderPage(Url.Content("~/Views/PanelControl/Clubes/CrearOEditar.cshtml"))
</script>

<script type="text/ng-template" id="noticiaList">
    @RenderPage(Url.Content("~/Views/PanelControl/Noticias/List.cshtml"))
</script>

<script type="text/ng-template" id="createNoticiaList">
    @RenderPage(Url.Content("~/Views/PanelControl/Noticias/CrearOEditar.cshtml"))
</script>

<script type="text/ng-template" id="partidosList">
    @RenderPage(Url.Content("~/Views/PanelControl/Partidos/List.cshtml"))
</script>

<script type="text/ng-template" id="torneosList">
    @RenderPage(Url.Content("~/Views/PanelControl/Torneos/List.cshtml"))
</script>

<script type="text/ng-template" id="createTorneoList">
    @RenderPage(Url.Content("~/Views/PanelControl/Torneos/CrearOEditar.cshtml"))
</script>
<script type="text/ng-template" id="torneosReport">
    @RenderPage(Url.Content("~/Views/PanelControl/Torneos/reporte.cshtml"))
</script>
<script type="text/ng-template" id="torneosReportCuenta">
    @RenderPage(Url.Content("~/Views/PanelControl/Torneos/reporteCuenta.cshtml"))
</script>

<script type="text/ng-template" id="eventoList">
    @RenderPage(Url.Content("~/Views/PanelControl/Eventos/List.cshtml"))
</script>

<script type="text/ng-template" id="createEventoList">
    @RenderPage(Url.Content("~/Views/PanelControl/Eventos/CrearOEditar.cshtml"))
</script>

<script type="text/ng-template" id="popUpList">
    @RenderPage(Url.Content("~/Views/PanelControl/Popup/List.cshtml"))
</script>

<script type="text/ng-template" id="popUpCrearList">
    @RenderPage(Url.Content("~/Views/PanelControl/Popup/CrearOEditar.cshtml"))
</script>

<script type="text/ng-template" id="notificacionList">
    @RenderPage(Url.Content("~/Views/PanelControl/Notificaciones/List.cshtml"))
</script>

<script type="text/ng-template" id="notificacionCrearList">
    @RenderPage(Url.Content("~/Views/PanelControl/Notificaciones/CrearOEditar.cshtml"))
</script>


<script type="text/ng-template" id="respuestaCrearList">
    @RenderPage(Url.Content("~/Views/PanelControl/Notificaciones/Respuesta.cshtml"))
</script>
