﻿<style>
    footer {
        display: none;
    }

    .main-nav {
        display: none !important;
    }

    .title-admin-head {
        display: block !important;
    }

    html, body {
        overflow-y: scroll !important;
    }

    header {
        left: 0;
    }
</style>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/PanelControl/panelControlModule.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/Services/panelControlService.js")"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Jugador/jugadorModule.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Jugador/jugadorCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Jugador/reporteJugadorCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Jugador/crearOEditarJugadorCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Noticia/crearOEditarNoticiaCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Noticia/noticiaCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Noticia/noticiaModule.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Club/clubModule.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Club/crearOEditarClubCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Club/clubCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Club/reporteClubCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Torneo/torneoModule.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Torneo/crearOEditarTorneoCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Torneo/reporteTorneoCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Torneo/torneoCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Torneo/reporteTorneoCuentaCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Evento/eventoModule.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Evento/eventoCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Evento/crearOEditarEventoCtrl.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/Services/perfilJugadorService.js")"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Popup/popupModule.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Popup/crearOEditarPopupCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Popup/popupCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Notificacion/notificacionModule.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Notificacion/notificacionCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Notificacion/crearOEditarNotificacionCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PanelControl/Notificacion/respuestCtrl.js"></script>
<link href="~/Content/summernote.css" rel="stylesheet" />
<script src="~/Scripts/Angular/ng-file-upload.min.js"></script>
<script src="~/Scripts/Angular/ng-file-upload-shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/summernote.js"></script>
<script src="~/Scripts/Angular/angular-summernote.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />
<script>
    window.onload = function () {
        $('body, html').removeClass('overflow-hidden');
    }
    function cambiarMedioPago() {
        var medio = $("#medio-pago").children(":selected").attr("data-medio");
        $('.confirmar-pago').slideUp(400);
        $('#' + medio).slideDown(400);
    }
</script>

<div id="PanelControl" ng-app="PanelControl" style="height:100%; z-index:11">
    @RenderPage(Url.Content("~/Views/PanelControl/List.cshtml"))
    @RenderPage(Url.Content("~/Views/PanelControl/Bundle.cshtml"))
    <div ng-view style="height:100%;"></div>
</div>