﻿<aside class="admin-nav" ng-controller="jugadorCtrl as ctrl">
    <div class="user-top show-mobile" ng-init="initLogin()">
        <a href="javascript:void(0);" class="dropdown">
            <div class="user-pic" style="background-image: url('{{user.txt_imagen}}')"></div>
            <h4>{{user.txt_usuario}}</h4>
        </a>
        <ul style="display: none;">
            <li><a href="javascript:void(0);" data-icon="">Soporte</a></li>
            <li><a href="index.html" data-icon="" ng-click="signOut()">Cerrar sesión</a></li>
        </ul>
    </div>
    <ul>
        <li ng-class="{'current': (menu == 'Jugadores')}"><a href="/PanelControl/#/Jugadores" ng-click="menu = 'Jugadores'"><i class="icon-user"></i> Jugadores</a></li>
        <li ng-class="{'current': (menu == 'Clubes')}"><a href="/PanelControl/#/Clubes" ng-click="menu = 'Clubes'"><i class="icon-flag"></i> Clubes</a></li>
        <li ng-class="{'current': (menu == 'Eventos')}"><a href="/PanelControl/#/Eventos" ng-click="menu = 'Eventos'"><i class="icon-calendar"></i> Eventos</a></li>
        <li ng-class="{'current': (menu == 'Torneos')}"><a href="/PanelControl/#/Torneos" ng-click="menu = 'Torneos'"><i class="icon-trophy"></i> Torneos</a></li>
        <li ng-class="{'current': (menu == 'Noticias')}"><a href="/PanelControl/#/Noticias" ng-click="menu = 'Noticias'"><i class="icon-document"></i> Noticias</a></li>
        <li ng-class="{'current': (menu == 'ReporteClubes')}"><a href="/PanelControl/#/Clubes/reporte" ng-click="menu = 'ReporteClubes'"><i class="icon-flag"></i> Reporte Clubes</a></li>
        <li ng-class="{'current': (menu == 'ReporteJugadores')}"><a href="/PanelControl/#/Jugadores/reporte" ng-click="menu = 'ReporteJugadores'"><i class="icon-user"></i> Reporte jugadores</a></li>
        <li ng-class="{'current': (menu == 'ReporteCuentaTorneos')}"><a href="/PanelControl/#/Torneos/reporteCuenta" ng-click="menu = 'ReporteCuentaTorneos'"><i class="icon-user"></i> Reporte Torneos</a></li>
        <li ng-class="{'current': (menu == 'PopUp')}"><a href="/PanelControl/#/Popups" ng-click="menu = 'PopUp'"><i class="icon-user"></i> Pop up</a></li>
        @*<li ng-class="{'current': (menu == 'Notificaciones')}">
            <a href="/PanelControl/#/Notificaciones" ng-click="menu = 'Notificaciones'">
                <i class="icon-warning"></i> Notificaciones
            </a>
        </li>*@
    </ul>
</aside>