﻿@{ Layout = ""; }
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Asociación Argentina de Polo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <style>
        .main-nav {
            display: none !important;
        }

        .wow {
            visibility: hidden;
        }
    </style>
    <link rel="stylesheet" href="../Content/normalize.css">
    <link rel="stylesheet" href="../Content/bootstrap.min.css">
    <link rel="stylesheet" href="../Content/animate.css">
    <link rel="stylesheet" href="../Content/icons.css">
    <link rel="stylesheet" href="../Content/select2.css">
    <link rel="stylesheet" href="../Content/main.css">
    <script src="~/Scripts/vendor/modernizr-3.5.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="Scripts/vendor/jquery-3.2.1.min.js"><\/script>')</script>

    <script src="~/Scripts/Angular/angular.min.js"></script>
    <script src="~/Scripts/Angular/angular-route.js"></script>
    <script src="~/Scripts/Angular/angular-sanitize.min.js"></script>
    <script src="~/Scripts/Angular/angular-strap.min.js"></script>
    <script src="~/Scripts/Angular/angular-strap.tpl.min.js"></script>
    <script src="~/Scripts/Angular/angular-messages.min.js"></script>
    <script src="~/Scripts/Angular/angular-animate.min.js"></script>
    <script src="~/Scripts/Angular/angular-aria.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/Angular/angular-translate.min.js"></script>
    <script src="~/Scripts/Angular-modules/Login/loginModule.js"></script>
    <script src="~/Scripts/Angular-modules/Login/loginCtrl.js"></script>
    <script src="~/Scripts/Angular-modules/Services/loginService.js"></script>
</head>
<body class="admin-login">
    <div id="Login" ng-app="Login" style="height:100%;">
        @RenderPage(Url.Content("~/Views/Login/Bundle.cshtml"))
        <div ng-view style="height:100%;"></div>
    </div>

    <!-- Add your site or application content here -->
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/select2.full.min.js"></script>
    <script src="~/Scripts/vivus.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/tooltip.js"></script>
    <script src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/picker.js"></script>
    <script src="~/Scripts/picker.date.js"></script>
</body>
</html>
