﻿    <form class="form-admin-login">
        <a href="../index.html" class="logo"><img src="../img/logo.png" alt="AAP"></a>
        <h1>Administración</h1>
        <h3>Inicia sesión para continuar</h3>

        <input type="text" ng-model="user.txt_usuario" name="user" id="user" placeholder="Usuario">
        <input type="password" ng-model="user.txt_password"  name="pass" id="pass" placeholder="Contraseña">

        <button ng-click="login()">Ingresar <i class="icon-arrow-thin-right"></i></button>
    </form>
