﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12" ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Crear comunicado </h1>
                <a href="javascript:void(0);" class="btn btn-lightblue pull-right m-t-0" data-modal="confirmarSalir"
                   onclick="clickModal('confirmarSalir')"><i class="icon-arrow-thin-left"></i>Volver al listado</a>

                <div class="clearfix"></div>

                <form name="formPopUp" class="form-default">
                    <div class="row clearfix">

                        <div class="col-md-6">
                            <label for="nombre">Nombre del comunicado</label>
                            <input type="text" name="nombre" ng-model="comunicado.txt_desc" id="nombre" required>
                            <div ng-messages="formPopUp.nombre.$error" ng-if="submitted || formPopUp.nombre.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="vigencia">Vigencia hasta</label>
                            <input type="text" name="vigencia" ng-model="comunicado.fec_vigencia" id="vigencia" class="datepicker" required>
                            <div ng-messages="formPopUp.vigencia.$error" ng-if="submitted || formPopUp.vigencia.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h3>Subir imagen o video</h3>
                        </div>

                        <div class="col-md-6">
                            <label for="selector">Seleccionar imagen o video</label>
                            <select ng-model="select" name="selector" required>
                                <option value="" disabled>Seleccionar imagen o video</option>
                                <option value="Imagen">Imagen</option>
                                <option value="Video">Video</option>
                            </select>
                            <div ng-messages="formPopUp.selector.$error" ng-if="submitted && formPopUp.selector.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-show="select == 'Imagen'">
                            <label for="imagen">Imagen <i class="icon-question has-tooltip" title="Tamaño sugerido: 800x450px"></i></label>
                            <input type="file" name="imagen" id="imagen" ng-model="comunicado.imagen" ngf-max-total-size="10MB" ngf-select="upload($file, 1)"
                                   ngf-pattern=".jpg,.png,.gif" accept=".jpg, .png, .gif" ng-required="select == 'Imagen' && comunicado.cod_popup == undefined">
                            <div ng-messages="formPopUp.imagen.$error" ng-if="submitted || formPopUp.imagen.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="pattern">La imagen no tiene el formato correcto</div>
                                <div ng-message="maxTotalSize">La imagen pesa más de 10MB</div>
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-show="select == 'Video'">
                            <label for="jugador-minimo">Video <i class="icon-question has-tooltip" title="Max 10 mb. Tamaño sugerido: 1280x720px"></i></label>
                            <input type="file" name="video" id="video" ngf-pattern="'.mp4,.mpeg,.avi'" accept=".mp4, .mpeg, .avi"
                                   ng-model="comunicado.video" ngf-max-total-size="10MB" ngf-select="upload($file, 3)" ng-required="select == 'Video' && comunicado.cod_popup == undefined">
                            <div ng-messages="formPopUp.video.$error" ng-if="submitted || formPopUp.video.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="pattern">El video no tiene el formato correcto</div>
                                <div ng-message="maxTotalSize">El video pesa más de 10MB</div>
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-8">
                            <button class="btn btn-xl btn-full btn-lightblue text-left m-t-20" ng-class="{'disabled': formPopUp.$invalid}" ng-click="crearPopup(formPopUp)" ng-disabled="formPopUp.$invalid">
                                Guardar cambios <i class="icon-arrow-thin-right pull-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmarSalir">
    <div class="modal-overlay" data-dismiss="confirmarSalir"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="&#xe063;">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="confirmarSalir"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Si abandonás esta página ahora, perderás los cambios que no hayas guardado. ¿Estás seguro de que querés salir?</p>

                    <div class="modal-opciones text-right">
                        <a href="/PanelControl/#/Popups" class="btn btn-red m-t-0" data-dismiss="confirmarSalir">Salir y descartar cambios</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarSalir">Continuar editando</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="exito">
    <div class="modal-overlay" data-dismiss="exito"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="&#xe04e;">¡Creación exitosa!</h2>
                <i class="icon-cross" data-dismiss="exito"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Has creado un nuevo comunicado exitosamente. Recordá que puedes editarlo más tarde desde el panel de administración.</p>

                    <div class="modal-opciones text-right">
                        <a href="/PanelControl/#/Popups" class="btn btn-red m-t-0" data-dismiss="exito">Volver al listado</a>
                        <a href="/PanelControl/#/Popup" class="btn btn-lightblue m-t-0" data-dismiss="exito">Crear otro comunicado</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
