﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12" ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Comunicados</h1>
                <a href="/PanelControl/#/Popup/undefined" class="btn btn-lightblue pull-right m-t-0"><i class="icon-plus"></i> Crear comunicado</a>

                <div class="clearfix"></div>

                <table class="table-default table-admin">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha de vigencia</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="comunicado in comunicados">
                            <td data-label="Nombre"><a href="/PanelControl/#/Popup/{{comunicado.cod_popup}}">{{comunicado.txt_desc}}</a></td>
                            <td data-label="Fecha de vigencia">{{comunicado.fec_vigencia | date:'dd/MM/yyyy'}}</td>
                            <td data-label="Estado">
                                <div class="toggle" title="Activo" data-on="Activo" data-off="Inactivo"
                                     ng-class="{'toggle-active': comunicado.bool_activo}" onclick="toggle(this)" ng-click="activarDesactivar(comunicado.cod_popup)">
                                    <div class="toggle-inner"></div>
                                </div>
                            </td>
                            <td data-label="Editar perfil" class="text-right">
                                <a href="/PanelControl/#/Popup/{{comunicado.cod_popup}}" class="btn btn-lightblue btn-small">Editar comunicado</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>