﻿<script type="text/ng-template" id="perfilPublicoJugadorList">
    @RenderPage(Url.Content("~/Views/PerfilPublico/Jugador/List.cshtml"))
</script>

<script type="text/ng-template" id="perfilPublicoJugadorBuscado">
    @RenderPage(Url.Content("~/Views/PerfilPublico/Jugador/perfilJugadorBuscado.cshtml"))
</script>

<script type="text/ng-template" id="perfilPublicoClubList">
    @RenderPage(Url.Content("~/Views/PerfilPublico/Club/List.cshtml"))
</script>

<script type="text/ng-template" id="perfilPublicoClubBuscado">
    @RenderPage(Url.Content("~/Views/PerfilPublico/Club/perfilClubBuscado.cshtml"))
</script>

<script type="text/ng-template" id="perfilPublicoNoticiaList">
    @RenderPage(Url.Content("~/Views/PerfilPublico/Noticia/List.cshtml"))
</script>

<script type="text/ng-template" id="perfilPublicoEventoList">
    @RenderPage(Url.Content("~/Views/PerfilPublico/Evento/List.cshtml"))
</script>

<script type="text/ng-template" id="perfilPublicoNoticiaBuscada">
    @RenderPage(Url.Content("~/Views/PerfilPublico/Noticia/perfilNoticiaBuscada.cshtml"))
</script>


<script type="text/ng-template" id="perfilPublicoTorneoList">
    @RenderPage(Url.Content("~/Views/PerfilPublico/Torneo/List.cshtml"))
</script>

<script type="text/ng-template" id="perfilPublicoTorneoBuscado">
    @RenderPage(Url.Content("~/Views/PerfilPublico/Torneo/perfilTorneoBuscado.cshtml"))
</script>