﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<span id="PerfilPublico" ng-app="PerfilPublico" style="height:100%;">
    @RenderPage(Url.Content("~/Views/PerfilPublico/Bundle.cshtml"))
    <span ng-view style="display:block" autoscroll="true" ng-class="{'loading-main': isLoading}"></span>
</span>

<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/PerfilPublico/perfilPublicoModule.js")"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Jugador/perfilPublicoJugadorModule.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/PerfilPublico/Jugador/perfilPublicoJugadorListCtrl.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Angular-modules/Services/perfilPublicoJugadorService.js")"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Noticia/perfilNoticiaBuscada.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Noticia/perfilPublicoNoticiaListCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Noticia/perfilPublicoNoticiaModule.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Jugador/perfilJugadorBuscadoCtrl.js"></script>
<script src="~/Scripts/Angular-modules/Services/panelControlService.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Club/perfilPublicoClubModule.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Club/perfilPublicoClubListCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Club/perfilClubBuscadoCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Torneo/perfilPublicoTorneoModule.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Torneo/perfilPublicoTorneoListCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Torneo/perfilTorneoBuscadoCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Noticia/perfilPublicoNoticiaModule.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Noticia/perfilPublicoNoticiaListCtrl.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Noticia/perfilNoticiaBuscada.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Eventos/perfilPublicoEventoModule.js"></script>
<script src="~/Scripts/Angular-modules/PerfilPublico/Eventos/perfilPublicoEventoListCtrl.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyAuOK4a-hFUeENo7rbmUCtDqD_dqJY0uvM&libraries=placeses,visualization,drawing,geometry,places"></script>
<script src="~/Scripts/Angular/ng-map.min.js"></script>
<script src="~/Scripts/jquery.fancybox.min.js"></script>

<script defer>
    setTimeout(function () {
        $('.slider-perfil').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            arrows: true,
            dots: true,
        });

        $('.gallery').masonry({
            // set itemSelector so .grid-sizer is not used in layout
            itemSelector: 'li',
            // use element for option
            columnWidth: 'li',
            percentPosition: true
        })
    }, 600);
</script>