﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12" ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Cargar Jugador</h1>
                <a href="javascript:void(0)" class="btn btn-lightblue pull-right m-t-0" onclick="clickModal('confirmarSalir')"><i class="icon-arrow-thin-left"></i> Volver al listado</a>

                <div class="clearfix"></div>

                <form class="form-default jugadorForm" name="jugadorForm">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <h3>Información personal</h3>
                        </div>

                        <div class="col-md-4">
                            <label for="nombre">Nombre</label>
                            <input type="text" ng-model="jugador.txt_nombre" name="nombre" id="nombre" required>
                            <div ng-messages="jugadorForm.nombre.$error" ng-if="submitted || jugadorForm.nombre.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="apellido">Apellido</label>
                            <input type="text" ng-model="jugador.txt_apellido" placeholder="Apellido" name="apellido" id="apellido" required>
                            <div ng-messages="jugadorForm.apellido.$error" ng-if="submitted || jugadorForm.apellido.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="genero">Género</label>
                            <select name="genero" ng-model="jugador.cod_genero" id="genero" class="select2-basic"
                                    ng-options="genero.cod_genero as genero.txt_desc for genero in generos" required>
                                <option value="">Seleccioná un género</option>
                            </select>
                            <div ng-messages="jugadorForm.genero.$error" ng-if="submitted || jugadorForm.genero.$dirty" class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="nacimiento">Fecha de nacimiento</label>
                            <input type="text" ng-model="jugador.fec_nacimiento" 
                                   ng-change="selectJugadorPorNacimiento()" name="nacimiento" id="nacimiento" class="datepicker" required>
                            @*<div ng-messages="jugadorForm.nacimiento.$error" ng-if="submitted || jugadorForm.genero.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="required">Debe completar un valor</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>*@
                        </div>

                        <div class="col-md-4">
                            <label for="tipo-jugador">Tipo de documento</label>
                            <select ng-model="jugador.cod_tipo_doc" class="select2-basic" id="tipo_documento" name="tipo_documento"
                                    ng-options="tipo.cod_tipo_doc as tipo.txt_desc for tipo in tiposDocumentos" required>
                                <option value="">Seleccioná un tipo de jugador</option>
                            </select>
                            <div ng-messages="jugadorForm.tipo_documento.$error" ng-if="submitted || jugadorForm.tipo_documento.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="dni">Número</label>
                            <input type="number" ng-model="jugador.nro_doc" autocomplete="off" name="dni2" id="dni2"
                                   ng-required=" jugador.cod_tipo_doc != 3" ng-show=" jugador.cod_tipo_doc != 3">
                            <input type="text" ng-model="jugador.nro_docString" autocomplete="off" name="dnialfa" id="dnialfa"
                                   ng-show=" jugador.cod_tipo_doc == 3" ng-required=" jugador.cod_tipo_doc == 3">
                            <div ng-if="thereIsError" class="messageValidation"
                                 style="color:maroon" role="alert">
                                <div>{{errorForm}}</div>
                            </div>
                            <div ng-messages="jugadorForm.dni.$error" ng-if="submitted || jugadorForm.dni.$dirty" class="messageValidation"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-show="isDuplicated">Número de documento duplicado</div>
                            </div>
                        </div>

                        <div class="col-md-4 paisContainer">
                            <label for="pais">Nacionalidad</label>
                            <select class="select2-basic paisSelect" ng-model="jugador.cod_nacionalidad"
                                    ng-options="pais.cod_pais as pais.txt_desc for pais in paises | unique: 'txt_desc'" required
                                    name="nacionalidad" id="nacionalidad" ng-change="filterHandicapPais()">
                                <option value="">Seleccioná un país</option>
                            </select>
                            <div ng-messages="jugadorForm.nacionalidad.$error" ng-if="submitted || jugadorForm.nacionalidad.$dirty" class="messageValidation"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h3>Datos de contacto</h3>
                        </div>

                        <div class="col-md-4">
                            <label for="email">Email</label>
                            <input type="text" name="email" ng-model="jugador.txt_mail" ng-pattern="regexEmail" id="email" required>
                            <div ng-messages="jugadorForm.email.$error" ng-if="submitted || jugadorForm.email.$dirty" class="messageValidation"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message="pattern">No es un email válido</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="telefono">Celular <i class="icon-question has-tooltip" title="Debe ingresar el código de área"></i></label>
                            <input type="number" name="telefono" ng-model="jugador.contacto.txt_desc" ng-pattern="regexInt" min="9999999" id="telefono">
                            <div ng-messages="jugadorForm.telefono.$error" ng-if="submitted || jugadorForm.telefono.$dirty" class="messageValidation"
                                 style="color:maroon" role="alert">
                                <div ng-message="minlength">Debe tener más de 8 dígitos</div>
                                <div ng-message="pattern">Solo se aceptan números enteros</div>
                                <div ng-message-default>Debe tener 8 dígitos o más</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="domicilio">Calle</label>
                            <input type="text" name="domicilio" id="domicilio" ng-model="jugador.tdomicilio.txt_domicilio">
                        </div>

                        <div class="col-md-4">
                            <label for="clubNumero">Número</label>
                            <input type="number" ng-model="jugador.tdomicilio.nro_domicilio" name="clubNumero" id="clubNumero" min="0" ng-pattern="regexInt">
                            <div ng-messages="jugadorForm.clubNumero.$error" ng-if="submitted || jugadorForm.clubNumero.$dirty" class="messageValidation"
                                 style="color:maroon" role="alert">
                                <div ng-message="minlength">No puede tener un valor negativo</div>
                                <div ng-message="pattern">Solo se aceptan números enteros</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="piso">Piso</label>
                            <input type="number" ng-model="jugador.tdomicilio.nro_piso" string-to-number name="piso" id="piso" min="0" ng-pattern="regexInt">
                            <div ng-messages="jugadorForm.piso.$error" ng-if="submitted || jugadorForm.piso.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="minlength">No puede tener un valor negativo</div>
                                <div ng-message="pattern">Solo se aceptan números enteros</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="dni">Departamento</label>
                            <input type="text" ng-model="jugador.tdomicilio.txt_departamento" name="depto" id="depto">
                        </div>

                        <div class="col-md-4">
                            <label for="codigoPostal">Código postal</label>
                            <input type="number" ng-model="jugador.tdomicilio.nro_cod_postal" name="cod_postal" id="cod_postal" min="0" ng-pattern="regexInt">
                            <div ng-messages="jugadorForm.cod_postal.$error" ng-if="submitted || jugadorForm.cod_postal.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="minlength">No puede tener un valor negativo</div>
                                <div ng-message="pattern">Solo se aceptan números enteros</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4 paisContainer">
                            <label for="pais">País de residencia</label>
                            <select class="select2-basic paisSelect" ng-model="jugador.tdomicilio.cod_pais" ng-change="filterProvincias()"
                                    ng-options="pais.cod_pais as pais.txt_desc for pais in paises | unique: 'txt_desc'"
                                    name="pais" id="pais" required>
                                <option value="">Seleccioná un país</option>
                            </select>
                            <div ng-messages="jugadorForm.pais.$error" ng-if="submitted || jugadorForm.pais.$dirty" class="messageValidation"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4 provinciaContainer" ng-show="jugador.tdomicilio.cod_pais == 33">
                            <label for="provincia">Estado/Provincia</label>
                            <select class="select2-basic provinciaSelect" ng-model="jugador.tdomicilio.cod_provincia" ng-change="filterMunicipios()"
                                    ng-options="provincia.cod_provincia as provincia.txt_desc for provincia in provincias | unique: 'txt_desc'"
                                    name="provincia" id="provincia">
                                <option value="">Seleccioná una provincia</option>
                            </select>
                        </div>

                        <div class="col-md-4" ng-show="jugador.tdomicilio.cod_pais == 33">
                            <label for="municipio">Ciudad</label>
                            <select class="select2-basic" ng-model="jugador.tdomicilio.cod_municipio"
                                    ng-options="municipio.cod_municipio as municipio.txt_desc for municipio in municipios | unique: 'txt_desc'"
                                    name="municipio" id="municipio">
                                <option value="">Seleccioná un municipio</option>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <h3>Perfil de jugador</h3>
                        </div>

                        <div class="col-md-4">
                            <label for="tipo-jugador">Tipo de jugador</label>
                            <select ng-model="jugador.cod_tipo_jugador" class="select2-basic" name="tipojugador" id="tipo-jugador"
                                    ng-options="tipo.cod_tipo_jugador as tipo.txt_desc for tipo in tiposJugador | filter:{ cod_tipo_jugador: '!' + 6}"
                                    ng-change="filterHand(jugador.cod_tipo_jugador)" required ng-class="{'disabled': selectDisabledEdad}"
                                    ng-disabled="selectDisabledEdad">
                                <option value="">Seleccioná un tipo de jugador</option>
                            </select>
                            <div ng-messages="jugadorForm.tipojugador.$error" ng-if="submitted || jugadorForm.tipojugador.$dirty" class="messageValidation"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">Debe seleccionar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="handicap">Handicap</label>
                            <input type="number" ng-model="jugador.nro_handicap" name="handicap" min="0" max="10" id="handicap" ng-pattern="regexInt" required>
                            <div ng-messages="jugadorForm.handicap.$error" ng-if="submitted || jugadorForm.handicap.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message="pattern">Solo se aceptan números enteros</div>
                                <div ng-message-default>Recuerde que el handicap debe ser de 0 a 10</div>
                            </div>
                        </div>

                        <div class="col-md-4" ng-show="jugador.cod_genero == 2">
                            <label for="handicapFemenino">Handicap Femenino</label>
                            <input type="number" ng-model="jugador.nro_handicap_femenino" name="handicapFemenino" min="0" max="10" id="handicapFemenino" ng-pattern="regexInt" ng-required="jugador.cod_genero == 2">
                            <div ng-messages="jugadorForm.handicapFemenino.$error" ng-if="submitted || jugadorForm.handicapFemenino.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message="pattern">Solo se aceptan números enteros</div>
                                <div ng-message-default>Recuerde que el handicap debe ser de 0 a 10</div>
                            </div>
                        </div>


                        <div class="col-md-4 thandicapContainer">
                            <label for="tipo-handicap">Tipo y categoría de handicap</label>
                            <select ng-model="jugador.cod_handicap" class="select2-basic" name="tipohandicap" id="tipohandicap" ng-change="filterHandicap()"
                                    ng-options="handicap.cod_handicap as ( handicap.txt_desc  + ' - ' + handicap.tcategoria_handicap.txt_desc) for handicap in handicaps
                                     | filter: { txt_desc: filterText } | orderBy: 'txt_desc'" required>
                                <option value="">Seleccioná un tipo de handicap</option>
                            </select>
                            <div ng-messages="jugadorForm.tipohandicap.$error" ng-if="submitted || jugadorForm.tipohandicap.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        @*<div class="col-md-4">
                                <label for="categoria-handicap">Categoría de handicap</label>
                                <select ng-model="jugador.cod_categoria_handicap" class="select2-basic" name="categoriahandicap" ng-change="filterCategoria()" id="categoria-handicap"
                                        ng-options="categoria.cod_categoria_handicap as categoria.txt_desc for categoria in categoriaHandicaps" required>
                                    <option value="">Seleccioná una categoría de handicap</option>
                                </select>
                                <div ng-messages="jugadorForm.categoriahandicap.$error" ng-if="submitted || jugadorForm.categoriahandicap.$dirty"
                                     class="messageValidation" style="color:maroon" role="alert">
                                    <div ng-message="required">Debe completar un valor</div>
                                    <div ng-message-default>Este campo tiene un error</div>
                                </div>
                            </div>*@

                        <div class="col-md-4">
                            <label for="club-principal">Club principal</label>
                            <select name="club_principal" ng-model="jugador.cod_club_principal" ng-options="club.cod_club as club.txt_desc for club in clubes" required
                                    class="select2-basic" id="club-principal">
                                <option value="">Seleccioná un club</option>
                            </select>
                            <div ng-messages="jugadorForm.club_principal.$error" ng-if="submitted || jugadorForm.club_principal.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="club-republica">Club república</label>
                            <select name="club_republica" ng-model="jugador.cod_club_republica" ng-options="club.cod_club as club.txt_desc for club in clubes"
                                    class="select2-basic" id="club-republica">
                                <option value="">Seleccioná un club</option>
                            </select>
                            <div ng-messages="jugadorForm.club_republica.$error" ng-if="submitted || jugadorForm.club_republica.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="clubes-secundarios">Clubes secundarios <em><small>(puede seleccionar más de uno)</small></em></label>
                            <select name="clubes-secundarios" ng-model="jugador.club_secundarios" ng-options="club.cod_club as club.txt_desc for club in clubes
                                    | filter:{ cod_club: '!' + jugador.cod_club_principal}" class="select2-basic" multiple id="clubes-secundarios">
                                <option value="">Seleccioná uno o más clubes</option>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <label for="" class="m-b-0">Permisos</label>
                            <input type="checkbox" ng-model="jugador.isAdmin" name="admin" id="admin"><label for="admin">Admin club</label>
                            <input type="checkbox" ng-model="jugador.bool_veedor" name="veedor" id="veedor"><label for="veedor">Veedor</label>
                        </div>

                        <div class="col-md-12">
                            <h3>Redes sociales</h3>
                        </div>

                        <div class="col-md-4">
                            <label for="facebook">Facebook <i class="icon-question has-tooltip" title="Pegue el nombre del perfil"></i></label>
                            <input type="text" ng-model="jugador.txt_facebook" name="facebook" id="facebook">
                        </div>

                        <div class="col-md-4">
                            <label for="twitter">Twitter <i class="icon-question has-tooltip" title="Pegue el nombre del perfil"></i></label>
                            <input type="text" ng-model="jugador.txt_twitter" name="twitter" id="twitter">
                        </div>

                        <div class="col-md-4">
                            <label for="instagram">Instagram <i class="icon-question has-tooltip" title="Pegue el nombre del perfil"></i></label>
                            <input type="text" ng-model="jugador.txt_instagram" name="instagram" id="instagram">
                        </div>

                        <div class="col-md-4 col-md-offset-8">
                            <button class="btn btn-xl btn-full btn-lightblue text-left m-t-20" ng-class="{'disabled': saved}"
                                    data-modal="finInscripcion" ng-click="guardarJugador(jugadorForm)" ng-disabled="saved">
                                Guardar cambios
                                <i class="icon-arrow-thin-right pull-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="confirmarSalir">
    <div class="modal-overlay" data-dismiss="confirmarSalir"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="&#xe063;">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="confirmarSalir"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Si abandonás esta página ahora, perderás los cambios que no hayas guardado. ¿Estás seguro de que querés salir?</p>

                    <div class="modal-opciones text-right">
                        <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="confirmarSalir" ng-click="volverAlListado()">Salir y descartar cambios</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarSalir" onclick="closeModal()">Continuar editando</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmarExitoSalir">
    <div class="modal-overlay" data-dismiss="confirmarExitoSalir"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="S">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="confirmarExitoSalir"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Se han aplicado los cambios correctamente.</p>

                    <div class="modal-opciones text-right">
                        <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="confirmarExitoSalir" ng-click="volverAlListado()">Salir</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarExitoSalir" onclick="closeModal()">Continuar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
