﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12" ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body clearfix">
                <h1 class="title-admin pull-left">Jugadores</h1>
                <a href="/PanelControl/#/Jugador" class="btn btn-lightblue pull-right m-t-0"><i class="icon-plus"></i> Cargar jugador</a>
                <a href="/PanelControl/GetExcelReporteJugadoresCompleto" class="btn btn-lightblue pull-right m-t-0 m-r-10"><i class="icon-plus"></i> Descargar reporte</a>
                <div class="clearfix"></div>
                <form class="form-default row">
                    <div class="col-md-4">
                        <input id="buscar-nombre" ng-model="filter.nombre_completo"
                               type="text" placeholder="Buscar jugadores por nombre o número de documento">
                    </div>

                    <div class="col-md-3">
                        <select name="buscar-tipo-jugador" id="buscar-tipo-jugador" ng-model="filter.cod_tipo_jugador"
                                ng-options="tipo.cod_tipo_jugador as tipo.txt_desc for tipo in tiposJugador | orderBy:'cod_tipo_jugador'" class="select2-basic">
                            <option value="" selected>Buscar por tipo de jugador</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <select name="buscar-club" id="buscar-club" ng-model="filter.cod_club"
                                ng-options="club.cod_club as club.txt_desc for club in clubes | orderBy:'cod_club'" class="select2-basic">
                            <option value="" selected>Buscar por club</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <input id="buscar-hand" ng-model="filter.nro_hand"
                               type="number" placeholder="Buscar jugadores por número de handicap">
                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-lightblue btn-full" ng-click="filtrarJugadores((page = 1))"><i class="icon-search"></i> Buscar</button>
                    </div>
                </form>
                <div class="clearfix"></div>
                <table class="table-default table-admin">
                    <thead>
                        <tr>
                            <th>Nombre y apellido</th>
                            <th>Tipo de jugador</th>
                            <th>Handicap</th>
                            <th>Categoria de handicap</th>
                            <th>Tipo de handicap</th>
                            <th>Club</th>
                            <th>Nacionalidad</th>
                            <th title="Recuerde que el usuario estará inactivo si es fallecido o no tiene número de documento">Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="jugador in jugadores track by jugador.cod_usuario">
                            <td data-label="Nombre y apellido"><a href="/PanelControl/#/Jugador/{{jugador.cod_usuario}}">{{jugador.txt_nombre}} {{jugador.txt_apellido}}</a></td>
                            <td data-label="Tipo de jugador">{{jugador.text_tipo_jugador}}</td>
                            <td data-label="Handicap">{{jugador.nro_handicap}}</td>
                            <td data-label="Categoria de handicap">{{jugador.text_categoria_handicap}}</td>
                            <td data-label="Tipo de handicap">{{jugador.text_tipo_handicap}}</td>
                            <td data-label="Club">
                                <a href="/PanelControl/#/Club/{{jugador.cod_club}}">
                                    {{jugador.txt_club}}
                                </a>
                            </td>
                            <td data-label="Nacionalidad">{{jugador.txt_nacionalidad}}</td>
                            @*<td data-label="Estado cuenta" ng-init="getEstadoPago(jugador)">
                        <a href="javascript:void(0)" ng-if="jugador.estadoPago != undefined">al día</a>
                        <a href="javascript:void(0)" ng-if="jugador.estadoPago == undefined">pendiente</a>
                    </td>*@
                            <td data-label="Activo">
                                <div class="toggle" ng-class="{'toggle-active': (jugador.bool_activo && jugador.nro_doc != '' && jugador.nro_doc != '00000000' && jugador.cod_tipo_jugador != 6)
                                     }" ng-click="deleteJugador(jugador.cod_usuario)">
                                    <div class="toggle-inner"></div>
                                </div>
                            </td>
                            <td data-label="Editar perfil"><a href="/PanelControl/#/Jugador/{{jugador.cod_usuario}}" class="btn btn-lightblue btn-small">Editar perfil</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12">
                    <div class="pull-right m-t-20 m-b-20">
                        <button type="button" ng-click="beforePage()" ng-if="page > 1" class="btn btn-lightblue btn-small">Anterior</button>
                        <input type="number" min="1" ng-model="page" ng-change="paginate(page)" value="1" ng-model-options="{debounce: 600}">
                        <button type="button" ng-click="nextPage()" class="btn btn-lightblue btn-small" ng-if="page<pages">Siguiente</button>
                        <label> Cantidad de páginas: {{pages}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>