﻿@*<aside class="admin-nav">
        <ul>
            <li class="current"><a href="javascript:void(0)"><i class="icon-user"></i> Jugadores</a></li>
            <li><a href="/panelControl/#/Clubes/reporte"><i class="icon-flag"></i> Clubes</a></li>

        </ul>
    </aside>*@

<div class="admin-container" ng-init="init()">
    <div class="col-md-4">
        <div class="cuenta-card">
            <i class="icon-user-group"></i>
            <h3>Cantidad total de jugadores</h3>
            <h5>{{cant_Jugadores}}</h5>
        </div>
    </div>

    <div class="col-md-4">
        <div class="cuenta-card">
            <i class="icon-checkmark"></i>
            <h3>Abonaron cuota en el último año</h3>
            <h5>{{cant_abonaron}}</h5>
        </div>
    </div>

    <div class="col-md-4">
        <div class="cuenta-card">
            <i class="icon-cross"></i>
            <h3>No abonaron cuota en el último año</h3>
            <h5>{{cant_no_abonaron}}</h5>
        </div>
    </div>

    <div class="col-md-12" ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <div class="clearfix"></div>
                <form class="form-default row">
                    <div class="col-md-4">
                        <input id="buscar-nombre" ng-model="filtroJugadores.nombre_completo"
                               type="text" placeholder="Buscar jugadores por nombre">
                    </div>

                    <div class="col-md-4">
                        <input id="buscar-dni" ng-model="filtroJugadores.Documento"
                               type="text" placeholder="Buscar jugadores por documento">
                    </div>

                    <div class="col-md-4">
                        <input id="buscar-club" ng-model="filtroJugadores.Club"
                               type="text" placeholder="Buscar jugadores por club">
                    </div>

                    <div class="col-md-4">
                        <input id="buscar-nro-handicap" ng-model="filtroJugadores.NroHandicap"
                               type="text" placeholder="Buscar jugadores por número de handicap">
                    </div>

                    <div class="col-md-4">
                        <select id="buscar-pago-handicap" ng-model="filtroJugadores.sn_pago">
                            <option value="" selected>Seleccione estado de cuenta</option>
                            <option value="1" selected>Al día</option>
                            <option value="0" selected>Vencido</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-lightblue btn-full" ng-click="filtrarJugadores((page = 1))"><i class="icon-search"></i> Buscar</button>
                    </div>
                </form>

                <div class="clearfix"></div>
                <br />

                <h1 class="title-admin pull-left">Cuenta corriente - Jugadores</h1>
                <a href="/PanelControl/GetExcelReporteJugadores" class="btn btn-lightblue pull-right m-t-0"><i class="icon-download"></i> Descargar en Excel</a>
                <a href="/PanelControl/GetExcelReporteAllJugadores" class="btn btn-lightblue pull-right m-t-0"><i class="icon-download"></i> Descargar Completo</a>
                <div class="clearfix"></div>

                <table class="table-default table-admin">
                    <thead>
                        <tr>
                            <th>Jugador</th>
                            <th>Club</th>
                            <th>Tipo jugador</th>
                            <th>Nacionalidad</th>
                            <th>Cat. handicap</th>
                            <th>Tipo handicap</th>
                            <th>Nro. handicap</th>
                            <th>Estado de cuenta</th>
                            <th>Fecha de último pago</th>
                            <th>Monto</th>
                            <th>Fecha de pago</th>
                            <th>Tipo de pago</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="jugador in filteredRows = (lstJugadores | filter: filtroNuevo) | limitTo : limitePagina : ((pagina -1 ) * limitePagina) ">
                            <td data-label="Nombre y apellido"><a href="/PanelControl/#/Jugador/{{jugador.cod_usuario}}"><strong>{{jugador.Nombre}} {{jugador.Apellido}}</strong></a></td>
                            <td data-label="Club" ng-if="jugador.Club == undefined"><a href="javascript:void(0)">{{jugador.Club}}</a></td>
                            <td data-label="Club" ng-if="jugador.Club != undefined"><a href="/PanelControl/#/Club/{{jugador.cod_club}}">{{jugador.Club}}</a></td>
                            <td data-label="Tipo de jugador">{{jugador.TipoJugador}}</td>
                            <td data-label="Nacionalidad">{{jugador.Pais}}</td>
                            <td data-label="Categoria de handicap">{{jugador.CategoriaHandicap}}</td>
                            <td data-label="Tipo de handicap">{{jugador.Handicap}}</td>
                            <td data-label="Número de handicap">{{jugador.NroHandicap}}</td>
                            <td data-label="Estado cuenta" ng-if="jugador.sn_pago != 0"><i class="icon-checkmark color-green"></i>Al día</td>
                            <td data-label="Estado cuenta" ng-if="jugador.sn_pago == 0"><i class="icon-cross color-red"></i>Vencido</td>
                            <td data-label="Fecha de último pago">{{jugador.fec_ult_pago | date:'dd/MM/yyyy'}}</td>
                            <td data-label="Monto" ng-if="jugador.sn_pago != 0">${{jugador.importe}}</td>
                            <td data-label="Monto" ng-if="jugador.sn_pago == 0">${{jugador.PrecioHandicap}}</td>
                            <td>{{jugador.FechaAlta | date:'dd/MM/yyyy HH:mm'}}</td>
                            <td>{{jugador.TipoPago}}</td>
                            <td data-label="Editar perfil" class="text-right" onclick="clickModal('confirmarPago')"
                                ng-click="popularJugador(jugador)">
                                <a href="javascript:void()" class="btn btn-lightblue btn-small" data-modal="confirmarPago">Confirmar pago</a>
                            </td>
                        </tr>

                    </tbody>
                </table>


            </div>
            <div class="col-md-12">
                <div class="pull-right m-t-20 m-b-20">
                    <button type="button" ng-click="beforePage()" ng-if="pagina > 1" class="btn btn-lightblue btn-small">Anterior</button>
                    <input type="number" min="1" ng-model="pagina" value="1" ng-model-options="{debounce: 600}">
                    <button type="button" ng-click="nextPage()" class="btn btn-lightblue btn-small" ng-if="pagina<pages">Siguiente</button>
                    <label> Cantidad de páginas: {{pages}}</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmarPago">
    <div class="modal-overlay" data-dismiss="confirmarPago" onclick="closeModal()"></div>

    <div class="modal-dialogo modal-dialogo-800">
        <div class="modal-header">
            <h2 data-icon="&#xe062;">Confirmar pago</h2>
            <i class="icon-cross" data-dismiss="confirmarPago" onclick="closeModal()"></i>
        </div>

        <div class="modal-contenido clearfix">
            <form class="border-bottom-striped form-default clearfix">
                <div class="col-md-12">
                    <label for="">Seleccioná un medio de pago</label>

                    <select name="medio-pago" id="medio-pago" onchange="cambiarMedioPago()">
                        <option value="" selected disabled>Seleccioná una opción</option>
                        <option value="efectivo" id="efectivo" data-medio="confirma-efectivo">Efectivo</option>
                        <option value="transferencia" id="transferencia" data-medio="confirma-efectivo">Transferencia</option>
                        @*<option value="tarjeta" id="tarjeta" data-medio="confirma-tarjeta">Tarjeta de crédito</option>*@
                    </select>
                </div>

                <div class="clearfix"></div>

                <div class="confirmar-pago" id="confirma-efectivo">
                    <div class="col-md-6">
                            <label for="articulo">Artículo</label>
                            <select name="articulo" id="articulo" ng-model="jugadorElegido.handicapAPagar" 
                                    ng-options="handicap.cod_handicap as handicap.txt_desc + ' - ' + handicap.tcategoria_handicap.txt_desc for handicap in handicaps">
                                <option value="" selected disabled>Seleccioná un artículo</option>
                            </select>
                        </div>
                    <div class="col-md-6">
                        <label for="comprobante">Adjuntar comprobante</label>
                        <input type="file" ng-model="fileLoad" name="comprobante" id="comprobante"
                               ngf-max-total-size="10MB" ngf-select="upload($file)">
                        <div ng-if="errorArchivo" class="messageValidation" style="color:maroon" role="alert">
                            <div>Debe subir un archivo</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="">Número de comprobante</label>
                        <input type="text" disabled ng-model="jugadorElegido.txt_url_comprobante">
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-lightblue btn-full m-b-0"
                                ng-click="pagoEfectivoTransferencia()" style="margin-top: 33px;">
                            <i class="icon-checkmark"></i> Confirmar pago
                        </button>
                    </div>
                </div>

                <div class="confirmar-pago" id="confirma-tarjeta">
                    <div class="col-md-12">
                        <ul class="jugadores-pago">
                            <li style="display: block;">
                                <div class="jugador-pago" data-precio="5000">
                                    <div class="user-pic" style="background-image: url(../img/avatars/avatar-user1.png)"></div>
                                    <ul class="jugador-pago-data">
                                        <li><strong>{{jugadorElegido.Nombre}} {{jugadorElegido.Apellido}}</strong></li>
                                        <li>DNI: {{jugadorElegido.Documento}}</li>
                                        <li>Handicap: {{jugadorElegido.NroHandicap}}</li>
                                    </ul>
                                    <div class="jugador-radios">
                                        <div class="jugador-radio jugador-radio-categoria">
                                            <span>Categoría de handicap</span>
                                            <label class="has-tooltip" title="Puede participar en torneos oficiales de la AAP">
                                                <input type="radio" ng-model="jugadorElegido.handicapCategoria" ng-click="jugadorElegido.handicapCategoria = '1'
                                                       ;jugadorElegido.temporalidad = 'anual'; filterPrecio(jugadorElegido)"
                                                       name="categoria-1" value="1"><span>A</span>
                                            </label>
                                            <label class="has-tooltip" title="No participa en torneos oficiales de la AAP">
                                                <input type="radio" ng-model="jugadorElegido.handicapCategoria" ng-click="jugadorElegido.handicapCategoria = '2'; 
                                                       filterPrecio(jugadorElegido)" name="categoria-1" value="2">
                                                <span>B</span>
                                            </label>
                                        </div>
                                        <div class="jugador-radio jugador-radio-duracion" style="display:block !important;" ng-init="jugadorElegido.temporalidad = 'anual'">
                                            <span>Duración de handicap</span>
                                            <label class="has-tooltip" title="Válido hasta fin del año en curso">
                                                <input type="radio" ng-model="jugadorElegido.temporalidad" ng-click="
                                                       jugadorElegido.temporalidad = 'anual'; filterPrecio(jugadorElegido)" name="duracion-1" value="anual" checked>
                                                <span>Anual</span>
                                            </label>
                                            <label class="has-tooltip" title="Válido por el mes en curso y el siguiente">
                                                <input type="radio" ng-model="jugadorElegido.temporalidad"
                                                       ng-click="jugadorElegido.temporalidad = 'temporal'; jugadorElegido.handicapCategoria = '2'; filterPrecio(jugadorElegido)" 
                                                       name="duracion-1" value="temporal">
                                                <span>Temporal</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <p class="total-pago">Monto total a abonar: <strong>$<span>{{montoTotal}}</span></strong></p>

                        <a href="javascript:void(0);" class="opcion-pago" ng-click="pagarMercadoPago()">
                            <h5>Continuar a MercadoPago <i class="icon-arrow-thin-right"></i></h5>
                            <p>Confirmación inmediata pagando online con tarjeta de crédito.</p>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
