﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12" ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Cargar club</h1>
                <a href="javascript:void(0)" class="btn btn-lightblue pull-right m-t-0" onclick="clickModal('confirmarSalir')"><i class="icon-arrow-thin-left"></i> Volver al listado</a>

                <div class="clearfix"></div>

                <form class="form-default" name="formClub">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <h3>Información del club</h3>
                        </div>

                        <div class="col-md-4">
                            <label for="nombre">Nombre del club</label>
                            <input type="text" ng-model="club.txt_desc" name="nombre" id="nombre" required>
                            <div ng-messages="formClub.nombre.$error" ng-if="submitted || formClub.nombre.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4 tipoContainer">
                            <label for="tipo-club">Tipo de club</label>
                            <select class="select2-basic" ng-model="club.cod_categoria_club" ng-options="categoria.cod_categoria_club as categoria.txt_desc for categoria in categoriaClubes"
                                    name="tipoclub" id="tipo-club" required>
                                <option value="">Seleccioná un tipo de club</option>
                            </select>
                            <div ng-messages="formClub.tipoclub.$error" ng-if="submitted || formClub.tipoclub.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="cantidad-socios">Cantidad de socios</label>
                            <input type="number" ng-model="club.nro_cant_socios" name="cantidadsocios" id="cantidad-socios" min="1">
                            <div ng-messages="formClub.cantidadsocios.$error" ng-if="submitted || formClub.cantidadsocios.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo debe ser mayor a 0</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="canchas">Canchas</label>
                            <input type="number" ng-model="club.nro_canchas" name="canchas" id="canchas" min="0">
                            <div ng-messages="formClub.canchas.$error" ng-if="submitted || formClub.canchas.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo debe ser mayor a 0</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h3>Autoridades</h3>
                        </div>

                        <div class="col-md-4">
                            <label for="presidente">Presidente</label>
                            <input type="text" ng-model="club.txt_presidente" name="presidente" id="presidente">
                            <div ng-messages="formClub.presidente.$error" ng-if="submitted || formClub.presidente.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="vicepresidente">Vicepresidente</label>
                            <input type="text" ng-model="club.txt_vicepresidente" name="vicepresidente" id="vicepresidente">
                        </div>

                        <div class="col-md-4">
                            <label for="tesorero">Tesorero</label>
                            <input type="text" ng-model="club.txt_tesorero" name="tesorero" id="tesorero">
                            <div ng-messages="formClub.tesorero.$error" ng-if="submitted || formClub.tesorero.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="vocal1">Primer vocal</label>
                            <input type="text" ng-model="club.txt_vocal1" name="vocal1" id="vocal1">
                        </div>

                        <div class="col-md-4">
                            <label for="vocal2">Segundo vocal</label>
                            <input type="text" ng-model="club.txt_vocal2" name="vocal2" id="vocal2">
                        </div>

                        <div class="col-md-4">
                            <label for="vocal3">Tercer vocal</label>
                            <input type="text" ng-model="club.txt_vocal3" name="vocal3" id="vocal3">
                        </div>

                        @*<div class="col-md-4 adminClubContainer">
                                <label for="admin-club">Admin del club</label>
                                <select class="select2-basic" ng-model="club.cod_admin_club" name="admin-club"
                                        ng-options="user.cod_usuario as user.txt_nombre + ' ' +  user.txt_apellido for user in usuarios" id="admin-club">
                                    <option value="">Seleccioná un usuario</option>
                                </select>
                            </div>*@

                        <div class="col-md-12">
                            <h3>Datos de contacto</h3>
                        </div>

                        <div class="col-md-4">
                            <label for="telefono">Teléfono de contacto <i class="icon-question has-tooltip" title="Debe ingresar el código de área"></i></label>
                            <input type="number" ng-model="club.contacto.txt_desc" min="9999999" ng-pattern="regexInt" name="telefono" id="telefono" required>
                            <div ng-messages="formClub.telefono.$error" ng-if="submitted || formClub.telefono.$dirty" class="messageValidation"
                                 style="color:maroon" role="alert">
                                <div ng-message="minlength">Debe tener más de 8 dígitos</div>
                                <div ng-message="pattern">Solo se aceptan números enteros</div>
                                <div ng-message-default>Debe tener 8 dígitos o más</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="email">Email de contacto</label>
                            <input type="text" ng-model="club.txt_mail" ng-pattern="regexEmail" name="email" id="email" required>
                            <div ng-messages="formClub.email.$error" ng-if="submitted || formClub.email.$dirty" class="messageValidation"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message="pattern">No es un email válido</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="clubUbicacion">Calle</label>
                            <input type="text" ng-model="club.tdomicilio.txt_domicilio" name="clubUbicacion" id="clubUbicacion" required>
                            <div ng-messages="formClub.clubUbicacion.$error" ng-if="submitted || formClub.clubUbicacion.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="clubNumero">Número</label>
                            <input type="number" ng-model="club.tdomicilio.nro_domicilio" name="clubNumero" min="0" id="clubNumero" ng-pattern="regexInt" required>
                            <div ng-messages="formClub.clubNumero.$error" ng-if="submitted || formClub.clubNumero.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="piso">Piso</label>
                            <input type="number" ng-model="club.tdomicilio.nro_piso" string-to-number name="piso" id="piso" ng-pattern="regexInt" min="0">
                            <div ng-messages="formClub.piso.$error" ng-if="submitted || formClub.piso.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="dni">Departamento</label>
                            <input type="text" ng-model="club.tdomicilio.txt_departamento" name="depto" id="depto">
                        </div>

                        <div class="col-md-4">
                            <label for="codigoPostal">Código postal</label>
                            <input type="number" ng-model="club.tdomicilio.nro_cod_postal" name="cod_postal" id="cod_postal" min="0" ng-pattern="regexInt">
                            <div ng-messages="formClub.cod_postal.$error" ng-if="submitted || formClub.cod_postal.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4 paisContainer">
                            <label for="pais">País</label>
                            <select class="select2-basic paisSelect" ng-model="club.tdomicilio.cod_pais" ng-change="filterProvincias()"
                                    ng-options="pais.cod_pais as pais.txt_desc for pais in paises | unique: 'txt_desc'"
                                    name="pais" id="pais" required>
                                <option value="">Seleccioná un país</option>
                            </select>
                            <div ng-messages="formClub.pais.$error" ng-if="submitted || formClub.pais.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4 provinciaContainer" ng-show="club.tdomicilio.cod_pais == 33">
                            <label for="provincia">Estado/Provincia</label>
                            <select class="select2-basic provinciaSelect" ng-model="club.tdomicilio.cod_provincia" ng-change="filterMunicipios()"
                                    ng-options="provincia.cod_provincia as provincia.txt_desc for provincia in provincias | unique: 'txt_desc'"
                                    name="provincia" id="provincia">
                                <option value="">Seleccioná una provincia</option>
                            </select>
                            <div ng-messages="formClub.provincia.$error" ng-if="submitted || formClub.provincia.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-4" ng-show="club.tdomicilio.cod_pais == 33">
                            <label for="municipio">Ciudad</label>
                            <select class="select2-basic" ng-model="club.tdomicilio.cod_municipio"
                                    ng-options="municipio.cod_municipio as municipio.txt_desc for municipio in municipios | unique: 'txt_desc'"
                                    name="municipio" id="municipio">
                                <option value="">Seleccioná un municipio</option>
                            </select>
                            <div ng-messages="formClub.municipio.$error" ng-if="submitted || formClub.municipio.$dirty"
                                 class="messageValidation" style="color:maroon" role="alert">
                                <div ng-message="required">Debe completar un valor</div>
                                <div ng-message-default>Este campo tiene un error</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h3>Historia</h3>
                        </div>

                        <div class="col-md-4">
                            <label for="fundacion">Fecha de fundación</label>
                            <input type="text" ng-model="club.fec_fundacion" name="fundacion" id="fundacion" class="datepicker">
                        </div>

                        <div class="col-md-12">
                            <label for="historia">Historia</label>
                            <textarea name="historia" ng-model="club.txt_historia" id="historia" style="height: 200px;"></textarea>
                        </div>

                        <div class="col-md-12">
                            <h3>Redes sociales</h3>
                        </div>

                        <div class="col-md-4">
                            <label for="facebook">Facebook <i class="icon-question has-tooltip" title="Pegue el nombre del perfil"></i></label>
                            <input type="text" ng-model="club.txt_facebook" name="facebook" id="facebook">
                        </div>

                        <div class="col-md-4">
                            <label for="twitter">Twitter <i class="icon-question has-tooltip" title="Pegue el nombre del perfil"></i></label>
                            <input type="text" ng-model="club.txt_twitter" name="twitter" id="twitter">
                        </div>

                        <div class="col-md-4">
                            <label for="instagram">Instagram <i class="icon-question has-tooltip" title="Pegue el nombre del perfil"></i></label>
                            <input type="text" ng-model="club.txt_instagram" name="instagram" id="instagram">
                        </div>

                        <div class="col-md-4 col-md-offset-8">
                            <button class="btn btn-xl btn-full btn-lightblue text-left m-t-20" data-modal="finInscripcion"
                                    ng-class="{'disabled': saved}" ng-click="guardarClub(formClub)" ng-disabled="saved">
                                Guardar cambios
                                <i class="icon-arrow-thin-right pull-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="confirmarSalir">
    <div class="modal-overlay" data-dismiss="confirmarSalir"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="&#xe063;">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="confirmarSalir"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Si abandonás esta página ahora, perderás los cambios que no hayas guardado. ¿Estás seguro de que querés salir?</p>

                    <div class="modal-opciones text-right">
                        <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="confirmarSalir" ng-click="volverAlListado()">Salir y descartar cambios</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarSalir" onclick="closeModal()">Continuar editando</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmarExitoSalir">
    <div class="modal-overlay" data-dismiss="confirmarExitoSalir"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="S">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="confirmarExitoSalir"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Se han aplicado los cambios correctamente.</p>

                    <div class="modal-opciones text-right">
                        <a href="javascript:void(0)" class="btn btn-red m-t-0" data-dismiss="confirmarExitoSalir" ng-click="volverAlListado()">Salir</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarExitoSalir" onclick="closeModal()">Continuar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
