﻿<div class="admin-container" ng-init="init()">
    <div class="col-md-12" ng-class="{'loading': isLoading}">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Clubes</h1>
                <a href="/PanelControl/#/Club" class="btn btn-lightblue pull-right m-t-0"><i class="icon-plus"></i> Cargar club</a>
                <div class="clearfix"></div>
                <div class="panel clearfix">
                    <div class="col-md-12">
                        <h2>Buscar clubes</h2>
                    </div>
                    <form class="form-default">
                        <div class="col-md-4">
                            <input id="buscar-nombre" ng-model="filter.txt_desc" type="text" placeholder="Buscar clubes por nombre">
                        </div>

                        <div class="col-md-3">
                            <select name="buscar-categoria" ng-model="filter.cod_categoria_club" id="buscar-categoria" class="select2-basic"
                                    ng-options="categoria.cod_categoria_club as categoria.txt_desc for categoria in categoriaClubes">
                                <option value="" selected disabled>Buscar por categoría</option>
                            </select>
                        </div>

                        <div class="col-md-2 pull-right">
                            <button type="button" ng-click="filterClubes(1)" class="btn btn-lightblue btn-full"><i class="icon-search"></i> Buscar</button>
                        </div>
                    </form>
                </div>
                <table class="table-default table-admin">
                    <thead>
                        <tr>
                            <th>Nombre del club</th>
                            <th>Categoría</th>
                            <th>Cantidad de socios</th>
                            <th>Admin del club</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="club in clubes">
                            <td data-label="Nombre del club"><a href="/PanelControl/#/Club/{{club.cod_club}}">{{club.txt_desc}}</a></td>
                            <td data-label="Categoría">{{club.tcategoria_club.txt_desc}}</td>
                            <td data-label="Cantidad de socios">{{club.nro_cant_socios}}</td>
                            <td data-label="Admin del club" ng-init="buscarJugadorPrincipal(club)">
                                <a href="/PanelControl/#/Jugador/{{club.jugador_principal.cod_usuario}}">
                                    {{club.jugador_principal.txt_nombre}} {{club.jugador_principal.txt_apellido}}
                                </a>
                            </td>
                            <td data-label="Activo">
                                <div class="toggle" ng-class="{'toggle-active': club.bool_activo}"
                                     title="Activo" 
                                     ng-attr-title="{{getTitulo(club.bool_activo)}}" data-off="Inactivo" onclick="toggle(this)" ng-click="deleteClub(club.cod_club)">
                                    <div class="toggle-inner"></div>
                                </div>
                            </td>
                            <td data-label="Editar perfil" class="text-right"><a href="/PanelControl/#/Club/{{club.cod_club}}" class="btn btn-lightblue btn-small">Editar perfil</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="button" ng-click="beforePage()" ng-if="page > 1" class="btn btn-lightblue btn-small">Anterior</button>
                    <input type="number" min="1" ng-model="page" ng-change="paginate(page)" value="1" ng-model-options="{debounce: 600}">
                    <button type="button" ng-click="nextPage()" class="btn btn-lightblue btn-small" ng-if="page<pages">Siguiente</button>
                    <label> Cantidad de páginas: {{pages}}</label>
                </div>
            </div>
        </div>
    </div>
</div>