﻿@*<aside class="admin-nav">
    <ul>
        <li><a href="/panelControl/#/Jugadores/reporte"><i class="icon-user"></i> Jugadores</a></li>
        <li class="current"><a href="javascript:void(0)"><i class="icon-flag"></i> Clubes</a></li>
    </ul>
</aside>*@

<div class="admin-container" ng-init="init()" ng-class="{'loading': isLoading}">
    <div class="col-md-4">
        <div class="cuenta-card">
            <i class="icon-flag"></i>
            <h3>Cantidad total de clubes</h3>
            <h5>{{cant_clubes}}</h5>
        </div>
    </div>

    <div class="col-md-4">
        <div class="cuenta-card">
            <i class="icon-checkmark"></i>
            <h3>Abonaron cuota en el último año</h3>
            <h5>{{cant_abonaron}}</h5>
        </div>
    </div>

    <div class="col-md-4">
        <div class="cuenta-card">
            <i class="icon-cross"></i>
            <h3>No abonaron cuota en el último año</h3>
            <h5>{{cant_no_abonaron}}</h5>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-profile">
            <div class="panel-body">
                <h1 class="title-admin pull-left">Cuenta corriente - Clubes</h1>
                <a href="/PanelControl/GetExcelReporteClubes" target="_blank" class="btn btn-lightblue pull-right m-t-0"><i class="icon-download"></i> Descargar en Excel</a>

                <div class="clearfix"></div>

                <table class="table-default table-admin">
                    <thead>
                        <tr>
                            <th>Club</th>
                            <th>Jugador admin</th>
                            <th>Categoría</th>
                            <th>Fecha de último pago</th>
                            <th>Monto</th>
                            <th>Estado de cuenta</th>
                            @*<th>Medio de pago</th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="club in lstClubes">
                            <td data-label="Club"><a href="/PanelControl/#/Club/{{club.cod_club}}"><strong>{{club.Club}}</strong></a></td>
                            <td data-label="Jugador admin"><a href="/PanelControl/#/Jugador/{{club.UsuarioAdmin}}">{{club.NombreAdmin}} {{club.ApellidoAdmin}}</a></td>
                            <td data-label="Categoría">{{club.CategoriaClub}}</td>
                            <td data-label="Fecha de último pago">{{club.fec_ult_pago | date:'dd/MM/yyyy'}}</td>
                            <td data-label="Monto" ng-if="club.sn_pago != 0">${{club.importe}}</td>
                            <td data-label="Monto" ng-if="club.sn_pago == 0">${{club.ImporteCat}}</td>
                            <td data-label="Estado cuenta" ng-if="club.sn_pago != 0"><i class="icon-checkmark color-green"></i>Al día</td>
                            <td data-label="Estado cuenta" ng-if="club.sn_pago == 0"><i class="icon-cross color-red"></i>Vencido</td>
                            @*<td data-label="Medio de pago">Efectivo</td>*@
                            <td data-label="Editar perfil" class="text-right" ng-if="club.sn_pago == 0">
                                <a href="javascript:void()" ng-click="popularClub(club)" class="btn btn-lightblue btn-small" onclick="clickModal('confirmarPago')"
                                   data-modal="confirmarPago">Confirmar pago</a>
                            </td>
                            <td data-label="Editar perfil" class="text-right" ng-if="club.sn_pago != 0"></td>
                        </tr>
                    </tbody>
                </table>

                @*<ul class="pagination">
                        <li class="current"><a href="javascript:void(0);">1</a></li>
                        <li><a href="javascript:void(0);">2</a></li>
                        <li><a href="javascript:void(0);">3</a></li>
                        <li><a href="javascript:void(0);">4</a></li>
                        <li><a href="javascript:void(0);">5</a></li>
                        <li><a href="javascript:void(0);">6</a></li>
                        <li><a href="javascript:void(0);">7</a></li>
                        <li><a href="javascript:void(0);">8</a></li>
                        <li><a href="javascript:void(0);">9</a></li>
                        <li><a href="javascript:void(0);">10</a></li>
                    </ul>*@
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmarPago">
    <div class="modal-overlay" data-dismiss="confirmarPago" onclick="closeModal()"></div>

    <div class="modal-dialogo modal-dialogo-800">
        <div class="modal-header">
            <h2 data-icon="&#xe062;">Confirmar pago</h2>
            <i class="icon-cross" onclick="closeModal()" data-dismiss="confirmarPago"></i>
        </div>

        <div class="modal-contenido clearfix">
            <form class="border-bottom-striped form-default clearfix">
                <div class="col-md-12">
                    <label for="">Seleccioná un medio de pago</label>

                    <select name="medio-pago" id="medio-pago" onchange="cambiarMedioPago()">
                        <option value="" selected disabled>Seleccioná una opción</option>
                        <option value="efectivo" id="efectivo" data-medio="confirma-efectivo">Efectivo</option>
                        <option value="transferencia" id="transferencia" data-medio="confirma-efectivo">Transferencia</option>
                        <option value="tarjeta" id="tarjeta" data-medio="confirma-tarjeta">Tarjeta de crédito</option>
                    </select>
                </div>

                <div class="clearfix"></div>

                <div class="confirmar-pago" id="confirma-efectivo">
                    <div class="col-md-6">
                        <label for="comprobante">Adjuntar comprobante</label>
                        <input type="file" ng-model="fileLoad" name="comprobante" id="comprobante" id="fileLoad"
                               ngf-max-total-size="10MB" ngf-select="upload($file)">
                        <div  ng-if="errorArchivo" class="messageValidation" style="color:maroon" role="alert">
                            <div>Debe subir un archivo</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="">Número de comprobante</label>
                        <input type="text" disabled ng-model="clubElegido.txt_url_comprobante">
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-lightblue btn-full m-b-0"
                                ng-click="pagoEfectivoTransferencia()" style="margin-top: 33px;">
                            <i class="icon-checkmark"></i> Confirmar pago
                        </button>
                    </div>
                </div>

                <div class="confirmar-pago" id="confirma-tarjeta">
                    <div class="col-md-12">
                        <ul class="jugadores-pago">
                            <li style="display: block;">
                                <div class="jugador-pago" data-precio="5000">
                                    <div class="user-pic" style="background-image: url(../img/avatars/avatar-club.jpg)"></div>
                                    <ul class="jugador-pago-data">
                                        <li><strong>{{clubElegido.Club}}</strong></li>
                                        <li>{{clubElegido.CategoriaClub}}</li>
                                    </ul>
                                    <div class="jugador-radios">
                                        <div class="jugador-radio jugador-radio-categoria">
                                            <span>Pago de cuota</span>
                                        </div>
                                    </div>
                                    <span class="jugador-pago-precio">$<span>{{clubElegido.ImporteCat}}</span></span>
                                </div>
                            </li>
                        </ul>
                        <p class="total-pago">Monto total a abonar: <strong>$<span>{{clubElegido.ImporteCat}}</span></strong></p>

                        <a href="javascript:void(0);" ng-click="pagarMercadoPago()" class="opcion-pago">
                            <h5>Continuar a MercadoPago <i class="icon-arrow-thin-right"></i></h5>
                            <p>Confirmación inmediata pagando online con tarjeta de crédito.</p>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>